[2019-11-17 23:15] gary-a-zhang commented on #1082
Hello, any finding? I guess it's stuck due to the server configuration, but I don't know exactly where and why as there is not enough output log. Any suggestion?

[2019-11-18 04:17] gary-a-zhang commented on #1082
Just find nginx is not started. Not sure if this will help.

/# ps -ef|grep nginx
root     28573 27442  0 15:15 pts/1    00:00:00 grep --color=auto nginx

[2019-11-18 08:57] kumar1210 commented on #993
Not able to solve it. But i found some workaround. Not sure with the reasons yet.
I am using multiple machine to run the grid. So before starting the hub machine, i run the nodes in other machine and then start the hub. So when hub starts, it starts registering the all nodes subscribed to it. Zalenium route the test cases to the nodes in the same order nodes are registered. So all my test cases ar

[2019-11-18 14:54] Revellski commented on #1010
This may have something to do with local ulimits, thus running as privileged is seen as a workaround. Could anyone confirm their config?

[2019-11-19 05:00] axozoid commented on #1010
HI @pearj @arnaud-deprez  thanks for your reply! Somehow I missed this thread..

Deleting pods forcefully helps, however my initial question was kinda 'why it's happening' and if there was a fix needed from Zalenium side.

Right now we are running K8s `1.12.10` and I can observe this picture when do `kubectl get pods`:

[code]

[2019-11-19 08:40] Revellski commented on #1010
@axozoid we ran into the exact same issues. I've ended upgrading K8s to v1.16.2 but the issue still surfaces after a few days. This may have been caused by poorly sized ulimits. @JRemitz comment is pointing in the same direction.

[2019-11-19 09:42] dmarkdvt opened #1091 "Readiness probe is failing due to no sandbox for pod can be found"
## 🐛 Bug Report
We get a lot of alerts with the error message `Readiness probe failed`.  But in general the application seams to serve as it should. In the logs I can see the error "No sandbox for pod ... found."

## To Reproduce
Check the logs.

## Expected behavior
I expect that this error message is not popping up again.

## Test script reproducing this issue (when applicable)
[code]

## Enviro

[2019-11-19 12:44] henrykuijpers commented on #939
@diemol Any thoughts on this issue? We're hitting these kinds of timeout / forwarding failed issues as well. We're unable to get steady and stable test runs.

[2019-11-19 13:23] henrykuijpers opened #1092 "java.io.EOFException: \n not found: limit=0 content=��� happens randomly (ERROR o.o.g.w.s.handler.RequestHandler - cannot forward the request unexpected end of stream on Connection{172.18.0.10:40161, proxy=DIRECT hostAddress=/172.18.0.10:40161 cipherSuite=none protocol=http/1.1})"
## 🐛 Bug Report

When running tests, all of a sudden invalid responses are output, due to which OkHttp3 breaks with the following stack trace:

Note, the "Caused by: java.io.EOFException: \n not found: limit=0 content=���" is suspicious.

[code]

## To Reproduce

It, unfortunately, happens randomly. We could have a successful test run for days, but then all of a sudden a test starts failing.

## E

[2019-11-19 13:59] ls-sergii-buchovskyi commented on #1092
Look like similar to these:
https://github.com/zalando/zalenium/issues/742
https://github.com/zalando/zalenium/issues/939
https://github.com/zalando/zalenium/issues/993

[2019-11-19 14:00] henrykuijpers commented on #1092
Yes... But never a fix.

[2019-11-19 18:40] henrykuijpers commented on #1092
@diemol
https://github.com/zalando/zalenium/commit/1a584812bfcfb74a762424e1aa2e3849b18efaf3
https://github.com/zalando/zalenium/issues/756#issuecomment-443524279

I see suggestions that this issue could be related to the performance of the environment in which the Docker containers are running. Would the above 2 links be of any help into tackling this issue? I.e. configuring a limit on CPU/memory?

[2019-11-19 19:47] ls-sergii-buchovskyi commented on #1092
We had performance issues in CircleCI last week and that error happened 6-8 times in 5 jobs with 80 tests in total, now when performance is stable we are getting 1-2 errors in test run. It's better but error is still there..

[2019-11-19 21:22] monkpit commented on #796
I had a similar issue with trying to set the `user-agent` - in my case it turns out that I needed to change my parameter in protractor from `chromeOptions:{args: ['--user-agent=TEST']}` to `'goog:chromeOptions': {args: ['--user-agent=TEST']}`.

Without changing it to `goog: chromeOptions` the args were being ignored by the Selenium instance.

This was with protractor version 5.4.2.

[2019-11-20 07:01] CrEaK commented on #593
Im getting the same error on my side. I thinks the error appears because since Selenium 3.141.0 the apache-client is removed. So the property "webdriver.http.factory=apache" is not working and selenium still using the okhttp-client and resulting in this errors :-(

[2019-11-20 10:21] henrykuijpers commented on #1092
That's interesting. So we can confirm that it means the failures are more apparent when there's higher load / lower performance?

I'm still a bit confused on where to search for the root cause: Could it be that one of the grid containers fails, for some reason?

On the other hand: Wouldn't it be desirable to have retries in the client, accessing those containers? I mean, at any point in time a hic

[2019-11-20 14:49] ahaverdings commented on #1092
I have seen the exception occur after a selenium docker container (created by zalenium) is requesting 100% cpu and mem while it is not doing a test execution. When this happens all other containers are very slow and throw timeout exceptions. After the hanging containers is killed order seems to be restored.

As documentation describes that the error occurs when the swarm is overloaded it makes sen

[2019-11-21 15:13] chrlyons commented on #939
This has been a big issue with our automated tests as well, but I haven't been running into the issue with the latest elgalu/selenium docker image released 2 days ago.

[2019-11-21 23:27] joshzcold commented on #1090
Overall After switching to Flannel from Weave test execution has stabilized. No more problems launching browsers or browsers quiting during tests

[2019-11-21 23:27] #1090 closed

[2019-11-24 10:04] Chuseuiti opened #1094 "Zalenium not localhost access, IP based not reachable"
## 💬 Questions and Help
I have deployed an AWS EC2 instance and executed the following command:
[code]
However even though the security group of AWS for port 4444 is reachable, the website doesnt connect. I assume that is a network related configuration of Zalenium, but I couldnt find any documentation.

Also for context if I ssh and execute:
`curl 0.0.0.0:4444`
then the server respond.

Therefore

[2019-11-24 17:34] Chuseuiti commented on #1094
To put a reverse proxy in front of the container did the job, as in:

[2019-11-24 17:35] Chuseuiti commented on #1094
To put a reverse proxy in front did the job, also I would recommend to use docker compose in general instead of the individual dockerfiles of the documentation:

[2019-11-24 17:37] #1094 closed

[2019-11-25 09:09] sayom88 opened #1097 "Disconnect timeout in Zalenium Live Preview"
## 🐛 Bug Report

When my automation scripts are running, I am unable to see the live view as you can see below in the picture
![Untitled](https://user-images.githubusercontent.com/16284729/69526986-07d14680-0f74-11ea-8706-5155133a6a48.png)
,,...it is showing disconnect timeout....can you please suggest how to be able to connect so that I can see the live view please....

[2019-11-25 12:21] fbrandao commented on #1072
To add to @qalinn request this would be extra valuable if you want to pass capabilities to the node containers.
In some situations you might end up with very similar node capabilities which leads tot the capability matcher to not use the desired one.

[2019-11-27 10:43] nucknorris commented on #1039
Not from our side, sorry. We stopped using zalenium due to multiple issues, this one being one of them.

[2019-11-27 13:57] ansonliao commented on #1039
@kumar1210
Don't delete the `videos` directory

[2019-11-27 13:59] ansonliao commented on #1039
Hi @nucknorris , I solved the problem by your comment `It only occurs if I mount /home/seluser/videos. If I remove the mount, my test suite runs without problems.`, now I don't delete the `videos` from my test run, it works fine to me

[2019-11-27 16:15] MarS919 commented on #979
+1. We would need exactly the same capability.

[2019-11-28 14:53] Niyarlatotep opened #1098 "Can zalenium update browser versions from time to time?"
## 🚀 Feature Proposal

Make Zalenium able to update selenium containers to the latest version, on a schedule, or at intervals or on recreating. If param is set.

## Motivation

I'd like to have new versions of browsers containers for testing without manual update and without using additional scripts.

## Example

--pullLatestOnContainerRecreate

[2019-11-29 12:40] xparpx commented on #899
Today I update to Chrome 78 Version with this:

`docker pull elgalu/selenium:latest`

![image](https://user-images.githubusercontent.com/11421732/69869659-5e58c080-12a5-11ea-85f2-52d0aad5a05e.png)

[2019-11-29 21:11] symonk commented on #742
@diemol any updates or ideas regarding this?  unfortunately its causing severe headaches, 3-4 tests every single run which makes it not fit for purpose :(

[2019-12-02 17:35] brianvanstone commented on #1067
Reproducing same when just using helm to install the chart from github

[code]

[code]

[2019-12-05 13:58] kumar1210 opened #1100 "zalenium is reallocating the new request to hub nodes only."
## 🐛 Bug Report

A clear and concise description of what the bug is.

we have created a grid where hub is running in machine and there are few selenium nodes running in other machines. With the latest zalenium image, image is not able to allocate requests to the other machine selenium nodes

## To Reproduce

Create a hub with desiredContainer 5 and create 10 selenium nodes in other machine pointin

[2019-12-06 05:26] Sharathn27 opened #1105 "No Such Session Webdriver Exception"
## 🐛 Bug Report
I have a test suite which runs more than 2000 tests, which invokes the new driver 2000 times.
After around 1400 tests, Zalenium Hub stops responding which results in NoSuchSessionException

## To Reproduce

Steps to reproduce the behavior (including the docker command/docker-compose/Kubernetes manifests to start Zalenium):
We are using stock Zalenium,
We are starting zalenium conta

[2019-12-06 12:30] amitbitcse commented on #727
I also encountered the same problem. While looking for an easier solution, I found that the selenium pods which are created by zalenium are not evicted by CA. Check below link.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

CA might evict the zalenium pod and schedule it on another node during the node scale d

[2019-12-09 07:06] Pooja-prog opened #1106 "Redirect Test execution logs into Zalenium dashboard"
## 💬How to redirect Test execution logs into Zalenium dashboard? So that we can view the selenium logs and Browser logs in the Zalenium dashboard.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https:

[2019-12-09 12:56] elgalu commented on #844
Hi all, could we move FWD with transferring this project outside of Zalando? before it dies and left fully unmaintained.

[2019-12-09 14:48] diemol commented on #844
Created PR #1109 to replace my old Zalando email with @elgalu's email since he is still working at Zalando and the moving the project outside Zalando got stalled.

[2019-12-09 15:01] diemol commented on #951
I close this and I'll let @elgalu handle the repo creation in case we decide to host the helm chart there.

[2019-12-09 15:01] #951 closed

[2019-12-09 15:16] #844 closed

[2019-12-09 15:49] diemol commented on #445
Reopening as PR #1103 was sent to implement this.

[2019-12-09 16:35] diemol commented on #957
Exactly, thank you @micheletest for writing the reasoning of it.

[2019-12-09 16:35] #957 closed

[2019-12-09 16:39] diemol commented on #991
Just an update here, due to the changes that Grid 4.x will have, it becomes really hard to migrate Zalenium to use it. It will be easier to write it from scratch.
Therefore, I have decided to work in the upstream docker-selenium project and port as much functionalities from Zalenium to it. If anyone wants to give us a hand, just start checking the open issues in the Selenium project.
Additionally,

[2019-12-09 16:39] #991 closed

[2019-12-09 16:43] diemol commented on #1009
Hi there,

There is not so much we can do on our side since we don't have the infrastructure to reproduce the issue. Since it is possible to reproduce it on your end, we are open to receive any PRs, thanks!

[2019-12-09 16:47] diemol commented on #1010
Thank you all for your comments, it just seems that it points out to resource allocation or Kubernetes configuration.
If anyone feels that this is a bug in Zalenium, please send us a PR and I will be happy to review it and merge it.

For now, since there is no clear way to see if this is a Zalenium issue, I will close it. Again, feel free to comment and if needed, we can reopen.

[2019-12-09 16:47] #1010 closed

[2019-12-09 16:52] diemol commented on #1017
Well, it all depends on the capabilities sent.
Zalenium has by default some available capabilities
- browserName
- platform
- screen resolution
- time zone

If the test is requesting any different capability from the configured ones, it will create a container with the requested ones.

Closing the issue since this is how Zalenium should behave.

[2019-12-09 16:52] #1017 closed

[2019-12-09 16:53] diemol commented on #1028
Just an update here, due to the changes that Grid 4.x will have, it becomes really hard to migrate Zalenium to use it. It will be easier to write it from scratch.
Therefore, I have decided to work in the upstream docker-selenium project and port as many functionalities from Zalenium to it. If anyone wants to give us a hand, just start checking the open issues in the Selenium project.
Additionally,

[2019-12-09 16:53] #1028 closed

[2019-12-09 16:57] diemol commented on #1034
Hi @OlegZarevych,
I apologize that no one replied to your issue earlier. The thing is that the information provided is not enough to give you good feedback and possible indications on how to troubleshoot it.

If you are still having the issue, please open a new one and provide all requested information.

Thanks!

[2019-12-09 16:57] #1034 closed

[2019-12-09 17:00] diemol commented on #1039
The information used to create the file names is based on the test capabilities sent, we appreciate having this issue reported, but we cannot reproduce it since we don't have a sample of the tests used to bump into it.

For example, the provided docker-compose file has:
[code]
But where are those files?

Could you please provide something we can use to reproduce the issue?

[2019-12-09 17:04] diemol commented on #1046
Hi @jkirkham-ratehub,
Our apologies, we haven't had time to reply to all issues recently...
How would you like to proceed? Are you ok with the solution you found in the previous comment?
In any case, if we want a better solution, we would require a PR because we don't have the resources to implement it on our own.

[2019-12-09 17:06] diemol commented on #1047
Hi all,
Sadly we do not have enough time right now to work on this, a PR is much appreciated!

[2019-12-09 17:17] diemol commented on #1067
@TobiX @brianvanstone if this is still happening, could you please help us with a PR?

[2019-12-09 17:21] diemol commented on #1068
Hey @AndrewBoothman,

Zalenium has internally an nginx running, you can easily leverage that to share your certificate with nginx and deploy it that way.
You could check and adapt this guides to achieve that
https://medium.com/faun/setting-up-ssl-certificates-for-nginx-in-docker-environ-e7eec5ebb418
https://medium.com/@pentacent/nginx-and-lets-encrypt-with-docker-in-less-than-5-minutes-b4b8a60d3a7

[2019-12-09 17:21] #1068 closed

[2019-12-09 17:25] diemol commented on #1069
Yes, if no tests have been executed, then the popup will have that placeholder. Not an elegant solution but ok enough for us.
Would you like to give us a hand and send us a PR to fix it @PeterNgTr?

[2019-12-09 17:27] diemol commented on #1070
@karl0ss is this still happening?
This is mostly due to an issue with Sauce Labs when you tried to run that.

[2019-12-09 17:29] diemol commented on #1036
This should be working normally, @ramapalani could you give us a hand please?

[2019-12-09 17:30] diemol commented on #1071
@monkpit no clue, sorry.
Really hard to say something since we do not have an environment to try out that configuration, and we also are lacking the time to do that.

I will close this issue since it is more a question related to a given environment instead of a Zalenium bug/issue.

[2019-12-09 17:30] #1071 closed

[2019-12-09 17:33] diemol commented on #1072
This is already possible through the env var `ZALENIUM_NODE_PARAMS`
https://github.com/zalando/zalenium/blob/9dbcb5d7505ccd6c0f16ecc42bc797e2c0d1e795/scripts/zalenium.sh#L438

[2019-12-09 17:33] #1072 closed

[2019-12-09 17:35] diemol commented on #1074
Hi @njeffers19,

I apologize, it has taken a while for us to reply to open issues.

I am sorry, I will close this issue since we do not have enough information to reproduce it. The linked gist has a narrative description and we do not know where the used tests are.

Feel free to open a new issue with a complete description.

[2019-12-09 17:35] #1074 closed

[2019-12-09 17:36] diemol commented on #1079
Closing since we did not get a reply from the OP

[2019-12-09 17:36] #1079 closed

[2019-12-09 17:36] diemol commented on #1081
There is a search field in the dashboard. Just type the value you need.

[2019-12-09 17:36] #1081 closed

[2019-12-09 17:37] diemol commented on #1083
Cleanup just deletes tests, videos and logs older than X days.

[2019-12-09 17:37] #1083 closed

[2019-12-09 17:39] diemol commented on #1084
Hey @goedelsoup,

Thanks for bringing this up, I didn't know about Nomad.

The sad part is that due to the changes that Grid 4.x will have, it becomes really hard to migrate Zalenium to use it. It will be easier to write it from scratch.
Therefore, I have decided to work in the upstream docker-selenium project and port as many functionalities from Zalenium to it. If anyone wants to give us a hand,

[2019-12-09 17:39] #1084 closed

[2019-12-09 17:40] diemol commented on #1086
This is a question rather than an issue. Please ask questions in the #zalenium channel at [Slack](https://seleniumhq.herokuapp.com/)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2019-12-09 17:40] #1086 closed

[2019-12-09 17:40] diemol commented on #1087
Thanks for replying @yosserO!

[2019-12-09 17:40] #1087 closed

[2019-12-09 17:41] diemol commented on #1097
This is the normal behavior, after the test finishes the container are destroyed, therefore the VNC connection ends.

[2019-12-09 17:41] #1097 closed

[2019-12-09 17:42] diemol commented on #1098
When we started the project we thought about doing that, nevertheless, we prefer that users have full control over their environment and we discarded implementing it.

[2019-12-09 17:42] #1098 closed

[2019-12-09 17:43] diemol commented on #1106
This is a question rather than an issue. Please ask questions in the #zalenium channel at [Slack](https://seleniumhq.herokuapp.com/)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2019-12-09 17:43] #1106 closed

[2019-12-09 17:45] diemol commented on #1105
Hi @Sharathn27,

Sorry, we cannot find a way to reproduce and help you troubleshoot the issue with the information provided. A wild guess could be that the environment is under-provisioned.

I will close this since we can treat it as a question, please join the #zalenium channel at [Slack](https://seleniumhq.herokuapp.com/) or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/z

[2019-12-09 17:45] #1105 closed

[2019-12-09 17:50] diemol commented on #1100
Hi @kumar1210,

Could you please provide the images you are using to start the containers? What Zalenium version?

Where are the other nodes coming from?

There is not enough information to troubleshoot this.

[2019-12-09 17:56] diemol commented on #1092
So this is mostly a duplicate of #939
In the end, regarding issue reproduction, we are in the same situation as you all mention... I have tried several times to reproduce it and never achieved it. So it is really hard to fix something we cannot reproduce.

Again, I apologize for not providing a complete answer or pointing to a solution, but the clear point is that no one has at least provided a wa

[2019-12-09 17:56] diemol commented on #1092
I will close this one so the conversation continues in #939

[2019-12-09 17:56] #1092 closed

[2019-12-09 17:58] diemol commented on #1091
Hi @dmarkdvt,

Thanks for raising the issue, but I checked the logs and gave it a quick try and see if I could reproduce the issue, end result is that I could not.

Please feel free to create a new issue with a descriptive and complete way to reproduce the issue.

[2019-12-09 17:58] #1091 closed

[2019-12-10 01:00] gary-a-zhang commented on #1082
Update the issue and reopen the issue as I couldn't find the cause. It should be zalenium or our environment. After around one month investigation, still not able to solve the problem. Could you give me some suggestion?

[2019-12-10 06:56] sandeepbiyer commented on #742
Do we have any solution for this one yet? This issue seems to be open for almost an year now.

[2019-12-10 07:11] sandeepbiyer commented on #939
This issue again happened today. But we are using zalenium version dosel/zalenium:3.12.0g

@chrlyons are you using latest zalenium versions?

Here is the docker compose entry for zalenium that we are using:

[code]

[2019-12-10 07:44] sumanthnarayanrajurssap opened #1114 "Build Failing on DockerHub"
Hello,

when i try to build the project on docker hub it is throwing error as
Step 42/53 : ENV ZAL_VER="${project.build.finalName}" BROWSER_STACK_TUNNEL_OPTS="-skipCheck -v -forcelocal" BROWSER_STACK_TUNNEL_ID="zalenium" BROWSER_STACK_TUNNEL="false" BROWSER_STACK_WAIT_TIMEOUT="2m" SAUCE_TUNNEL_MAX_RETRY_ATTEMPTS="1" SAUCE_TUNNEL_READY_FILE="/tmp/sauce-connect-ready" SAUCE_TUNNEL_ID="zalenium" SAUC

[2019-12-10 08:53] diemol commented on #742
I am not sure how I can help, I have never been able to reproduce the issue 😢
I think the easiest way to help is either provide a way to reproduce the problem in a descriptive way (narratives without concrete steps do not help), or actually find and solve the issue by sending us a PR.

[2019-12-10 08:55] diemol commented on #939
I am not sure how I can help, I have never been able to reproduce the issue 😢
I think the easiest way to help is either provide a way to reproduce the problem in a descriptive way (narratives without concrete steps do not help) or actually find and solve the issue by sending us a PR.

[2019-12-10 08:55] diemol commented on #1114
Please follow the steps provided at https://opensource.zalando.com/zalenium/#contributing

[2019-12-10 08:55] #1114 closed

[2019-12-10 09:03] diemol commented on #1082
Since this is a question rather than an issue, I already started replying in the StackOverflow issue linked above.
I'll close this issue and continue the conversation over there.

[2019-12-10 09:03] #1082 closed

[2019-12-10 10:04] loudDD opened #1115 "the download popup in the chrome though the related setting already update"
chromePrefs.put("profile.default_content_setting_values.automatic_downloads", 1);
		chromePrefs.put( "profile.content_settings.pattern_pairs.*.multiple-automatic-downloads", 1 );
		chromePrefs.put("profile.content_settings.exceptions.automatic_downloads.*.setting", 1 );
		chromePrefs.put("download.prompt_for_download", false);
		chromePrefs.put("download.directory_upgrade", true);
![image](https:/

[2019-12-10 10:24] diemol commented on #1115
Hi @Sharathn27,

I will close this is a question, please join the #zalenium channel at [Slack](https://seleniumhq.herokuapp.com/) or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2019-12-10 10:24] #1115 closed

[2019-12-10 12:26] mohitbansal-gep opened #1116 "Google Analytics :- How to turn it off"
## 💬 Questions and Help
How Can i turn off Google Analytics , will this command is for turning off google analytics
**_--sendAnonymousUsageInfo false_**

[2019-12-10 12:44] diemol commented on #1116
Yes, that is the command.

[2019-12-10 12:44] #1116 closed

[2019-12-10 15:33] PeterNgTr commented on #1069
@diemol seems like after you clicked the reset button, the text on cleanup popup will work fine.

[2019-12-10 16:14] Niyarlatotep commented on #1098
@diemol Thank you for responce. It could be set by an option it shouldn't work by default.

[2019-12-10 16:28] henrykuijpers opened #1117 "Error forwarding the new session Request timed out waiting for a node to become available."
## 🐛 Bug Report

[code]

## Expected behavior

Containers get disposed, so they can be used by other tests again

## Test script reproducing this issue (when applicable)

Start test-suite, run tests, notice that containers are not disposed

## Environment

Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'MB0010-95db', ip: 'fe80:0:0:0:73:e351:

[2019-12-10 16:29] henrykuijpers commented on #1117
The containers are not doing anything:

![image](https://user-images.githubusercontent.com/6546957/70548322-a237a980-1b72-11ea-8db4-f9b818c3a25c.png)

And Zalenium says:
[code]

[2019-12-10 16:31] henrykuijpers commented on #1117
@diemol , I tried reaching you by mail as well. Would it be an idea to have a look at the current hanging containers? Or is more necessary to be able to troubleshoot this issue?

Using Zalenium 3.141.59v and the newer elgalu containers.

[2019-12-10 20:33] chrlyons commented on #939
@sandeepbiyer, yes I am using the most recent images for both zalenium and elgalu/selenium. I am not running into these errors as frequently as in previous versions but they still are popping up from time to time but only when we are running multiple tests in parallel.

[2019-12-10 21:23] diemol commented on #1117
I just tried the released version and it is working for me.

It would be cool to have a way to reproduce the issue.

[2019-12-10 21:27] diemol commented on #1098
Understood, feel free to send us a PR for this 🙌

[2019-12-10 21:41] diemol commented on #1069
Yeah, that is expected, so if it is ok I will just close this issue and in case someone wants to help us with a more elegant solution, we will be happy to accept a PR.

Thanks, @PeterNgTr for raising this, an issue also serves as documentation 🙌!

[2019-12-10 21:41] #1069 closed

[2019-12-11 13:19] #445 closed

[2019-12-11 15:52] Nilsty commented on #1067
We ran into the same issue with our Zalenium setup.
Once we defined a security context in our deployment.yaml, the NullPointerExeption disappeared.
![image](https://user-images.githubusercontent.com/23235511/70636857-8ac1f480-1c36-11ea-93c8-9f0efb6b3213.png)

[2019-12-11 18:30] ramapalani commented on #1036
@diemol Firefox and Chrome images are coming from Selenium source and it doesn't allow to add a context path.
- We could make the Selenium source code context aware
- Or Get the image in Zalenium and somehow update the link in the html to images in Zalenium (with context path)

I'm currently busy with other things, so wouldn't be able to work on this.  But I can review/help anyone who wants to wor

[2019-12-11 21:06] diemol commented on #1036
Ah ok, got it @ramapalani, so this is a known issue 👍
I am not sure if it is possible to fix it because there won't be any more releases for Selenium 3.x, and the Grid for 4.x will change completely and I am not sure if someone has time to migrate Zalenium to Grid 4.x.

Having said that, I will close this issue as a won't fix because it requires a lot of effort and the added value is quite small.

[2019-12-11 21:06] #1036 closed

[2019-12-12 06:09] tanwangw opened #1119 "Does this project need volunteer for performing automation testing?"
## 💬 Questions and Help
Someone with strong manual testing and limited coding experience. She would like provide her automation experience. Would this project need anyone to perform automation testing?

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged

[2019-12-12 12:49] ionutradu-tm commented on #1117
Hey @diemol
I've the same issue, but with zalenium "Image": "sha256:c52ad7e79971142a1f42779ceac674b56e931b3e6fd1ba175c3ec48c9dfc200e",

[2019-12-12 12:56] diemol commented on #1117
😢

[2019-12-12 12:59] ionutradu-tm commented on #1117
We don't have also. Sometime the issue occurs after few test suites, sometime at the first test suite.
I still have the logs if you need something. What I've noticed so far is that at some point the "22:41:48.492 [AutoStartProxyPoolPoller] DEBUG d.z.e.z.proxy.AutoStartProxySet - Checking containers..." disappears from the logs.

[2019-12-12 13:06] ionutradu-tm commented on #1117
The system is still up if you want to run some commands.

[2019-12-12 14:34] karl0ss commented on #1070
I have not tried for a few weeks, I will have a look tomororw and see if this is still happening, thank you for getting back to me.

[2019-12-12 16:09] rplevka commented on #1117
We're experiencing this too.
I checked the container logs and apparently the old nodes are not being brought down.
[our docker-compose.yaml](https://pastebin.com/5YVKdF78) (i know we're running a slightly outdated version of selenium, but we're currently limited to chromedriver v74)

[here](https://pastebin.com/raw/HwBhxzmL)'s a part of the container logs. IT shows the last nodes that were "alive"

[2019-12-12 16:18] brianvanstone commented on #1067
@diemol @Nilsty I was similarly able to configure a security context to avoid the NullPointerExeption

[2019-12-12 17:15] ionutradu-tm commented on #1117
@rplevka check the file length. I don't check it how . I had this issue. First time it was the file length, after that no reason.

[2019-12-12 18:32] msedhu1007 opened #1120 "java connect Exception: Connection Refused on starting Zalenium"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)
I am using Zalenium for running automation scripts.  I face java connect exception on starting

[2019-12-12 18:45] msedhu1007 commented on #1120
[dockerlogs.txt](https://github.com/zalando/zalenium/files/3957337/dockerlogs.txt)
[seleniumlogs.txt](https://github.com/zalando/zalenium/files/3957340/seleniumlogs.txt)

Please find Docker logs and Selenium execution logs. Both throw the same connection refused exception.

[2019-12-12 19:17] ionutradu-tm commented on #1117
I don't have this error, even I saw it few days ago, but the behavior is the same (Error forwarding the new session Request timed out waiting for a node to become available).

What I've noticed is that even I've maxDockerSeleniumContainers 50, they are only 46 nodes up, zalenium believes that there are 50 nodes up (DEBUG d.z.e.z.proxy.AutoStartProxySet - Not starting new container, there are [50]

[2019-12-13 10:51] dmarkdvt commented on #1091
Ok, I will do.

Can you please tell me in which environment you have tested it?

[2019-12-13 10:53] diemol commented on #1091
Local K8S cluster and GKS.

[2019-12-13 10:54] dmarkdvt commented on #1091
Please be more precise. I need at least versions like this.

[code]

[2019-12-14 16:19] sujata00 opened #1121 "Is there Zalenium docker image available for a Linux ppc architecture ?"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2019-12-14 19:10] diemol commented on #1120
Yes, this is normal. You are running with `--debugEnabled true`, which just outputs everything, and one of those things is the health check of booting containers. The first health check can fail, but subsequent ones will work, that is why everything works afterwards.

[2019-12-14 19:10] #1120 closed

[2019-12-14 19:11] diemol commented on #1121
There is only one docker image for Zalenium, which should work in all environments.

[2019-12-14 19:11] #1121 closed

[2019-12-14 19:13] diemol commented on #1119
As any open source project, this one would benefit from any type of testing. Please read our contribution guidelines and send contributions in any possible way. Thank you! 🙇

[2019-12-14 19:13] #1119 closed

[2019-12-14 19:14] diemol commented on #1067
Thank you @Nilsty for the important tip. If anyone wants to send a PR to add this to the docs, it would be welcomed. Or we can just leave it here, which also helps as documentation.

[2019-12-14 19:14] #1067 closed

[2019-12-14 19:15] diemol commented on #977
@elgalu can you please help with @micheletest's question?

[2019-12-14 19:31] elgalu commented on #977
Hi, no, it doesn't interact with the host X server, we use xvfb-run

[2019-12-14 19:32] elgalu commented on #977
ALL please consider to start [sponsoring](https://github.com/sponsors/elgalu) we do this in our free time;)

[2019-12-15 00:23] msedhu1007 commented on #1120
My Selenium scripts Fail as well with java.net.ConnectException: Connection refused (Connection refused). I hav attached those logs as well. I initiated my Selenium scripts only after the zalenium is up and running. I also cross checked to see "http://ip address:4444/grid/console" is up and running before initiating scripts. Automation scripts launch the chrome browser , opens the web page and fai

[2019-12-16 08:22] topproto opened #1122 "Using Zalenium without using Helm"
Hi,

I would like to start working with Zalenium

I have a Kubernetes cluster that connects to a private repository. We would never access any external repos such as docker.io. All images we used go though a strict set of guidelines before they can be used.

The Kubernetes install you offer from what I can tell is only using Helm.

Do you have a non Helm install for those who are not able to use p

[2019-12-16 11:44] diemol commented on #1122
@topproto you can always provide your own image. E.g., push `elgalu/selenium` to your private docker registry and use it from there. Of course, you would need to adjust the helm chart values.

[2019-12-16 11:44] #1122 closed

[2019-12-18 14:59] svenstaro opened #1123 "How to change the generated slave container's base name when running on OpenShift?"
## 🐛 Bug Report

My containers generated on OpenShift by Zalenium work fine and I have videos and I'm actually pretty happy. However, they are called `null-40000-25t48`, `null-40000-ad12a` and such. They also don't receive proper labels. How can I change this and choose a proper base name such as `zalenium-slave`? Also, it'd be useful to choose their labels to be `app=zalenium-slave` or such.

I'm

[2019-12-18 15:13] #1123 closed

[2019-12-18 15:14] svenstaro commented on #1123
This was an oversight on my part! I set a label on the `DeploymentConfig`'s template `name: zalenium` but it should have been `app: zalenium`. Now it's fine!

[2019-12-20 10:16] symonk commented on #993
I am 99% certain this is caused by spikes in performance folks, get prometheus / grafana data for your runs.  I noticed when this happened i spiked to 90-95% CPU on the EC2, we bumped it up substantially and this never happens any longer, we now peak at 55% cpu

[2019-12-20 17:46] ansonliao commented on #1039
@diemol

Thanks for your reply and apology for the late reply.

Initialize the WebDriver instance is simple, similar as below:

[code]

But I think the problem is when the `zalenium` docker container is running, and then deleted the `videos` directory forced, and then re-run the test against to the running `zalenium` docker service, maybe can cause this problem.

Why I said `maybe`, because we are

[2019-12-20 17:52] ansonliao commented on #1039
@nikhil-lambda
We are stopping using zalenium as our selenium grid also, and seeking other solution for it, we are meet this problem: #594 , and we tried many solutions include the discussed this the issue #594, also similar to :
https://stackoverflow.com/questions/54468143/zalenium-node-container-terminate-and-restart-continuously-on-using-proxy

but no luck to us.

[2019-12-21 11:09] sujata00 commented on #1121
Hi @diemol ,

The image available in docker hub is for x86 systems.If it works for all the ARCHS the same way then why i am getting the below error:

**Docker command:**

root@b64-linux1:~# docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start

**Output:**
standard_init_linux.go:211: exec

[2019-12-22 03:51] diemol commented on #1039
OK, so we never really got a clear description on how to reproduce this to figure out if it is a bug or not. Since the OP has no way to provide this, I'll close the issue.

[2019-12-22 03:51] #1039 closed

[2019-12-30 05:16] axozoid opened #1124 "hub.retentionPeriod is ignored"
## 🐛 Bug Report

We observe that Zalenium pod keeps growing till it's maximum memory limit and remains at that level till we manually clean up the dashboard or kill the pod.

## To Reproduce

Zalenium is deployed via the chart.

## Expected behavior

Dashboard cleanup happens automatically.

## Environment
Selenium image: elgalu/selenium:3.141.59-p27
Zalenium image: dosel/zalenium:3.141.59u

OS:
[

[2019-12-30 14:30] vinotharuchamy opened #1125 "Frequent test disconnection while using proxy variables"
Hi,

When i run Zalenium without any proxy variables (: zalenium_http_proxy, zalenium_https_proxy, and zalenium_no_proxy), it works stable. But when I add these proxy variables to connect outside my org, it terminate after few seconds (say approx. 60 seconds) of exectution with "Java.net.connectexpection: connection refused" error. Please note this happens afer few seconds of running test and this

[2020-01-02 20:26] antlong commented on #1009
Please run and provide the result from `kubectl describe nodes <NODE_NAME>`

[2020-01-03 00:29] newsn31 opened #1126 "Docker container cannot be interacted with after render failing"
It seems like if the chromedriver times out while waiting on render, the zalenium container just freezes and you can't interact with it anymore. This is an image where the container just freezes between screens.  If you click into interactive mode, you can't do anything.

![image](https://user-images.githubusercontent.com/10625800/71701202-fce0b180-2d7c-11ea-8c02-e38ebcc45dca.png)

[1578009023.425

[2020-01-03 04:22] diemol commented on #1125
This is a question rather than an issue. Please ask questions in the #zalenium channel at [Slack](https://goo.gl/9o4J3Y)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2020-01-03 04:22] #1125 closed

[2020-01-05 16:35] sormy commented on #939
We had the same issue with vanilla Selenium 3.141.59. The issue is triggered when node is responding slowly (due to high load or if it is slow itself). The solution provided on another thread helped: https://github.com/zalando/zalenium/issues/742#issuecomment-448606083

What worked for us:

* downgrade **only hub** to 3.14.0 (that has integrated "apache http commons")
* pass `-Dwebdriver.http.fact

[2020-01-06 08:39] luisxiaomai opened #1127 "Add a cookie named zaleniumMessage in selenium python, but nothing display in video"
I used python code likes ` driver.add_cookie( {'name':'zaleniumMessage', 'Test xxxx'})` to reference my tests steps in the recorded video, but nothing displayed in video.

Any help is appreciated ?

[2020-01-07 10:46] dmarkdvt opened #1128 "Tests are getting stuck with elgalu/docker-selenium:3.141.59-p34-35"
## 🐛 Bug Report

Tests are getting stuck when you are using Zalenium 3.141.59(u-w) with elgalu/docker-selenium:3.141.59-p34-35. That means that you have to click in a Window from the Live preview manually. Then the test is continuing. Everything is running fine with elgalu/docker-selenium:3.141.59-p32.

## To Reproduce

Steps to reproduce the behavior (including the docker command/docker-compose/K

[2020-01-09 06:38] PriyaMuthuvel commented on #679
Hi,

I have tried the below commands but the thing is local host is not connecting.

**Executing the docker zalenium commands**
![image](https://user-images.githubusercontent.com/23624668/72043774-0f586f00-32d8-11ea-9764-605f13b34534.png)

![image](https://user-images.githubusercontent.com/23624668/72043922-7f66f500-32d8-11ea-8f1c-9397c46d4d75.png)

Kindly let me know where am missing

[2020-01-10 03:49] diemol commented on #1127
Hi @luisxiaomai,

Since there is no reproduction scenario we cannot really say what the issue could be. Feel free to ask questions in the #zalenium channel at [Slack](https://goo.gl/9o4J3Y)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2020-01-10 03:49] #1127 closed

[2020-01-10 04:01] diemol commented on #1128
Hi @dmarkdvt,

 I will close this issue since there is no reproduction scenario, only a narrative. Feel free to open a new issue when a script that reproduces the issue is attached.

[2020-01-10 04:01] #1128 closed

[2020-01-10 04:42] diemol commented on #1126
@newsn31 how can this be reproduced? (Please no narrative descriptions, rather an automation script that we can execute to reproduce the issue)

[2020-01-10 06:15] dmarkdvt commented on #1128
Okay, do you have an example issue where such a script is provided? Then I can create a new proper issue.

[2020-01-10 15:01] pavelsmolensky commented on #1128
Observing the same problem starting from Chrome 79. There is an error "Timed out receiving message from renderer..." in chrome logs. @dmarkdvt Do you also use chrome and have this error log entry? It's unlikely to be zalenium's issue though.

[2020-01-11 19:02] newsn31 commented on #1126
I'll see if I can isolated this into a repository tonight sometime this weekend.  Or you can close this issue for the time being and I'll comment here when I have an automation script you can run.

[2020-01-12 09:11] sujata00 opened #1129 "Is there a Zalenium image available for a linux ppc architecture ? The official zalenium image works only for x86 ARCH."
The Zalenium image available in the docker hub is for x86 systems. It does not work on linux ppc ARCH system.

**Docker command:**

root@b64-linux1:~# docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start

**Output:**
standard_init_linux.go:211: exec user process caused "exec format error"

[2020-01-13 09:11] rootux commented on #833
I'm still having this issue on `latest version` released on `12/9/2019` - I guess this is `3.141.59w`
Freezing nodes - Seems to be allocated but actually just being frozen while I get timeouts
<img width="1335" alt="Screen Shot 2020-01-13 at 11 10 23" src="https://user-images.githubusercontent.com/1032526/72243776-71291980-35f5-11ea-8a19-16ba30145696.png">

[code]

[2020-01-16 16:57] diemol commented on #1129
@sujata00 there is not. We do not plan to add more docker images to support that. But as any open source project, feel free to contribute 👍

[2020-01-16 16:57] #1129 closed

[2020-01-16 16:58] diemol commented on #1126
Ok, closing until we get an automation script to reproduce the issue.

[2020-01-16 16:58] #1126 closed

[2020-01-17 10:51] rootux commented on #939
@sormy Thank you, yet this did not worked.
I've tried downgrading the selenium image to `3.14.0` and the `zalenium` to `3.14.0g` and then `3.14.0.a` and it kept happening

[2020-01-17 17:39] sormy commented on #939
Just downgrading doesn't help. You also need to explicitly pass `-Dwebdriver.http.factory=apache` to fix the issue.

[2020-01-17 20:34] rootux commented on #939
I've passed that flag also.
Can you put here how you start your docker container?

On Fri, 17 Jan 2020, 19:39 Artem Butusov, <notifications@github.com> wrote:

[2020-01-17 23:04] sormy commented on #939
I use vanilla Selenium with my own docker containers so can't exactly say how should it work on Zalenium without additional research.

[2020-01-18 09:46] rootux commented on #593
I'm setting getting this error

[2020-01-20 07:22] ssarraju commented on #593
This issue is happening even after adding those parameters.

[2020-01-20 09:45] svenstaro opened #1135 "Pods keep failing rapidly since 3.141.59x on OpenShift"
## 💥 Regression Report

We get rapidly failing and restarting containers starting with 3.141.59x. This is on OpenShift 3.11 which is likely relevant. The errors observed are:

[code]
upon which the container terminates and Zalenium tries to start a new one.

## Last working version

Worked up to version: 3.141.59w

Stopped working in version: 3.141.59x

## To Reproduce

Broken config:
[code]

## E

[2020-01-20 09:53] kumar1210 commented on #939
This is quite on-going issue with the zalenium, i have used different versions and all the suggestions discussed here.
One thing i observed with this is, it happens quite often when there are long tests are running or if there are nodes registered to hub from different machines.

Version i have tested it in latest and dosel/zalenium-3.14.0g.
The script which we are running is :
docker run --rm -d

[2020-01-20 10:27] dmarkdvt commented on #1128
@pavelsmolensky We are using Chrome. Are the logs created by default or how can I access it?

[2020-01-20 12:19] kumar1210 commented on #939
There is one more approach i tried, i took up the basic docker selenium grid and tried to run the same tests in the grid. And there were no exception as such
1) FORWARDING_TO_NODE_FAILED
2) cannot forward the request Failed to connect to /172.17.0.9:40097
3) cannot forward the request unexpected end of stream on Connection
4) Session [4ec4eae3-8ebd-42c9-8a85-de63656a1268] was terminated due to PRO

[2020-01-20 17:20] chrlyons commented on #939
@kumar1210, I believe that was part of the issue I was facing, you could try passing in `--maxTestSessions 10` which will allow you to modify how many tests can run per container.  But having said that, it did not solve all our issues running tests so your mileage may vary.

[2020-01-21 09:46] xMutaGenx commented on #1135
Experiencing the same issues here

[2020-01-21 11:03] lcharlois-neotys commented on #1135
Hi,

We are experiencing the same issue since the last release too.

`line 234: /tmp/mounted/519102bd-2222-4097-aea3-73749d02fdbc/var/log/cont/firefox_browser.log: No such file or directory`

Regards,
Laurent.

[2020-01-21 14:13] Imroath commented on #1135
The same issue here

[2020-01-21 15:19] smoke commented on #1135
I confirm switching back to 3.141.59w works for me. In this version the LOGS_DIR=/var/log/cont and I suspect in 3.141.59x it is somehow wrongly set so the path ends to /tmp/mounted/37bb18a7-fa23-4e5f-8384-01a0983732c1/var/log/cont/

[2020-01-21 17:26] kumar1210 commented on #939
Tried, it's also not consistent. and couldn't reduce the error much.

[2020-01-21 23:08] pavelsmolensky commented on #1128
@dmarkdvt Having the reference you provided now it's clear that this is the Chrome's bug. Regarding the logs - you can find them by navigating to `/dashboard` of your zalenium instance

[2020-01-22 13:30] Tim-Schwalbe commented on #1117
Any news here? I also facing this issue more often now.

[2020-01-23 02:49] anhdle14 commented on #1135
Experiences the same thing on GKE too.

[2020-01-23 07:03] niranjanchintu commented on #1135
Experiencing the same issue on GKE.

/usr/bin/entry.sh: line 234: /tmp/mounted/ecaf92e4-1822-4086-a58a-bf22ef24b49f/var/log/cont/firefox_browser.log: No such file or directory

[2020-01-23 09:20] alfonso-presa commented on #1135
I think it's because of the hub trying to use the videos mount to copy the videos and logs instead of api calls (because of a change I did to improve artifacts copy performance by using a shared volume, sorry guys). I'll try to check and PR with a fix ASAP. Can anyone check if removing the videos mount solves the issue? Also adding a data persistent volume along side with the videos one might solv

[2020-01-23 15:39] alfonso-presa commented on #1135
Fix on it's way. Even though, I recommend you all using k8s in any of it's implementations to add a `ReadWriteMany` volume claim to zalenium-data volume, as it will be used to perform the artifact copy (videos and logs) to the hub instead of using API calls to the controller. This would improve performance and scalability of the cluster and is also less error prone.

[2020-01-24 11:06] xMutaGenx commented on #1135
@alfonso-presa we currently use ReadWriteOnce for the access mode, is that what's causing us the issues then?

[2020-01-24 13:19] mohitbansal-gep opened #1137 "How to Dynamically Select Chrome Browser or Driver Version"
I am using Zalenium in Kubernetes . I Couldnt find a way to change chrome browser viersion , statically or dynamilcaly.
Please what to do if i need to change chrome browser version

[2020-01-24 16:22] alfonso-presa commented on #1135
@xMutaGenx I meant `ReadWriteMany`, only for the `zalenium-data` volume. By default that volume users an `emptyDir`, but I recommend using a Claim for something like an NFS as if provided, that volume would be used for coping artifacts from browser Pods to the hub, which is way more efficient than the default behaviour that is reading a stream from the k8s api after running a tgz command in the br

[2020-01-24 20:13] diemol commented on #1117
Any news on how to reproduce the issue?

[2020-01-24 20:42] diemol commented on #1137
You need to choose the specific `elgalu/selenium` image that fits your needs and configure it via the `--seleniumImageName` parameter. It is all in the docs.

[2020-01-24 20:42] #1137 closed

[2020-01-27 11:54] nsmandal commented on #1135
Hello,
We are facing the issue with Kubernetes and our cloud solution doesn't support ReadWriteMany

We have currently
  accessModes:
    - ReadWriteOnce

The error we are noticing:
--LOG 20:54:46:861142461 Kubernetes service account found.
--LOG 20:54:46:939797681 Stopping supervisord to support docker restart...
-- INFO: Docker Img. Version: 3.141.59-333
-- INFO: Chrome..... Version: 79.0.3945.1

[2020-01-27 19:19] diemol commented on #1135
Merging #1136 and releasing this soon

[2020-01-27 19:33] diemol commented on #1135
Closed via #1136
@nsmandal the solution in your case would be to stick with 3.141.59w and wait for your provider to support `ReadWriteMany`

[2020-01-27 19:33] #1135 closed

[2020-01-27 20:00] emartyacn commented on #742
While I don't have much to offer at the moment I can say with a high degree of certainty that this error occurs almost exclusively when I have video recording enabled. When able I will dive into the video recording portion of the application in hopes to find a "smoking gun."

[2020-01-28 12:52] NuRod opened #1141 "responding to active maintainers request"
I express availability for testing/maintaining in what I can for upcoming Zalenium challenges

Nuno Rodrigues
Quality Assurance Engineer
personal mail: naaralves@gmail.com
company mail: nuno.rodrigues@mercedes-benz.io

[2020-01-30 13:40] Castone22 opened #1142 "Helm Chart seems to ignore hostAliases"
## 🐛 Bug Report

When host aliases are provided in a supplied values.yaml when deploying the helm chart, they don't get evaluated into the created container.

## To Reproduce

[code]
[code]
[code]

## Expected behavior

Should have appended hostAliases to the computed zalenium container definition.  Note that it did not in the gist.

## Environment

OS: Windows 10
Zalenium Image Version(s): zaleni

[2020-01-30 15:53] davidtorssell opened #1143 "Grid hangs due to hanging docker ps"
OS: RHEL 7.7
Zalenium version: 3.141.59y
Docker version: 1.13.1
docker-compose version: 1.24.1
way of starting Zalenium: docker-compose

Hi

I am running Zalenium on a single server and experience that the grid stops taking new sessions after a while under high load (10 parallel sessions with video recording, all 6 cores max out). Sometimes "a while" is half an hour, sometimes several hours . The

[2020-01-30 18:29] diemol commented on #1141
Thanks for reaching out @NuRod!

@elgalu can you please reach out to the OSS org in Zalando and see how it can be possible to add a maintainer to Zalenium?

[2020-01-30 19:00] elgalu commented on #1141
I don't have permissions, ping @hjacobs

It would be better to move Zalenium away from Zalando as no-one inside Zalando will maintain it anymore.

[2020-01-30 21:36] zodman opened #1146 "[Feature] Integrate mitmweb"
## 🚀 Feature Proposal

Integrate on the dashboard the history of request with mitmproxy

## Motivation

When the selenium it is running the runner can use mitmtproxy and then store to dump to  show on webmproxy.

## Example

![](https://i.imgur.com/qGTdjeM.png)

[2020-01-31 06:56] ramazan0990 opened #1147 "Pod Error with latest docker image"
## 🐛 Bug Report

A clear and concise description of what the bug is:

Hello,
Our Zalenium deployments with the "latest" tag (dosel/zalenium:3.141.59y) makes the pods get an "Error" state. Things work just fine with "dosel/zalenium:3.141.59w" tag.

## Expected behavior

It is expected that the pods to start normally

## Environment

OS: centos 7
Zalenium Image Version(s): dosel/zalenium:3.141.59w
D

[2020-01-31 13:17] anuradha24 opened #1148 "Names of Log files sent to Remote Dashboard doesn't include the testFileNameTemplate"
## 🐛 Bug Report

Zalenium has the capability of sending the Video and Log files to remote dashboard, there is a small issue that needs to be fixed. The TEST_FILE_NAME_TEMPLATE which can be set through the browser's DesiredCapabilities is not being used for the name of the log files.

## Details
DesiredCapabilities for the below example were set as follows :
```desired_capabilities['testFileNameTem

[2020-01-31 13:38] anuradha24 commented on #1148
Created PR to fix this issue : https://github.com/zalando/zalenium/pull/1149/files please review and merge

[2020-01-31 19:20] diemol commented on #1146
@zodman it does not sound crazy, nevertheless Zalenium is coming to an "end of life" status in the next months since it is being difficult to find new maintainers, the project belongs to the Zalando org and I am not part of it since a while ago, and additionally making Zalenium with Grid 4.0 would require a rewrite from scratch.

[2020-02-03 08:12] Rameshbabub opened #1150 "Facing session id issue in latest Zalenium"
Summary:

We have our own framework where we are sending the desire cap of "Browser as chrome and platform as windows". When we used the old version of "3.141.59n" for zalenium it is working fine and some times we will get node forwarding issue.

Now we have updated to latest version and seems none of the execution is happened and getting "session_id in the exception", i have traceback the issue a

[2020-02-06 07:36] sujata00 opened #1151 "Getting "Unable to parse remote response" chrome driver error while launching chrome browser with latest Zalenium image."
## 🐛 Bug Report
While running TCs through Jenkins  in a linux node I am facing the below issue:

"linux:lib/chromedriver org.openqa.selenium.WebDriverException: Unable to parse remote response: <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zalenium - 504

    - Gateway Timeout

  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    h1 { te

[2020-02-07 21:01] sirishag08 opened #1152 "Zalenium hangs up/frozen on screen but runs in the background"
## 🐛 Bug Report

Test method running on Zalenium runs fine for few minutes and then hangs up/frozen with no UI movement on screen yet the information notifications on the top right corner gets updated showing that its moving forward in the test process. On completion, verified that the test was indeed complete. But recording doesn't have that information as it just shows the frozen screen all alon

[2020-02-07 21:37] neuanalyticsjosh opened #1153 "Mounting Volumes with Content mounts files as folders"
## 🐛 Bug Report

When executing docker-compose on yaml settings the files in the Content folder are mounted as folders and not as the files themselves.
Example: on Windows system (Content\content.mp3), but on container (var/Data/Content/content.mp3/).

## To Reproduce

1. docker-compose -f {testScriptBelow} up -d
2. docker exec -it {elgalu/SeleniumContainerName} bash
3. cd /var/Data/Content
4. ls

[2020-02-10 08:26] maksim36ua commented on #1117
Same issue. All nodes are stuck, become unresponsive and session requests are timing out.

[2020-02-10 16:01] Hayyk opened #1154 "Dashboard doesn't work in Istio enabled Kubernetes"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior (including the docker command/docker-compose/Kubernetes manifests to start Zalenium):

## Expected behavior

A clear and concise description of what you expected to happen.

## Test script reproducing this issue (when applicable)

Please provide a test script to reproduce the issu

[2020-02-10 16:58] neuanalyticsjosh commented on #1153
Some How There was a */ folder that made all files into folders. After fulle system prune and reboot of Docker the files are being copied correctly.

[2020-02-10 16:58] #1153 closed

[2020-02-11 20:35] dbwest commented on #1067
I continue to get this error even after defining the security context.

[2020-02-12 14:47] dbwest opened #1155 "nullPointer Exception in Kubernetes again"
## 💥 Regression Report

A clear and concise description of what the regression is.
Before tests send JSON wire to the grid, the grid is failing at http://host:nodeport/wd/hub with the following
![image](https://user-images.githubusercontent.com/1122691/74345365-0564d880-4d7c-11ea-95b3-c5f2d1d27210.png)

## Last working version
Worked up to version:
3.141.59w

Stopped working in version:
3.141.59y

[2020-02-12 15:45] diemol commented on #1155
@dbwest but that is what normally you get when you do a GET to that URL.
Usually, you just do POSTs

[2020-02-12 16:22] dbwest commented on #1155
Good to know. If that is the case I will close this. I think our tests may be running. Earlier I was experiencing issues running tests and thought this was the cause. if it is normal I am closing this. Thanks for that info @diemol

[2020-02-12 18:12] dbwest commented on #1155
reopening this. We used to do a get on this and get json with `ready` in it not a stack trace.

[2020-02-12 18:13] dbwest commented on #1155
was there a change to the project that now necessitates doing a `POST` instead of a `GET` and what headers does it need if so?

[2020-02-12 18:16] #1155 closed

[2020-02-12 18:17] diemol commented on #1155
I guess the URL you want to check is `http://localhost:4444/wd/hub/status`

[2020-02-12 18:22] dbwest commented on #1155
wait it was Test Engineer PEBCAK. sorry @diemol it is working. They had the wrong nodeport coming from a submodule. And.... yes they check `wd/hub/status`. Thank you for your time and excellent project.

[2020-02-13 03:29] timjstacey commented on #742
We have 3 slaves with their own zalenium instance running regression suites against different test environments.  We started getting the following error on one of those slaves around one week ago:

`org.openqa.selenium.WebDriverException: cannot forward the request unexpected end of stream on Connection{172.17.0.5:40009, proxy=DIRECT hostAddress=/172.17.0.5:40009 cipherSuite=none protocol=http/1.1

[2020-02-13 08:24] jannickHo opened #1156 "Cleanup Thread "crashes""
## 🐛 Bug Report

After some time(it varies from 1 - 30 days) the zalenium hub stops to cleanup its nodes.

## To Reproduce

Cant be reproduced/triggered manually.

## Expected behavior

After a test run, the node should be cleaned up and removed by the hub

## Environment

OS: centos 7.6.1810
Zalenium Image Version(s): 3.141.59v
Docker version: Docker version 18.09.1, build 4c52b90
Docker-Compose

[2020-02-13 08:27] #1147 closed

[2020-02-14 21:02] pkundarapu opened #1157 "Seeing connection time out issues"
org.openqa.selenium.remote.UnreachableBrowserException: Could not start a new session. Possible causes are invalid address of the remote server or browser start-up failure.
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'MBP15-PBJGH8.local', ip: '2601:646:8a82:5a10:e45c:ab0:217:5cee%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '

[2020-02-18 05:20] anuradha24 commented on #1148
Hi All, Could you please take a look at this issue and merge the changes in PR : https://github.com/zalando/zalenium/pull/1149/files. We require this change merged to integrate zalenium with our internal dashboard

[2020-02-18 09:36] tokarthik commented on #1148
@diemol @elgalu Please have a look above one and merge it, please

[2020-02-18 10:01] dkder3k commented on #1154
Not sure if the idea to put zalenium hub in istio controlled environment is good.
Istio purpose is to maintain mesh-network and this paradigm is not fits the way zalenium works.
In my opinion it is better to create separate namespace in k8s cluster called something like "zalenium" without label "istio-injection=enabled" and deploy zalenium there.
Otherwise even with a fix for zalenium (to allow it

[2020-02-18 23:30] Karl515 commented on #882
asdasd

[2020-02-18 23:32] Karl515 commented on #882
I was also experience the problem that I can't open zalenium dashboard in localhost:4444/dashboard. Then I look at my terminal then I saw this.
![image](https://user-images.githubusercontent.com/39723049/74787309-d1446700-52e9-11ea-8de7-5eafbe7b6337.png)

I tried using the ip then zalenium dashboard opens. Hope it also helps others ;)

[2020-02-19 08:40] Hayyk commented on #1154
@dkder3k That is exactly what I did. I've deployed zalenium in separate namespace without istio sidecar injection enabled.
But Istio provides ingress and egress traffic management which is lifesaver if you need to prevent tests run from specific hosts, and even more if you need to restrict access to some external servers from zalenium nodes for security reasons.
Thus, I just wondering if this is p

[2020-02-19 09:49] xMutaGenx commented on #1157
Same here, upgraded from 3.141.59w to 3.141.59y and now I'm seeing socket hang ups, connection refused etc.

[2020-02-19 10:21] dkder3k commented on #1154
@Hayyk k8s itself provides nice [network policies mechanism](https://kubernetes.io/docs/concepts/services-networking/network-policies/) that allows you to manage ingress/egress traffic for any labeled pod. I agree that Istio policies much more flexible. But all this flexibility is needed for mesh-network and zalenium (in my humble opinion) should not be a part of it (at least unless there is somet

[2020-02-20 11:00] ivantichy commented on #1117
The same here, guys this is annoying :)

[2020-02-20 15:08] pierluigicdc commented on #1143
Hi all,

i'm facing the same issue.

@davidtorssell, in the meantime did you find some other info, workaround or anything else?

[2020-02-20 18:07] prom3t3us commented on #1143
Same issue also for me.

[2020-02-21 14:12] davidtorssell commented on #1143
No, not really a solution. I ended up turning off video recording which almost solved the problem. I have only seen it once since. I ran 10 parallel sessions constantly during working hours and it worked for over a week which obviously is a big improvement but I was kind of bummed out when it hung again. Without video the cpu load is around 50% for 10 parallel sessions btw.

Some things I have tes

[2020-02-25 16:53] tomassatka opened #1158 "readiness probe kill"
[code]

Is there any parameter that can be applied to avoid this kill? Or what is the purpose of "/bin/sh", "-c", "http_proxy=\"\" in readiness in first place? Could that request be removed in probe?

[2020-02-25 21:31] Pratish89 commented on #1117
I am also facing the same issue :(. Any update ?

[2020-02-25 22:11] Pratish89 opened #1159 "[Feature] Enable the capablity flag to store the vidoe only the test case fails."
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

The zalenium provide to store the video for the test run but it would nice to have the flag to store the video only if the test fail.

## Motivation

Please outline the motivation for the proposal.

## Example

Please provide an example for how this feature would be used.

[2020-02-26 11:44] Tim-Schwalbe commented on #1117
For me it was helping to update all java libs to the same version as the zalenium server runs on.
Since then it was running stable.

[2020-02-26 11:58] henrykuijpers commented on #1117
Can you clarify that, @Tim-Schwalbe ? What exactly did you do?

[2020-02-26 18:33] Pratish89 commented on #1117
@Tim-Schwalbe  ^ it would help. thank you!

[2020-02-26 18:42] Tim-Schwalbe commented on #1117
@Pratish89 Try this in your pom.xml file of your automation tests.
[code]

[2020-02-26 20:41] Pratish89 commented on #1117
I have same version in ivy.xml file.
`<dependency org="org.seleniumhq.selenium" name="selenium-java" rev="3.141.59" />`

[2020-02-27 12:14] vasdesai opened #1160 "Not able to run 25 containers parallel"
Hello All,

I am new to Zalenium.
Currently i am trying to run 25 testcases parallel. I am using following command for that..

sudo docker run --rm -ti -p 8085:4444 -v /var/run/docker.sock:/var/run/docker.sock  --privileged dosel/zalenium start --videoRecordingEnabled false --desiredContainers 25  --maxDockerSeleniumContainers 25 --maxTestSessions 25

25 containers up but all my 25 Testcases are n

[2020-02-27 12:52] vasdesai commented on #469
@diemol

I am using Idle Timeout in my desired capabilities but still getting same error.
I have given 600 Sec as Idle timeout

[2020-02-27 20:21] cyxu2 opened #1161 "Some CVEs in dependencies are threatening your project!"
Hi, I found that your project are using some vulnerable dependencies. I suggest a library update to avoid potential risks. See below for more details:
* **Vulnerable Library Version:** org.eclipse.jetty : jetty-server : 9.4.12.v20180830
  **CVE ID:** [CVE-2019-10247](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10247)
  **Import Path:** pom.xml
  **Suggested Safe Versions:** 10.0.0-alph

[2020-02-28 16:16] Btakuski commented on #1154
I ran into this issue before when deploying Zalenium onto EKS w/ Istio, since Zalenium does not expect the istio-sidecar container in a pod it lead to the exception mentioned above. I could not find a solution to this and we reverted to deploying Zalenium with Istio disabled and used the vanilla K8s ingress instead.

[2020-02-28 17:22] Btakuski commented on #1160
Per the Zalenium documentation:
`--maxTestSessions` : Maximum amount of tests executed per container

Since you have that value set to `25`, from my understanding there will be 25 tests executed in one container before that container is killed. I leave that value set to the default: `1` (1 test per container) to achieve parallel execution

[2020-03-04 17:18] pipipo12 commented on #1051
Hi @jpaolini
how can you config for zalenium run on aci
I can set taints and toleration and K8s schedules it to aci but it just restarted many time.
I tried exec to pod and run again [zalenium.sh start] the below error was raised
I think it related to this issue, right ?
Thanks in advance!

`Copying files for Dashboard...
Starting Nginx reverse proxy...
nginx: [emerg] bind() to 0.0.0.0:4444 failed

[2020-03-04 17:56] jpaolini commented on #1051
@pipipo12, Below is the setup I did so that the hub runs on the k8s cluster and the nodes are created in the ACI.  Note, I wasn't able to move forward with it due to limitations with volume mounting.  It's been while since I dove into it, however if memory serves the issue was due to ACI's support for PVC.  I started going down the route of trying to use azure file storage, but didn't have time to

[2020-03-05 10:47] labordoc commented on #833
Hi @diemol:

We recently started using Zalenium and we are facing the same issue reported in this thread:  for some executions everything goes fine (all tests run and nodes get disclosed and available again), but in other cases, there are some nodes that do not get disclosed and become unavailable, so tests do not use those nodes anymore, and the only solution we saw is to restart Zalenium, so all

[2020-03-05 10:52] labordoc opened #1162 "Zalenium nodes do not get disclosed"
Hi @diemol :

We recently started using Zalenium and we are facing the same issue reported in [this thread](https://github.com/zalando/zalenium/issues/833): for some executions everything goes fine (all tests run and nodes get disclosed and available again), but in other cases, there are some nodes that do not get disclosed and become unavailable, so tests do not use those nodes anymore, and the o

[2020-03-05 15:03] pipipo12 commented on #1051
Thanks @jpaolini .
Agree that running zalenium on ACI is a great P/P approach for UI test.
About the trouble with volume, as I know PV/PVC is the drawback of aci at this time, the only way is to use azure file for pod run on ACI.
Let me try and hope that we can find a way to make it runnable

[2020-03-05 20:00] djangofan opened #1163 "Can you provide documentation to start Zalenium grid on Windows 10?"
## 💬 Questions and Help

I don't have access to Slack via my work firewall .  So, I am wondering:

Can you provide documentation somewhere to start Zalenium grid on Windows 10?   Or is this not supported?   Documentation has an example that doesn't work for me.

Here is what I get:

[code]
Is there a missing pre-requisite that the documentation does not mention?   Is it trying to connect to the wi

[2020-03-05 20:17] djangofan commented on #1163
I get the same error with `docker ps` command.  Sorry. Closing this.

[2020-03-05 20:17] #1163 closed

[2020-03-09 19:34] radhikakande commented on #1117
Same issue from past couple of days.

[2020-03-10 03:05] billyjulius commented on #1117
I'm also facing same issue for weeks now. Already tried to match selenium java version with the one zalenium runs on, but the error still appeared.

[2020-03-10 05:44] Tim-Schwalbe commented on #1117
Did you also try the ingress timeout values? For me it is now really stable since I have the above settings.

[2020-03-11 19:05] tegataiprime commented on #926
I don't think this is a duplicate.  I get the same error when deploying to AWS EKS and using an EBS Volume to store video data via a persistent volume claim.

My storage class:
[code]

From my values-test.yaml file:
[code]

From the top of the log file:
[code]

[2020-03-13 04:00] luisxiaomai commented on #977
We met the same page crash issue ,how to increase the selenium container shm_size?

[2020-03-16 08:51] loudDD opened #1164 "Some test cases don't have video"
docker-compose.yml:
![image](https://user-images.githubusercontent.com/33220071/76738642-fbccf700-67a5-11ea-9156-edac2cbe6b26.png)

i have 5 test case run at the same time, 24 in total . But after the test execute finish , some test cases don't have video and it's randomly occur in different cases, and the performance of the docker machine is far from insufficient. also , i try different zalenium

[2020-03-17 02:24] xiazhao2015 commented on #1164
More info: We continously encountered the absence for recorded videos on 4 different zalenium clusters, the auto execution was triggered by jenkins on specific time each day and we've kept on observing it for about 1 month, the average missing rate is about 20%

[2020-03-19 12:23] pearj commented on #926
@tegataiprime your problem sounds like you need to set the podSecurityContext to make sure you PVC is mounted with the correct permissions.

Have a look at https://github.com/zalando/zalenium/blob/master/charts/zalenium/values.yaml

[2020-03-19 15:46] networkandcode commented on #1070
@diemol I am facing a similar issue with kubernetes(helm chart deployment),  I followed the procedure provided on the zalenium website, but keep getting error in the log that says '.SauceLabsRemoteProxy failed ', I have used the variables SAUCE_USERNAME, SAUCE_KEY, SAUCE_LABS_URL and SAUCE_LABS_API_URL

[2020-03-20 12:06] tegataiprime commented on #926
@pearj Yup!  That did the trick.  Many thanks :)

[2020-03-21 20:34] diemol commented on #1046
Closing as the issue went stale.

[2020-03-21 20:34] #1046 closed

[2020-03-21 20:37] diemol commented on #1047
As mentioned in the previous comment, if someone has time to send a PR with this fix, we are happy to merge it.
We are preparing the last Zalenium release, and afterwards the project will enter into a complete maintenance mode, which means that we will only reply to issues or answer questions in the chat, but no more code changes will be done.

[2020-03-21 20:38] diemol commented on #1070
I just tried this and it is working with my user and password. How can this be reproduced?

[2020-03-21 20:40] diemol commented on #1100
Closing as the issue went stale.

[2020-03-21 20:40] #1100 closed

[2020-03-21 20:42] diemol commented on #1117
I am closing this since no reproduction steps were provided and it just looks like a duplicate of #742 (which does not have a way to reproduce either).

[2020-03-21 20:42] #1117 closed

[2020-03-21 20:48] diemol commented on #1124
Not sure why this is happening, this was a bug that was fixed a while ago, and the root cause was that all the executed test information was kept in memory. Nowadays, the information is dumped into a file every time a text gets executed and nothing is kept in memory.

Besides, I see that 1 day of retention period is specified, if you wait until the next day, is the dashboard still with information

[2020-03-21 20:50] diemol commented on #1141
Well, seems this got stuck and probably nothing will happen 😢
@NuRod, perhaps try to reach out to the contact details shown at the bottom of https://opensource.zalando.com/.
Thanks!

[2020-03-21 20:59] diemol commented on #1143
Well, at the bottom of https://opensource.zalando.com/zalenium/, there is this link https://github.com/zalando/zalenium/blob/master/docs/performance.md

The problem here is that we want to execute 10 parallel tests with video and we only have 6 cores. The rule of thumb is for a stable execution:
* The Zalenium container needs between 0.5 and 1 core.
* Each container running a test needs 1 core.
*

[2020-03-21 20:59] #1143 closed

[2020-03-21 20:59] diemol commented on #1146
Closing as the issue went stale.

[2020-03-21 20:59] #1146 closed

[2020-03-21 20:59] diemol commented on #1148
PR merged, thanks.

[2020-03-21 20:59] #1148 closed

[2020-03-21 21:02] diemol commented on #1150
Zalenium does not support Windows in the capabilities, a cloud provider extension would be needed for that.
I am closing this since the issue is more a description than an actual issue with a way to reproduce it.

[2020-03-21 21:02] #1150 closed

[2020-03-21 21:05] diemol commented on #1151
I tried to reproduce the issue with the tests that are part of Zalenium's test suite and I was not able to see the issue.
Feel free to open a new issue with a clear way to reproduce it, please avoid narrative descriptions and provide a test script that can be used to reproduce the situation.

[2020-03-21 21:05] #1151 closed

[2020-03-21 21:07] diemol commented on #1152
I kind of understand the idea of the issue, however there is not a hint on how I could actually reproduce it, which makes troubleshooting very hard.
I am going to close this, but feel free to open a new issue and provide all the information (automation scripts, public website, and detailed startup commands) to reproduce it.

[2020-03-21 21:07] #1152 closed

[2020-03-21 21:12] diemol commented on #1154
Yeah, the comments are clear, especially that no maintainers are present for the project and that the Zalando org did not facilitate the continuation of the project outside of it.
Implementing this would require some efforts, and in short, there are no resources for this.
In short, Zalenium is not compatible with Istio (for now).
I'll close this since there is sadly not a way to move forward.

[2020-03-21 21:12] #1154 closed

[2020-03-21 21:18] diemol commented on #1157
Sorry, I am closing this since there is no clear way to see how this could be reproduced.

[2020-03-21 21:18] #1157 closed

[2020-03-21 21:20] diemol commented on #1158
Hey @tomassatka,
If you send us a PR and add a few tests to it, we are happy to have a look and merge it.
We are putting together the last Zalenium release this week, and after that, no more changes will happen.
I'll close this for now since it is a question and not a clear issue.

[2020-03-21 21:20] #1158 closed

[2020-03-21 21:21] diemol commented on #1159
Please search for `--keepOnlyFailedTests` at https://opensource.zalando.com/zalenium/, this feature already exists.

[2020-03-21 21:21] #1159 closed

[2020-03-21 21:24] diemol commented on #1160
I think the main issue is that to run 25 test cases in parallel, in a stable way, you need 1 CPU core per test, and if video recording is being used, then please add 1 CPU core more.
Therefore, for 25 test cases in parallel, 50 cores are needed for stable execution.
The usual recommendation is, start little, and continue increasing the amount of tests until you find something stable based on the r

[2020-03-21 21:24] #1160 closed

[2020-03-21 21:26] diemol commented on #833
I see some comments here and in #1162, but no way to reproduce it, therefor I cannot really troubleshoot and help. Sorry.

[2020-03-21 21:28] diemol commented on #1162
Hi @labordoc,

I am sorry, but if you provide a way to reproduce the issue, I would be happy to have a look, but the comments in the referenced issue and in this one, are not offering any information on how to reproduce this problem and help me to troubleshoot the issue.

I will close this, but feel free to open a new issue and provide all the required infomation from the template.

[2020-03-21 21:28] #1162 closed

[2020-03-21 21:35] diemol commented on #1164
Hi all,
I am sorry, but this is not enough information to troubleshoot the issue. There is a full issue template with different sections that ask for specific information (automation scripts, detailed commands to starts Zalenium, etc...), but all that was ingnored. Therefore there is not much that I could do.
Please feel free to open a new issue with all the required information.

[2020-03-21 21:35] #1164 closed

[2020-03-21 21:40] diemol commented on #977
If some versions of Chrome work and others don't, it all points out to be a Chrome/ChromeDriver issue, right?

[2020-03-21 21:48] diemol commented on #1156
Followed your suggestion and should be fixed by #1165

[2020-03-21 21:48] #1156 closed

[2020-03-23 03:12] xiazhao2015 commented on #1164
@diemol Got it, thanks for comment.
@loudDD Please help create a new one with necessary info to trouble shoot this issue, can follow this template: https://github.com/zalando/zalenium/issues/1154

[2020-03-23 08:09] networkandcode commented on #1070
it worked with a trial account but not with an account that had a mobile testing licence... the only difference I saw when I accessed the api link https://eu-central-1.saucelabs.com/rest/v1/users/USERNAME (with password as the access key) is this for the normal account --  "concurrency_limit": {"mac": 0, "scout": 0, "overall": 0, "real_device": 2}, where as the trial account had all 2

[2020-03-23 18:01] diemol commented on #1070
I see, but that is a bug in Sauce Labs, since Zalenium uses the `overall` field to get the concurrency limit. See https://github.com/zalando/zalenium/blob/master/src/main/java/de/zalando/ep/zalenium/proxy/SauceLabsRemoteProxy.java#L49-L50, it should say `"overall": 2` in this case.

I am closing this issue since it is not a Zalenium issue.

[2020-03-23 18:01] #1070 closed

[2020-03-27 12:24] espguitarist33 commented on #742
I've noticed for us this tends to fail only one some specific tests that do a loop of navigation and clicking a refresh button within our application. One of which always fails right at the 2 hour mark, but the one I'm generalizing below failed after 17:35:312 this morning. (All server vitals are healthy)

Generalization:

until application completes long job:
     Navigate to status page
     int

[2020-03-28 18:06] poojashree commented on #382
Hi,

Here's my docker-compose for Zalenium:
version: "3"
services:
  zalenium:
    image: "dosel/zalenium"
    container_name: zalenium
    ports:
      - "4444:4444"
    **network_mode: host**
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/usr/bin/docker:/usr/bin/docker'
    command: >
      start --desiredContainers 0
            --maxDockerSeleniumContainers 1

[2020-03-31 07:33] PriyaMuthuvel opened #1170 "Empty pool of VM for setup Capabilities"
## Worked up to version:
![image](https://user-images.githubusercontent.com/23624668/77998640-01ead800-734f-11ea-942e-46d87321985f.png)

## It was worked fine when I used the older version. But I don't know the exact version

## To Reproduce

docker run --rm -ti --name zalenium2 -p 4444:4444  -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zaleni

[2020-03-31 07:51] diemol commented on #1170
I believe the **browserName** in the sent capabilities is wrong
[code]
It should be **chrome**

[2020-03-31 07:51] #1170 closed

[2020-03-31 08:25] PriyaMuthuvel commented on #1170
Using chrome only
![image](https://user-images.githubusercontent.com/23624668/78004106-4a0df880-7357-11ea-90a8-19b72035899a.png)

[2020-03-31 08:33] PriyaMuthuvel commented on #1170
![image](https://user-images.githubusercontent.com/23624668/78004836-5181d180-7358-11ea-84f7-93f9e04b72b3.png)

![image](https://user-images.githubusercontent.com/23624668/78004879-5fcfed80-7358-11ea-8520-93b8ba8bb1d5.png)

[2020-03-31 21:41] akash8663 commented on #486
Hi @diemol i have tried this option to copy the crt file in zalenium but still i am getting Connection not private / Not secure issues. Below is the code in my DockerFile. After building i see the message says 1 Added. Also added a screenshot

`FROM elgalu/selenium`
`COPY RootCA01.cer /tmp/ca-certificates/`
`RUN sudo mv /tmp/ca-certificates/RootCA01.cer /usr/local/share/ca-certificates/RootCA01.ce

[2020-04-01 16:04] espguitarist33 commented on #742
Updating with more info:

It looks like our sessions are debug logging everything, and the log files that crash browser when using the Dashboard seem to be the ones causing the container to disappear.  I assume it isn't related, but it looks like Chrome gets launched with: --enable-logging

Here are a few samples of the output, though we did not activate debug logging in any way (notice that verbo

[2020-04-02 13:09] Chinnuganga opened #1172 "Is there a way user can control the containers that spin up for an execution"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2020-04-02 13:36] Chinnuganga commented on #1172
My use case is as follows
I have 10 test cases where each takes 1sec for execution.
So by having 10 containers in parallel I will be able to complete the execution in the required time.
Now the 2nd scenario is that I have the same 10 test cases where each takes 1sec for executon and I have infinite time to complete the execution. So, my question here, is there a user can configure/control the cont

[2020-04-02 14:31] diemol commented on #1170
Could you please paste the Zalenium logs from the beginning to the end? (No screenshots, but the text logs)

[2020-04-03 03:54] PriyaMuthuvel commented on #1170
C:\Users\MSTSYS\Desktop\protractor\Website\mst-website-automation>yarn tags @reg
yarn run v1.19.1
$ rimraf reports/tmp/* && protractor built/config.js --cucumberOpts.tags @reg
[16:27:20] I/launcher - Running 1 instances of WebDriver
[16:27:20] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[16:27:20] E/launcher - Error forwarding the new session Empty pool of VM for setup Cap

[2020-04-03 03:56] PriyaMuthuvel commented on #1170
C:\Users\MSTSYS\Desktop\protractor\Website\mst-website-automation>docker run --rm -ti --name zalenium2 -p 4444:4444  -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start
Docker binary already present, will use that one.
Docker version 18.09.0, build 4d60db4
-- LOG 12:56:35:695287500 Ensuring docker works...
-- LOG 12:56:35:849355800 Ens

[2020-04-03 08:26] diemol commented on #1170
@PriyaMuthuvel the Zalenium log does not show anything, it only shows how it started successfully and nothing else. Why is that?

[2020-04-03 12:18] PriyaMuthuvel commented on #1170
Kindly look at the below error:

C:\Users\MSTSYS\Desktop\protractor\Website\mst-website-automation>yarn tags @reg
yarn run v1.19.1
$ rimraf reports/tmp/* && protractor built/config.js --cucumberOpts.tags @reg
[16:27:20] I/launcher - Running 1 instances of WebDriver
[16:27:20] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
[16:27:20] E/launcher - Error forwarding the new sessi

[2020-04-03 12:21] diemol commented on #1170
Those are the protractor logs showing the error, we need to see the error in the Zalenium logs, which are not showing the request from protractor...
Are you sure tests are using Zalenium?

[2020-04-03 15:27] PriyaMuthuvel commented on #1170
@diemol , I Have followed the below steps for implementing the zalenium in my protractor test.

Based on that, I can able to see the dashboard and live preview view. Kindly find it below:

# Live Preview View:
![image](https://user-images.githubusercontent.com/23624668/78376764-68405680-75ec-11ea-8747-e1ee5068cb3b.png)

# Dashboard view:
![image](https://user-images.githubusercontent.com/23624668/

[2020-04-03 16:20] diemol commented on #1170
Are you sure protractor is not starting its own Selenium Server? If the request had reached out to Zalenium, you'd see more things in the log output.

[2020-04-03 20:43] SachinB75 opened #1173 "zalenium image on AWS EB"
## 💬 Questions and Help
getting the below error trying to connect to the zalenium image on EB instance

  **org.openqa.selenium.remote.UnreachableBrowserException: Could not start a new session.
Possible causes are invalid address of the remote server or browser start-up failure.**

### Please note that this issue tracker is not a help form and this issue will be closed.
ran the zalenium image on

[2020-04-06 02:40] Ammadkhalid opened #1174 "Location of Downloads?"
When i try to download through VNC. it downloaded but i can't see it anywhere inside of docker node?

here is my docker-compose.yml:
[code]

![image](https://user-images.githubusercontent.com/14825937/78518317-9a62db80-77d9-11ea-98d9-ac90e15e5744.png)
![image](https://user-images.githubusercontent.com/14825937/78518349-ad75ab80-77d9-11ea-9d48-690de000982d.png)

but there is nothing at `/home/selus

[2020-04-06 02:59] Oktaliem commented on #1174
You have to add something like this /home/{your_local_folder_path}:/tmp/node/home/seluser/Downloads when starting Zalenium.
But sometimes you will get this issue (download pop up) https://github.com/zalando/zalenium/issues/1115 that will blocking your download process.

[2020-04-06 03:07] Ammadkhalid commented on #1174
Thanks for the reply.  That worked, Is there anyway to change location of download? because every time i need to generate unique directory inside `Downloads`. It didn't prompt dialog for me.
![image](https://user-images.githubusercontent.com/14825937/78519631-70abb380-77dd-11ea-87b6-796cc24ad590.png)

I'm not sure if we suppose to give download path such as: `/tmp/node/home/seluser/Downloads/test`

[2020-04-06 03:25] Ammadkhalid commented on #1174
Got it, after going through docs. Solution is:
we need to give `/home/seluser/Downloads/test` instead of `/tmp/node/home/seluser/Downloads/test`.

Thanks for your help @Oktaliem

[2020-04-06 03:25] #1174 closed

[2020-04-06 05:49] PriyaMuthuvel commented on #1170
Yes, Protractor is not starting its server

[2020-04-06 06:30] diemol commented on #1170
Then please attach the Zalenium log where one can see the incoming requests

[2020-04-07 01:45] evgenyfedorenko commented on #1173
let me know when you fix it - having the same issue :)

[2020-04-07 12:28] #1172 closed

[2020-04-07 12:29] pearj commented on #1172
Questions not permitted as an issue

[2020-04-07 13:35] PriyaMuthuvel commented on #1170
19:00:07] E/launcher - Error forwarding the new session cannot find : Capabilities {browserName: chrome, chromeOptions: {args: [--disable-notifications, --no-sandbox], w3c: false}, count: 1, firefoxOptions: {args: [--disable-notifications, --no-sandbox], w3c: false}, marionette: true, version: 80.0}
[19:00:07] E/launcher - WebDriverError: Error forwarding the new session cannot find : Capabilities

[2020-04-07 13:41] diemol commented on #1170
@PriyaMuthuvel sorry, those logs are not coming out from Zalenium... Please double-check the incoming requests to Zalenium through its logs.

[2020-04-08 11:53] PriyaMuthuvel commented on #1170
@diemol The issue has been fixed.
I have followed the below steps for fixing the issues.

- Kill the port and follow the zalenium commend
- And then added the below two lines before the capabilities
          **SELENIUM_PROMISE_MANAGER: false,
              ignoreUncaughtExceptions: true,**
![image](https://user-images.githubusercontent.com/23624668/78781237-7eb82a80-79bd-11ea-995c-2daab6df5c1c.pn

[2020-04-08 20:11] diemol commented on #1173
This is a question rather than an issue. Please ask questions in the #zalenium channel at [Slack](https://goo.gl/9o4J3Y)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2020-04-08 20:11] #1173 closed

[2020-04-10 10:51] bansalrajat commented on #622
whats the solution for this issue. I want to access an app which in hosted on one of the host in the network but i am unable to curl/ping that host from zalenium hub/pod .

[2020-04-12 05:38] kaihaophang commented on #742
Hi guys, not sure if this help, i have constantly facing the 'cannot forward request' error with default --maxTestSessions. After i change the --maxTestSessions to larger number, it seems back to normal. i suspect the issue seems like there are some memory issue on constantly re spawn on a new container. below is the script i used.

docker run --rm -ti --name zalenium -p 4444:4444 -e ZALENIUM_EXTR

[2020-04-15 01:57] mohammadsaleh commented on #928
Hi @diemol ,

"elgalu/docker-selenium" you have used support video whit audio recording, why don't you update?

[2020-04-15 07:08] diemol commented on #928
Nothing needs to be done in Zalenium @mohammadsaleh, you just need to pull the latest `elgalu/selenium` image.

[2020-04-15 09:31] mohammadsaleh commented on #928
Thank you @diemol for fast reply,

I have pulled the latest version but doesn't record with sound. I have mounted '/dev/snd" as devices too but dosn't work. what should I do?

[2020-04-15 09:36] diemol commented on #928
I am not sure, maybe an extra variable is needed in the container, what does the documentation of `elgalu/selenium` say?

[2020-04-15 09:40] mohammadsaleh commented on #928
here is the closed issue:
https://github.com/elgalu/docker-selenium/pull/372

[2020-04-15 09:53] diemol commented on #928
How do you run a test with `elgalu/selenium` and recording sound? Without Zalenium

[2020-04-15 11:03] mohammadsaleh commented on #928
Just as this document:

https://github.com/elgalu/docker-selenium/commit/97931576bac30b6c349de06913a09c2834cb214c#diff-6cdba8648313fb83883fc05562f9ac3cR52

I run elgalu/selenium and send a GET request to a video in youtube and then play that.

[2020-04-15 11:37] diemol commented on #928
I just checked the code briefly, and Zalenium would need to pass the `AUDIO=true` env var to `elgalu/selenium`. But we are not working on Zalenium anymore, so that change is not going to happen.
Alternatives are:
- You can fork Zalenium and do the change around [here](https://github.com/zalando/zalenium/blob/master/src/main/java/de/zalando/ep/zalenium/proxy/DockeredSeleniumStarter.java#L343)
- You

[2020-04-15 20:18] mohammadsaleh commented on #928
Ok, I will try and send you result.

Thanks

[2020-04-15 21:23] alexeykozlov1 opened #1177 "Is Chrome Browser Version Updating even if Zalenium not being developed anymore?"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2020-04-15 21:37] diemol commented on #1177
Yes, just keep an eye on the releases from elgalu/selenium

[2020-04-15 21:38] #1177 closed

[2020-04-16 11:04] carpe-github opened #1178 "Browserstack: not distinguish when was executing browser or appium session"
## 🐛 Bug Report

With BrowserStack node enabled, when we executed an appium mobile session and required to launch a second session on BrowserStack. Zalenium ask to Browserstack API if previous session was finished, but not doing correct API petition.
'https://api.browserstack.com/automate/sessions/<session-id>.json'
When the correct Rest API petition for appium mobile session was:
'https://api-clo

[2020-04-16 14:31] mohammadsaleh commented on #928
@diemol
I got error while building

[code]

this is how I try to build it:

[code]
is it true?

[2020-04-16 15:07] diemol commented on #928
Please read this section https://opensource.zalando.com/zalenium/#contributing
It has all the instructions to build your own Zalenium

[2020-04-16 15:18] mohammadsaleh commented on #928
Hmm ... Thanks

[2020-04-16 17:29] mohammadsaleh commented on #928
@diemol
I have error while trying to build.

`[ERROR] Failed to execute goal org.codehaus.mojo:aspectj-maven-plugin:1.11:compile (default) on project zalenium: Execution default of goal org.codehaus.mojo:aspectj-maven-plugin:1.11:compile failed: Plugin org.codehaus.mojo:aspectj-maven-plugin:1.11 or one of its dependencies could not be resolved: Could not find artifact com.sun:tools:jar:10.0.2 at s

[2020-04-16 18:35] diemol commented on #928
Sorry, but I don't know where that error comes from, I've never compiled Zalenium with the maven docker image.

[2020-04-20 07:17] vickyru opened #1179 "View dashboard even if Zalenium container pulled down."
## 🚀 Feature Proposal
It will  be much appreciated if a Zalenium user can view the dashboard's recording from remote host machine once he/she stops all running Zalenium containers after test execution.

## Motivation
We have proposed Zalenium into our organisation but DevOps team is having a concern that they can not let keep running Zalenium containers after test execution completed to make it co

[2020-04-20 20:42] diemol commented on #1179
@vickyru you can run Zalenium with `--desiredContainers 0` and containers will be created on demand, while the hub still runs and the dashboard is still available.
In the end, the main Zalenium container needs to be running in order to show the dashboard.

[2020-04-20 20:42] #1179 closed

[2020-04-22 14:08] pearj commented on #928
You’re trying to compile with jdk 10. That isn’t supported, you need to use jdk 8, because of the aspectj plugin.

[2020-04-23 16:57] drordk commented on #939
Thank You !!! it solved our issue.

We run about 150 E2E tests several times a day, and experienced about 20 - 50 Zalenium issues every time (for several months).
our logs included the following errors, mostly the first two:
1. Connection refused (Connection refused)
2. Session [<id>] was terminated due to FORWARDING_TO_NODE_FAILED
3. (sometimes, not sure if it is related) 504 error

We tried mult

[2020-04-23 20:09] drordk commented on #882
So you should be able to access it (without changes) via:
[http://localhost:4444/dashboard_template.html](http://localhost:4444/dashboard_template.html)

I had the same issue, tried it (after saw your comment) and this link works.

[2020-05-04 10:17] gvojtko opened #1180 "WebDriver detection"
Hi, I have issue with WebDrive detection. I exchanged selenium/standalone-chrome for dosel/zalenium and during testing I came across WebDrive detection.

URL for tests:
- https://intoli.com/blog/not-possible-to-block-chrome-headless/chrome-headless-test.html
- https://intoli.com/blog/making-chrome-headless-undetectable/chrome-headless-test.html

My capabilities options:

'--headless',
'--no-sandbo

[2020-05-05 06:19] diemol commented on #1180
This is a question rather than an issue. Please ask questions in the #zalenium channel at [Slack](https://goo.gl/9o4J3Y)  or [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium) where the community can help you as well.

[2020-05-05 06:19] #1180 closed

[2020-05-14 15:19] AfrinaAlam opened #1181 "Zalenium Connection with Sauce labs fails"
I am tryign to run through a POC with zalnium and Sauce Labs , but it is thrwoing error as below : did not get much help on .Could You please help what is wrong here
org.openqa.grid.common.exception.GridException: new session request for webdriver should contain a location header or an 'application/json;charset=UTF-8' response body with the session ID.

 **DESITRED CAPABILTIES USED:**
dc = Desired

[2020-05-15 21:15] ceastman-ibm commented on #1135
@diemol I just tried upgrading to 3.141.59z, i am getting the same error as reported by OP. My k8s persistent volumes have always been setup as ReadWriteMany

[2020-05-19 14:11] anirbandan commented on #1115
I started getting the same pop up while executing the scripts but on passing parameters
download.directory_upgrade=${TRUE}
download.default_directory=${zalenium.tempDir}
in chrome options the download started working without any issue

but the file is not getting downloaded in the mentioned folder ${zalenium.tempDir}, infact i cant find it anywhere on my zalenium container nor in the server i have

[2020-05-19 14:24] anirbandan commented on #1174
![image](https://user-images.githubusercontent.com/31218269/82337634-48be8b00-99ec-11ea-948c-6a0cc9c68481.png)
I have this configuration in docker-compose.yaml file, still cant find the downloaded folder in the local path or in location /home/seluser/downloads

[2020-05-21 13:01] charmi25 commented on #1163
can you share the command to start Zalenium on windows 10.

I used below command  which I found on (https://opensource.zalando.com/zalenium/)

Command :
docker run --rm -ti --name zalenium -p 4444:4444 ^
 -v /var/run/docker.sock:/var/run/docker.sock ^
 -v /c/Users/your_user_name/temp/videos:/home/seluser/videos ^
 --privileged dosel/zalenium start

Error:
At line:4 char:3
+ --privileged dosel/zale

[2020-05-21 15:26] djangofan commented on #1163
I don't think I needed to use the **--priviledged** option to start mine.   You may notice that if you run the 'hello-world' container, you don't need to use --priviledged

[2020-05-22 13:58] charmi25 commented on #105
@diemol  and @VigneshVRP
I tried above command on windows but I am getting below error:

Single Line Commad:
docker run --rm -ti --name zalenium -p 4444:4444 -p 5555:5555 -v /var/run/docker.sock:/var/run/docker.sock  -v /c/Users/503173907/temp/videos:/home/seluser/videos  dosel/zalenium start

C:\Program Files\Docker\Docker\resources\bin\docker.exe: Error response from daemon: invalid volume speci

[2020-05-22 14:56] sumeet7298 commented on #357
Any Update on this... Mee too getting the same issue... The maxSession always show as 1.

[2020-05-22 15:49] diemol commented on #357
Those parameters are not related. `maxTestSessions` are the number of tests per container before it shuts down, each container will only execute one test concurrently.

I am going to lock this issue and if there are more questions, please head to the Slack channel shown in the docs.

[2020-05-22 17:17] diemol commented on #654
Closing this one since Zalenium is not under development anymore. No more features will be added.

[2020-05-22 17:17] #654 closed

[2020-05-26 11:43] shenhua888 commented on #939
This problem is so serious that I can only choose to use a previous version: dosel/ zalenium:3.14.0g.I hope this problem can be solved as soon as possible.

[2020-05-26 12:49] julianseeger commented on #1141
I'm so sorry that this project is dying :cry:

May I ask, what's your "personal" plan regarding browser testing @diemol ?
Has zalando completely dropped selenium based testing or is it using the standard selenium grid?

[2020-05-26 13:05] NuRod commented on #1141
I just wanted to help. You can close this ticket if you want thank you. Don't know at this point, what is left to do.
 Thank you again.

[2020-05-26 13:07] chrlyons commented on #939
@shenhua888, I'm sorry to say it doesn't look like zalenium is being developed any further. I switched over to using selenoid back in January and have been using that ever since. Here is a link to their github page if you would like to check out that project. - https://github.com/aerokube/selenoid.

[2020-05-26 20:38] diemol commented on #939
Yep, that is a good alternative while the new Grid comes out.

I'll close and lock this issue because I think the relevant information is already in it, if someone needs something else, feel free to open a new one or drop by the Slack channel.

[2020-05-26 20:38] #939 closed

[2020-05-26 20:42] diemol commented on #1141
We are working on Selenium 4 which comes with a new Grid, the most relevant features of Zalenium will be placed there.

About Zalando, I am not sure. I don't work there anymore so I don't have insights into that information. Additionally, the project belongs legally to Zalando, that is why I cannot add or remove people from it. But if someone wants to fork it and maintain it, I can happily referen

[2020-05-26 20:42] #1141 closed

[2020-05-27 15:36] evgenyfedorenko commented on #594
hey Balajiiguru did you resolve your issue? I am getting the same one.

[2020-05-29 12:44] bhupender-agarwal commented on #594
Hi @diemol,

Although this issue has been closed, I would like to comment that the aforementioned issue still exists which is making it impossible to execute the tests on the zalenium grid with proxy settings on. I have tried all the methods discussed in various comments, such as use of an IP address of proxy server, using a custom image with proxy settings passed to elgalu/selenium using Dockerfi

[2020-06-08 14:28] bagatonovic commented on #805
I am having this exact same issue!  Works fine without auth on GKE, but when I add auth the readiness check fails!

could it be because no header is passed here?

                        // Add a readiness health check so that we can know when the selenium pod is ready to accept requests
                        // so then we can initiate a registration.
                        .withNewReadinessPro

[2020-06-08 14:32] bagatonovic opened #1183 "Readiness check fails when basic auth is enabled"
## 🐛 Bug Report

A clear and concise description of what the bug is.

Zalenium fine without basic auth on GKE, but when I add auth the readiness check fails. Could it be because no header is passed here?

[code]

## To Reproduce

Steps to reproduce the behavior (including the docker command/docker-compose/Kubernetes manifests to start Zalenium):

Deploy the app on GKE with basic auth enabled. The

[2020-06-08 14:51] bagatonovic commented on #1183
Nevermind, didn't know the project was dead.

[2020-06-08 14:51] #1183 closed

[2020-06-10 07:07] PDoering commented on #1142
I believe you have to set it in the ingress.

[2020-06-10 07:51] SaifuddinR commented on #734
Thanks. This helps. Adding 'goog' to chrome options Works.

[2020-06-10 09:49] Castone22 commented on #1142
According to the values definitions at https://github.com/zalando/zalenium/tree/master/charts/zalenium it goes in the root of the chart.

Incidentally it usually goes on a pod, not an ingress, as it tells the pod where to resolve a given hostname to.

[2020-06-12 11:10] jonas-printzen commented on #1087
Most of the capabilities can be set globally in /etc/docker/daemon.json.
This means that, if you narrow down what rights the container needs you can make that available globally on the swarm-node. You can even enable this on some nodes and label-place given containers there.

[2020-06-15 14:08] ReddyNitheeesh commented on #1087
Hi I am running zalenium in swarm mode below is my docker compose file , i dont see service up and running,
can you please look details below

version: "3.7"

services:
  zalenium:
    image: dosel/zalenium
    hostname: zalenium
    deploy:
      placement:
        constraints:
          - node.role == manager
    labels:
      - "de.zalando.gridRole=hub" # important for us to identify the node w

[2020-06-15 14:12] ReddyNitheeesh opened #1185 "Selenium hub is not responding on running in swarm mode"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2020-06-15 14:12] ReddyNitheeesh commented on #1185
https://github.com/zalando/zalenium/issues/1087#issuecomment-644157734

[2020-06-15 14:31] diemol commented on #1185
Closing as the links to request help and ask questions are provided in the issue template.

[2020-06-15 14:31] #1185 closed, assigned to nobody

[2020-06-18 06:54] semihural opened #1186 "DockerSeleniumRemoteProxy unknown version,Failed to connect to /10.6.24.245:40000"
## 🐛 Bug Report

I installed zalenium via helm chart in our k8s cluster. Seems pods are running properly but nodes can not registered to the hub. Due to our some of policy rules we should create a network policy but ı can not decide how should ı add a network policy for nodes.I believe that this error is cause by netpol cause ı fixed the same issue for selenium grid with creating netpol like as be

[2020-06-18 08:07] #1186 closed, assigned to nobody

[2020-06-18 08:07] semihural commented on #1186
ı fixed the issue via creating network policy.

[2020-06-18 08:40] semihural opened #1187 "Pass proxy variables to zalenium's pods in kubernetes ?"
Hi,

I installed zalenium via helm chart.. It workings ok but I need to pass a NO_PROXY,HTTP_PROXY variables which we should have to run our tests while creating a pod..

How can I pass this parameters to nodes pods created by zalenium ?

    _Environment:
      SEL_NODEPOLLING_MS:            96000
      SELENIUM_HUB_HOST:             ....
      TZ:                            UTC
      NOVNC_PORT:

[2020-06-19 10:26] pranav165 commented on #1117
For me it worked by increasing the  NEW_SESSION_WAIT_TIMEOUT .
containers ?= 10
threads ?= 10
max_sessions ?= 10

Docker command -

docker run -d --name selenium -p 4444:4444 -e NEW_SESSION_WAIT_TIMEOUT=1800000 -e PULL_SELENIUM_IMAGE=true -v /var/run/docker.sock:/var/run/docker.sock -v "${current_dir}/reports/zalenium":/home/seluser/videos --privileged dosel/zalenium start --desiredContainers $(co

[2020-06-20 08:55] pranav165 commented on #742
For me it worked by increasing the NEW_SESSION_WAIT_TIMEOUT .
containers ?= 10
threads ?= 10
max_sessions ?= 10

Docker command -

docker run -d --name selenium -p 4444:4444 -e NEW_SESSION_WAIT_TIMEOUT=1800000 -e PULL_SELENIUM_IMAGE=true -v /var/run/docker.sock:/var/run/docker.sock -v "${current_dir}/reports/zalenium":/home/seluser/videos --privileged dosel/zalenium start --desiredContainers $(con

[2020-06-20 19:42] niyarlatotep commented on #742
For me increasing idleTimeout worked. In my case it failed when browsers didn't get any requests for the time that more than defaault idleTimeout, for diffirent reasons. Too bad it doesn't have proper log for such a case, or may be I wasn't able to find such.

[2020-06-22 02:47] vpnjain1991 commented on #260
When I start zalenium_2. it kills all the nodes of zalenium_1 which were having port 40000, 40001.
Zalenium_2 nodes gets heses ports assignned to themselves (40000, 40001).
After that zalnium_1 nodes registered again with new ports.

**Zalenium_1**
04:42:33.794 [Thread-10] INFO  d.z.e.z.registry.ZaleniumRegistry - Registered a node http://172.17.0.3:40000
04:42:37.764 [Thread-11] INFO  d.z.e.z.reg

[2020-06-24 15:08] adelforge opened #1188 "Can't install chart with Spinnaker, due to apiVersion v2 is not valid"
## 💥 Regression Report

A clear and concise description of what the regression is.

I wanted to redeploy my zalenium stack with Spinnaker (on Kubernetes v1.17 and Helm v2.16) but this doesn't work because of this error : Bake failed: Error: apiVersion 'v2' is not valid. The value must be "v1"

## Last working version

Worked up to version: i don't know but it woked on May 27th

Stopped working in

[2020-06-26 09:18] semihural opened #1189 "Zalenium Browserstack UnknownHostException: api.browserstack.com error"
## 🐛 Bug Report

We have a zalenium set up running in kubernetes and we would like to integrate with Browserstack. The issues are,

1. When we did not set any http_proxy and https_proxy for zalenium (dosel/zalenium) everythings works properly even if we set a proxy for (elgalu/selenium). But when I set a env variables like as below zalenium is not running properly.

 env:
    http_proxy: http://<p

[2020-06-26 12:47] #1187 closed, assigned to nobody

[2020-07-03 15:21] rakeshium opened #1190 "New browser window causing org.openqa.selenium.WebDriverException: Session was terminated due to ORPHAN"
Script in zalenium running fine till the point a new browser window (not tab) getting opened, after which the next lines of code are not working as expected i.e script is not able to find web elements.
Locally it is working fine where after validation in current tab, driver is switched to new window, closes new window and comes back to last working tab.
Error-
org.openqa.selenium.WebDriverExceptio

[2020-07-03 17:00] ammadkhalid opened #1191 "403 - Permission Forbidden"
Sometimes i received 403 permission denied error. In the app, i retrieve live url and wait for it to ready with `200` http code. However this still appears. Any idea ?

## Environment

OS: Ubuntu 2020
Zalenium Image Version(s): 3.141.59z
Docker version 19.03.8, build afacb8b7f0
docker-compose version 1.25.0, build unknown
Exact Docker command to start the containers (if using docker-compose, provi

[2020-07-07 05:43] Johnbalaji opened #1192 "502 Bad Gateway ngnix"
Team,

I have been facing this odd issue where the zalenium runs perfectly fine for a couple of weeks and all of sudden it goes to bad gateway issue and stops processing request.

When i dig into it the dosel/zalenium container seem to UP but the elgalu/selenium containers are not available.
I reached our endpoint http://localhost:4444 and it throws 502 bad gateway.

I have seen this issue couple

[2020-07-08 15:03] niyarlatotep commented on #742
My erlier guess was wrong, what really helped me:
downgrade zalenium container to 3.14.0 g (it allows to enable apache http client) but using latest browsers containers (don't know if it compatible but it works fine for me by the time)
and
adding additional parameter on run (as mentioned in other similar issues):
[code]
no more failures

[2020-07-14 10:24] mohitbansal-gep opened #1193 "Video Recording and VNC not getting turn off"
We have Deployed Zalenium Through Helm in our Azure Kubernetes Cluster and in the Values.yaml we have turned of the video recording (videoRecordingEnabled: true) . However we are not able to turn Off the Video recording and VNC through Desired Capabilities in our Java code below is the snipet.

                         desiredCapabilities.setCapability("enableVNC", false);
			    desiredCapabiliti

[2020-07-14 14:21] Johnbalaji commented on #1192
@diemol - Can you please help me?

[2020-07-15 12:19] diemol commented on #1192
It could be many many different thigs, I have no clue based on the information supplied. I will close this issue because I think it is easier if you go to the Slack channel #zalenium in the Selenium workspace. You can find the link here https://www.selenium.dev/support/

[2020-07-15 12:19] #1192 closed, assigned to nobody

[2020-07-15 12:23] diemol commented on #1193
Hi. I don't know where `enableVNC` and `enableVideo` come from.

I will close this because the whole template was deleted.

Feel free to join the Slack channel for #zalenium at the Selenium workspace, the link can be found at https://www.selenium.dev/support/

[2020-07-15 12:23] #1193 closed, assigned to nobody

[2020-07-15 12:34] mohitbansal-gep commented on #1193
I guess its mentioned in the  https://opensource.zalando.com/zalenium/#usage

If this template is deleted , can you guide/help us for the same. What should we do to enable and disable the video/vnc/recording through capabilities or is there any other way

[2020-07-15 12:36] diemol commented on #1193
It is easier if you join the Slack channel, there are more people there who can help and we avoid the back-and-forth for questions here.
Besides, GitHub issues is not a forum for Zalenium, is for actual issues.

[2020-07-16 16:39] terrafying opened #1194 "Kubernetes - Selenium Pod Scaling"
## No autoscaling
If I'm reading the docs right, the argument MAX_DOCKER_SELENIUM_CONTAINERS should mean that the zalenium hub can create up to that many pods.  However, the behavior I'm observing is that it only deletes/recreates up to the same number of DESIRED_CONTAINERS, even when selenium tests are run with parallelism of 10.  Am I just doing something wrong?

## Setup
Installed zalenium char

[2020-07-20 23:43] diemol commented on #1194
From the docs:

`--desiredContainers` = Number of nodes/containers created on startup.
`--maxDockerSeleniumContainers` = Maximum number of docker-selenium containers running at the same time.

Which means that Zalenium will keep `--desiredContainers` up at all time.
If you have `--desiredContainers` set to 10, but start 15 tests in parallel, there will be 10 pods running and when the extra 5 reque

[2020-07-20 23:43] #1194 closed, assigned to nobody

[2020-07-20 23:44] diemol commented on #1190
Closing since the issue template was completely ignored.

[2020-07-20 23:44] #1190 closed, assigned to nobody

[2020-07-21 13:09] bennysp commented on #1188
+1 Seeing the same behavior using 3.141.59 too.

Looks like this was changed after 3.141.59w release. However, I cannot find a way to pull 3.141.59w specifically.

Any help zalando?

[2020-07-22 12:38] hemanthsridhar opened #1195 "testFileNameTemplate and cookie injection is not working when using browserstack"
## 🐛 Bug Report

## Steps

Adding
when running with browserstack with the below capability
`
dc.setCapability("testFileNameTemplate", "{testName}")
`

it does not work.
the testFileNameTemplate is still
`
"testFileNameTemplate": "{proxyName}_{testName}_{browser}_{platform}_{timestamp}_{testStatus}"
`

The below code does not working either.

[code]

OS: OSX
Zalenium Image Version(s): latest
Docker

[2020-07-29 13:11] sayom88 opened #1196 "Can Zalenium be deployed on Akamai?"
Can Zalenium service be deployed on Akamai?

[2020-07-30 16:12] #1124 closed

[2020-07-30 17:54] dnbgarner commented on #1124
Hello Diego,

Do you need any help with this project while it transitions to grid 4.0.
Looks like you are far and away pulling the most work on this project.  It
doesn't seem that large though, I think I might be able to help.

that's all you right: -->>

12412 Diego Molina                    48.5%

2111 Diego Fernando Molina Bocanegra  8.2%

1616 Daniel Spasojevic                6.3%

1083 Joel P

[2020-08-07 15:09] rakeshnambiar commented on #1075
@loudDD Have you find the answer for this question - `where the downloaded files will be saved by default?`

Like @diemol  mentioned above the volume has been mounted `/home/seluser/videos`  folder and I set the default chrome download path to `/home/seluser/videos`. However, I cannot see the file name inside the Zalenium/node container by using the command `find /home/seluser -name myfile.txt`.

[2020-08-10 04:58] diemol commented on #1124
@dnbgarner thanks for your comment, however, I decided a while ago to not work more in Zalenium.
If you'd like, you can fork the repo and maintain it, I'd be happy to add a note to the readme mentioning that.

[2020-08-10 08:59] diemol commented on #1196
We don't know, please refer to their documentation, if you can run docker containers there, you should give it a try.

[2020-08-10 08:59] #1196 closed, assigned to nobody

[2020-08-10 09:00] diemol commented on #1195
Those capabilities only work with tests running locally, not in any of the cloud integrations.

[2020-08-10 09:00] #1195 closed, assigned to nobody

[2020-08-12 14:29] qalinn commented on #1135
Hello,
@diemol  I have the latest version and this issue is still happening.
Do you have any suggestion ?

[2020-08-12 14:38] nishantrevo commented on #1117
I was having the same issue with RobotFramework Suite. Turns out I had Selenium-4 and Appium dependencies. Appium was using Selenium-3 dependencies. Removing Appium solved the issue for me.

[2020-08-13 14:02] dchourasia opened #1197 "Video recording per session rather than per test"
## 🚀 Feature Proposal

in case when maxTestSessions is more than one, we should be able to have one video recording per session rather than per test

## Motivation

This will help us in case when we have too many cases, we will have fewer recordings to manage and search

## Example

we can have --videoRecordingForEach "test/session"

[2020-08-14 10:31] saigaitonde opened #1198 "Downloading file in zalenium gets saved in seluser/Downloads foldee"
Hello,

I need help. My code wants to save a PDF and then read the PDF. Locally, I have set capabilities to my chrome browser to download it to a local location and then I'm reading the PDF.

However, when I run it in Zalenium, even though I have set the capabilities to store the PDF in the same local directory, it downloads it in seluser/Downloads.

Is that how it works? How can I get it to downl

[2020-08-14 10:42] saigaitonde commented on #1174
Hello, I want to download the file and then use it for validation in the same script. How can I access the files in seluser/Downloads. Is that possible?

Or is it possible to download it locally in our system? Please do let me know.

[2020-08-16 12:31] mookkiah commented on #1047
Even though this project is not being developed, I see PR getting accepted for bug fixes. Appreciate that.

@diemol I would like to help fixing this bug.

Thinking of two different options

1. During cleanup instead of deleting entire videos directory, delete only the video (mp4) files, logs directory and update test information.

   Pros:
        - No value in deleting static web resources (dashb

[2020-08-18 06:31] arushi-29 opened #1199 "Cannot install local/zalenium"
## 🐛 Bug Report

Took clone of latest zalenium repository.

Cannot install local/zalenium using helm

PS C:\Users\awindows\zalenium> helm install local/zalenium
helm : Error: failed to download "local/zalenium" (hint: running `helm repo update` may help)
At line:1 char:1
+ helm install local/zalenium
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Error: failed t...date`

[2020-08-18 06:32] arushi-29 commented on #1199
I have seen these tickets

https://github.com/zalando/zalenium/pull/1020
https://github.com/zalando/zalenium/pull/1019
https://github.com/zalando/zalenium/pull/1025

But the fix does not seem to work for me

[2020-08-27 13:44] Montti37 opened #1200 "Zalenium vulnerabilities"
I tried emailing the security address but it was un-deliverable

As part of our corporate security scans with twistlock we have found some vulnerabilities in Zalenium.
I was hoping it would be possible to address the critical ones so we can continue using Zalenium.
There are a lot of other low level issues but the criticals that must be address for me would be:

com.fasterxml.jackson.core_jackson-

[2020-08-28 09:04] syedshirazahmed commented on #1198
You can use the mounting volume feature of Zalenium. While launching Zalenium, use the following:
-v /your/local/downloads/folder:/tmp/node/home/seluser/Downloads

This will mount your local downloads directory to the Downloads directory where zalenium will download the files. You can then directly read the downloaded file from your local directory.

Also make sure that the default download direct

[2020-08-30 08:46] mookkiah commented on #1047
@diemol @elgalu @pearj Created [PR#1201](https://github.com/zalando/zalenium/pull/1201) by choosing option 2 as it will not break any functionality.
Travis CI build is failing because of missing keys to run test and Codacy. Please let me know if we have instruction for me to follow to get that passed.

[2020-09-03 20:14] diemol commented on #1200
@Montti37 is not under development anymore, if you wish, you could send a PR and build the new version yourself.

[2020-09-03 20:17] diemol commented on #1197
@dchourasia no more features are developed, Zalenium is not under development anymore.

However, please check the documentation and look for the feature

https://opensource.zalando.com/zalenium/
It should show you a way to achieve what you want.

[2020-09-03 20:17] #1197 closed, assigned to nobody

[2020-09-04 13:33] qalinn commented on #1135
@diemol I have tried with 3.141.59w version and is working also is working with the latest version on minikube but on my k8s cluster it doesn't work.

[2020-09-06 19:37] diemol commented on #1135
I would suggest contacting your cluster admin, probably they can help to debug the issue.

[2020-09-09 09:14] happyali commented on #632
Zalenium release was 3.141.59z

I am still facing the same issue in win 10

[2020-09-09 09:18] diemol commented on #632
`net=host` does not work in Windows, only in Linux. It is a Docker limitation, not Zalenium's.

[2020-09-18 11:13] test-q commented on #410
I also face same issue - docker: Error response from daemon: mkdir c:\Users\your_user_name: Access is denied

[2020-09-24 21:11] Johnny2136 commented on #1200
@Montti37 we have found jackson.core to be problematic, if you update it in spring boot, then you will get a failing SAST scan with Checkmarx or similar if you roll back Twist lock catches it. Spring boot needs to fix their library, but if you find a good solution please post it ok? I think we are in the same boat as you.

[2020-09-24 21:14] Montti37 commented on #1200
We have a fix, once I get approval to fork it in from my company I will

On Thu, Sep 24, 2020, 5:11 PM Johnny Johnson <notifications@github.com>
wrote:

[2020-10-14 10:53] semihural commented on #1189
I fixed the issue via adding proxy using _JAVA_OPTS variable.

[2020-10-14 10:53] #1189 closed, assigned to nobody

[2020-10-14 11:31] semihural opened #1206 "Browserstack cannot forward the request Failed to connect to xxxxx (our corporate proxy server) java.net.ConnectException: Failed to connect"
Hi,

We have zalenium running in our k8s cluster and enable Browserstack for Edge tests. We are using our corporate  proxy server otherwise we did not able to connect between zalenium and browserstack or zalenium is not running properly in our cluster...So we able to connect but we received an error as below in somewhere after tests are started to run. It can be vary therefore I could not say it w

[2020-10-16 19:18] llinmd commented on #1200
@Montti37  We are in the same boat as you so I want to follow up on the fix. Are you able to get approval to share it? Thanks.

[2020-10-16 19:26] Montti37 commented on #1200
@llinmd I am still waiting for approval, it may take some time to actually share the repo, but we ended up just updating the pom file and rebuilding the app.
I will warn you once you get past this step, the underlying elgalu/selenium image that is used has the same vulnerabilities.
it too will need a similar fix. the underlying jar that causes that issue is the browsermob-dist.jar to save you some

[2020-10-16 19:47] llinmd commented on #1200
@Montti37 that's good to know. i will give it a shot. thanks.

[2020-10-19 08:40] dja-fr opened #1208 "Broken link to openshift doc on https://opensource.zalando.com/zalenium/"
## 🐛 Bug Report

Broken link in documentation ( https://opensource.zalando.com/zalenium/)
![image](https://user-images.githubusercontent.com/17960082/96421727-65f3c180-11f7-11eb-8c0b-bbf8f892b52f.png)

https://docs.okd.io/latest/dev_guide/deployments/how_deployments_work.html => 404 error
https://docs.okd.io/latest/dev_guide/deployments/kubernetes_deployments.html#kubernetes-deployments-vs-deploym

[2020-10-19 19:14] Narenqa commented on #469
Issue still happens "unknown error: Session [6827a391379c90bb242ba77e955eaf25] was terminated due to ORPHAN"
This is my Openshift zalenium kubernetes configuration can some one suggest me:

env:
            - name: SEND_ANONYMOUS_USAGE_INFO
              value: 'false'
            - name: LOG_LEVEL
              value: DEBUG
            - name: JAVA_OPTS
              value: '-Xms2048m -Xmx2048m'

[2020-11-02 11:00] joydeepece9 opened #1210 "Test Case Name for Video displaying as "null""
Hi @diemol  ,

In Zalenium dashboard video displayed incorrectly .

Expected : " Testcasename_###_timestamp"
Actual : "null_###_timestamp"

this behavior we have observed only for the first test case executed in the suite. For rest of the test cases it is coming as expected.

I have used Desired capabilities as desiredCapabilities.setCapability("name", "myTestName");

could you please assist me on

[2020-11-03 20:26] atsai1220 commented on #274
For those that ran into an issue where it just says "Copying files for Dashboard..." https://github.com/zalando/zalenium/issues/1082

We implemented the above CronJob and realized the endpoint is actually `doCleanup` instead of `doCleanupAll`.
https://github.com/zalando/zalenium/blob/4b322387d0a88c6c81fec7466558df1e85fab98d/dashboard/js/dashboard.js#L275

Otherwise we would get an error about acti

[2020-11-03 20:32] atsai1220 commented on #1082
Ran into the same issue.
We had to delete our nfs volumes for `zalenium-data` and `zalenium-videos` and reinstall Zalenium so there aren't as many files to `chown`. We used Helm to install Zalenium in the first place so it was straight forward.

Here is the Helm v3 Chart: https://raw.githubusercontent.com/zalando/zalenium/master/charts/zalenium

Then we implemented a CronJob described here (https:

[2020-11-18 02:58] Babu216 opened #1211 "can Zalenium support the integration with external docker containers?"
When you integrate zalenium with protractor/Selenium and trigger a test, Zalenium will spin up the docker containers based on your desired capabilities and these containers could support latest version of chrome and firefox which is a limitation, if you want to run on specific browser version, you should redirect your tests to the cloud platform like suaceLabs. To resolve this i've created my own

[2020-11-20 08:10] joydeepece9 commented on #1210
@diemol @zalando-robot @zalandostatcollector Could you please assist us on the above issue.

[2020-11-23 05:55] Subbu-raman opened #1212 "Is there an option to disable loading all video files into Dashboard when we start the Zalenium docker ?"
## 💬 Questions and Help

When we have lot of video files (close to 700 GB) it takes close to 3 hours to bring up the Selenium container when we run the Zalenium docker command. It shows the below messages in the Zalenium container,
"Copying files into Dashboard"

I reckon Zalenium is trying to load all the Video files into Zalenium dashboard at the start up.

Is there a way we can skip this initia

[2020-12-04 22:46] amiluslu opened #1214 "Copy Video File From volume of zalenium to External Storage"
## 🚀 Feature Proposal

Copy video file from zalenium to storage

## Motivation

This application based on JAVA Spring Boot with Maven, log4j for logging.. Aim of this app, takes .mp4 files from openshift zalenium volume, sends to external storage using rest services. Getting .mp4 files from /home/seluser/videos, putting into videos folder in my storage. However, you need another service that runs

[2020-12-12 21:04] mookkiah commented on #1214
@amiluslu if you already in openshift (Kubernetes) you can have different kind of external storage as pvc by using [volume plugins](https://kubernetes.io/docs/concepts/storage/persistent-volumes/). Why do we need another program to do this.

[2020-12-17 10:29] rakeshnambiar commented on #593
Hello all, any update or workaround for this?

I can see it's mentioned on the documentation `Known issues` section
https://opensource.zalando.com/zalenium/

[2021-01-05 14:49] danielvanmil opened #1215 "Zalenium not compatible with Docker 20.10.0"
## 🐛 Bug Report

Zalenium not compatible with Docker 20.10.0.
Most likely the cause is the Spotify Docker Client 8.15.0 that is not compatible with Docker 20.10. 0 as the filter feature is deprecated/changed, see changelog https://docs.docker.com/engine/release-notes/#20100 (Remove deprecated “filter” parameter for API v1.41 and up moby/moby#40491)

`DockerContainerClient.getLatestDownloadedImage`

[2021-01-06 12:44] pearj commented on #1214
This project is no longer maintained. Closing issue

[2021-01-06 12:44] #1214 closed, assigned to nobody

[2021-01-06 14:26] garmilw commented on #1215
I am having a similar issue with Chrome not starting under Zalenium on MacOS 10.15.7 with Docker 20.10.0 installed.  This worked prior to my doing the Docker update.
Update: found a work around.  I had to remove all my docker images, and let them all download again via docker-compose.  Doing that let the Chrome image run under Zalenium with Docker 20.10.0

[2021-01-07 11:08] danielvanmil commented on #1215
@garmilw: Could be the same issue. problem is that when you install a new docker image Zalenium will use the latest installed image. So when using Docker with multiple images besides Zalenium this will be tricky and not stable.

Possible workaround/solutions:

- Fork Zalenium and fix the bug
- Move to Selenium Grid as this is recommended (but still in beta). Problem is we're using some Zalenium fe

[2021-01-08 12:41] pearj commented on #1215
You could run Zalenium inside kubernetes instead. Then the docker version won’t matter anymore as long as it’s compatible with whatever Kubernetes flavour you choose.

[2021-01-08 14:25] iandeveseleer commented on #1215
It's not really true. Zalenium depend on fabric8 kubernetes-client 4.1.0 which isn't compatible with K8S versions above 1.9 in theory (but above 1.16 in practice)

[2021-01-08 22:07] pearj commented on #1215
@iandeveseleer Ahh yes the fabric8 client is a bit older. I have an installation running on Kubernetes 1.11. What happens after 1.16 which makes it not work? Zalenium doesn’t use anything particularly complex in Kubernetes, creating and deleting pods as well as executing commands in pods (from memory).

[2021-01-08 22:10] pearj commented on #1212
Use slack or stack overflow if you need help

[2021-01-08 22:10] #1212 closed, assigned to nobody

[2021-01-14 10:07] iandeveseleer commented on #1215
@pearj  Some deleted apiVersion are used in communication with Kubernetes, making node containers creation impossible.

[2021-01-14 10:11] iandeveseleer commented on #1215
This modification on getLatestDownloadedImage method worked for me, to make Zalenium working with Docker 20.10.X.

[getLatestDownloadedImage.txt](https://github.com/zalando/zalenium/files/5813712/getLatestDownloadedImage.txt)

[2021-01-23 01:01] haolong7 opened #1217 "Could not find Angular on page http://localhost:4200/"
## 💬 Angular v11 e2e test fails with Zalenium
### Error msg from ng e2e
[11:30:43] I/hosted - Using the selenium server at http://localhost:4444/wd/hub
Started
[11:30:56] E/protractor - Could not find Angular on page http://localhost:4200/ : retries looking for angular exceeded

### Host Env
MacOS

### Description
Web app is freshly generated by @angular/cli v11. The only thing added is
[code]
at

[2021-01-23 01:56] pearj commented on #1217
this is not a support forum. Use stackoverflow or slack for this purpose.

However, this is because localhost refers to the selenium docker container and not localhost on your machine.

[2021-01-23 01:56] #1217 closed, assigned to nobody

[2021-01-23 13:57] dbire commented on #1215
@danielvanmil, I have patched src/main/java/de/zalando/ep/zalenium/container/DockerContainerClient.java to its simplest expression and it is fine for my use case. At least I can use zalenium with docker 3.x

[code]

[2021-02-02 10:41] danielvanmil commented on #1215
@iandeveseleer @dbire : docker images available somewhere?

[2021-02-08 13:14] abhiagarwal41 opened #1218 "Running into 'Session was terminated due to ORPHAN' error when running on saucelabs"
Zalenium Image Version(s): 3.141.59t
OS: Ubuntu Linux
Docker Command to start Zalenium: /usr/bin/docker run --name zalenium -p 4444:4444 -e ZALENIUM_SELENIUM_CONTAINER_MEMORY_LIMIT=1573741824 -e SAUCE_USERNAME=**** -e SAUCE_ACCESS_KEY=**** -e SAUCE_LABS_URL=**** -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos -v /dev/shm:/dev/shm --privileged dosel/zalenium:3.141.5

[2021-02-10 16:14] arpitshahi227 commented on #1218
I am also getting this same issue from a long time specifically for the sauce labs. I tried various methods such as increasing idle time out but nothing worked out for me.

[2021-02-18 23:28] mleebp opened #1219 "z"
zf

[2021-02-19 07:51] b3ster commented on #528
If someone wants to download the logs/video after each run there is an easy way to do so.
At least if you have integrated zalenium in Jenkins, if you reset the dashboard after each run you can download videos and logs after each Jenkins Job - to access this without any issues, access the files via volume or mount the path to the host.
Docker option: -v /opt/videos:/home/seluser/videos
This will pr

[2021-02-19 13:37] mkrakowitzer commented on #1215
Would be great if one of you could publish an image somewhere. @iandeveseleer @dbire

[2021-02-19 15:00] mkrakowitzer commented on #1215
I have created an image with @iandeveseleer patch here: https://hub.docker.com/r/clsplatform/zalanium-patched

It worked for our use case.

[2021-02-25 21:09] jibinbabu commented on #525
I have exaclty same issue. When I use ingress context path, there is no hyperlink for "console" as expected. Anyone was able to solve it?

[2021-02-26 07:40] tbhatt-conga opened #1220 "Zalenium with multiple dynamic vms on kubernetes - Goal to execute around 15-20 testcases in parallel for out of 2500 for each job"
Hi @diemol

I have around 4000 testcases to be executed.  I have kubernetes  setup for Jenkins, where dynamic machine is created for each job. I have around 50+ jobs and each job has around 2000 to 3000 testcases.

How should be setup of zalenium on it. As of now using testng i am able to do parallel execution with 10 threads. Can I triggered execution in multiple machines of same job using Zaleni

[2021-02-26 08:35] pearj commented on #1220
Please use slack or stackoverflow for help

[2021-02-26 08:35] #1220 closed, assigned to nobody

[2021-02-26 08:37] tbhatt-conga commented on #1220
Can you provide me slack link?

[2021-03-01 12:39] meghanareddy59 opened #1221 "unable to launch the zalenium"
Hi,
my docker version is 20.10.4 and working on Linux
 successfully pulled both elgalu/selenium and   dosel/zalenium images
after executing the command
input : docker run --rm -ti --name zalenium -p 4444:4444  -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos dosel/zalenium start
**output : Docker binary already present, will use that one.
Docker version 18.09.0, bui

[2021-03-02 14:29] elgalu commented on #1221
Hi, sorry, Zalenium is no longer actively maintained by me. @hjacobs it's probably best to either archive/disable this repo or move it to @diemol

[2021-03-07 11:44] dchourasia opened #1222 "not able to mount Downloads folder to selenium container using zalenium on kubernetes"
## 🐛 Bug Report

We need to mount a Downloads folder from host to all the selenium containers in kubernetes deployment of zalenium.
Like in docker deployment we mount the Downloads folder to /tmp/node/home/seluser/Downloads and it automatically mounts Downloads to all the selenium containers at  the location /home/seluser/Downloads.

but its not working on kubernetes deployment, though we have mad

[2021-03-07 23:08] pearj commented on #1222
Support questions should be asked on slack or stackoverflow

[2021-03-07 23:08] #1222 closed, assigned to nobody

[2021-03-09 06:35] #1219 closed, assigned to nobody

[2021-03-09 22:56] bpurohitRKCI opened #1223 "(HTTP code 500) server error - Ports are not available: listen tcp 0.0.0.0:80: bind: An attempt was made to access a socket in a way forbidden by its access permissions."
## 💬 Questions and Help
I am unable to load LIVE preview or zalenium dash board
### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2021-03-10 17:05] bpurohitRKCI opened #1224 "zalenium dashboard, video recording is not working once I upgraded docker version on my local machine"
zalenium dashboard, video recording is not working once I upgraded docker version on my local machine

## To Reproduce

When I run automation script like I always do on my local machine, LIVE preview screen is not coming up with containers and also recorded videos are not storing in my dashboard.
## Expected behavior
![docker screen](https://user-images.githubusercontent.com/36707031/110666603-182

[2021-03-11 08:26] AlexThibaud1976 opened #1226 "Browserstack tests are no longer displayed in the dashboard"
Few months ago I was able to displayd my browserstack Tests in the dashboard with recorded sessions.
Now, it doesn't work anymore.

Is there a way to fix it ?

[2021-03-19 13:08] pearj commented on #1223
This is not a support forum. Use slack

[2021-03-19 13:08] #1223 closed, assigned to nobody

[2021-03-21 22:18] justinasjaronis opened #1227 "Impossible to provide docker login credentials secret for selenium image from private registry"
## To Reproduce

If we provide custom docker image in helm chart values:

hub:
  seleniumImageName: my.private.registry/selenium-modified:dev

However if it is private registry, creation of worker container will fail since it cannot login.

There is a "imagePullSecret" setting but it allows to adjust just  zalenium main image registry credentials, not a worker.

## Expected behavior

There should

[2021-03-22 22:05] pearj commented on #1227
Development has stopped on Zalenium. But you can achieve what you're after by setting the pull secret on a service account as mentioned here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account
I'm fairly sure you'll want to use the default service account in your namespace. The zalenium container uses a different service ac

[2021-03-22 22:05] #1227 closed, assigned to nobody

[2021-03-23 11:39] achatap opened #1228 "I am not able to see chrome and firefix node after installing jenkins and now if I run zalenium"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

After pulling the jenkins code and if I now run the zalenium then I am not able to see chrome

[2021-03-23 15:23] achatap commented on #1228
When I am executing "docker run --rm -ti --name zalenium -p 4444:4444 \
      -e PULL_SELENIUM_IMAGE=true \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -v /tmp/videos:/home/seluser/videos \
      --privileged dosel/zalenium start" it is starting jenkins , please check screenshot
<img width="1536" alt="Screenshot 2021-03-23 at 8 52 35 PM" src="https://user-images.githubusercontent.co

[2021-03-24 00:59] rajesh9383 opened #1229 "What version of python is compatible for selenium image"
## 💬  We have found some critical vulnerability in selenium image with python version. I tried to upgrade to python to 3.9.2 & pip 21.0.1. The image is getting built without any issue. But when we start the grid. the zalenium image is coming but selenium grids are not coming. Is there a compatibility issues with python version?

### Please note that this issue tracker is not a help form and this i

[2021-03-24 01:15] rajesh9383 commented on #1200
@Montti37  I am having similar vulnerabilities. Can you please share the repo ?

[2021-03-24 11:09] pearj commented on #1229
Selenium grids are managed in another project: https://github.com/elgalu/docker-selenium raise an issue there.

[2021-03-24 11:09] #1229 closed, assigned to nobody

[2021-04-06 19:42] ksrinathme opened #1230 "Does Zalenium is supported on Openshift 4.6?We are working on deploying it in our 4.6 environment.Kindly provide the steps for doing the same."
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [StackOverflow - Zalenium](https://stackoverflow.com/questions/tagged/zalenium)
- [Slack channel - #zalenium channel](https://seleniumhq.herokuapp.com/)

[2021-04-06 22:45] pearj commented on #1230
Issues are not a support forum.

[2021-04-06 22:45] #1230 closed, assigned to nobody

[2021-04-07 04:25] ksrinathme commented on #1230
Hi Joel,

Kindly let me know where can I raise a help request or could you please
direct for installing zalenium on open shift 4.6 ???

Thanks,
Srinath.K

On Tue, Apr 6, 2021, 6:45 PM Joel Pearson ***@***.***> wrote:

[2021-04-08 21:28] anwoolterton commented on #1154
With later kubernetes 1.18+ you use the following in your service spec

[code]

[2021-04-23 12:44] srikanthvallapuri commented on #480
am stil not able to get teh test name in teh dashboard, doesn anyone has sample wdio.conf.js for adding test name

[2021-05-03 09:35] h-bahrami opened #1231 "vnc authentication seems to be not working"
Hi,
I am trying to secure the VNC traffic by Nginx's secure_link_module or something like that, after finding it not working I tried to understand what's the problem then I see that `VncAuthenticationServlet` implemented to do the authentication, but it seems that it does not receive/check the requests.

So based on the Nginx config (below) all the requests to `proxy/ip:port/websockify` should be

[2021-05-03 12:48] pearj commented on #1231
Zalenium already supports basic auth. You shouldn’t need to be modifying any nginx config. You just need to enable the basic auth support in Zalenium.

See https://opensource.zalando.com/zalenium/
Look for the “Enabling basic auth” section

[2021-05-03 13:21] h-bahrami commented on #1231
That I've already enabled and it works Ok, but it does not protect `/proxy/ip:port/websockify`, I can send a test case to Zalenium (with basic auth of course) and then start noVNC client with no basic auth headers and receive traffic

[2021-05-03 13:44] h-bahrami commented on #1231
That I've already enabled and it works Ok, but it does not protect `/proxy/ip:port/websockify`, I can send a test case to Zalenium (with basic auth of course) and then start noVNC client with no basic auth headers and receive traffic.

[2021-05-03 23:26] pearj commented on #1231
Oh that's interesting. Will leave this open then. I'm sure you are aware that development has stopped on this project, so it isn't going to be fixed on its own.

[2021-05-04 05:25] Sandeepk123 opened #1232 "Getting ERR_CERT_AUTHORITY_INVALID issue while login to the application in node"
Getting ERR_CERT_AUTHORITY_INVALID  issue while login to the application.
![image](https://user-images.githubusercontent.com/36875302/116963248-f68e7c80-acc5-11eb-9964-85e17637f3eb.png)

Please have a look into attached screenshot.

Issue 2:-

All nodes are getting disconnected within 20 sec. i have used  -e SEL_BROWSER_TIMEOUT_SECS:16000 but no luck.please help me in increasing the browser sessio

[2021-05-04 07:17] h-bahrami commented on #1231
Ok, I am aware of that, I was hoping that someone from the team or anyone who knows what's the problem can give me some hints perhaps I could fix it myself, I've already made a couple of small modifications in the Zalenium.

[2021-05-04 17:56] komodin commented on #1215
Hi, is it in the plans to fix this? It would be great can update to Docker 20, but we're stuck on 19 because of this bug.
Thanks

[2021-05-07 01:16] Oktaliem commented on #1215
Yeah got that similar problem on Docker 20.10.2

CONTAINER ID   IMAGE                          COMMAND                  CREATED          STATUS          PORTS                                            NAMES
53735d86e1d6   sonarqube:latest               "bin/run.sh bin/sona…"   8 minutes ago    Up 8 minutes    9000/tcp, 40000/tcp, 50000/tcp                   zaleniumth_FlpUPk

Zalenium took anothe

[2021-05-07 09:36] pearj commented on #1215
This project is no longer receiving updates. Feel free to use the workarounds mentioned above.

[2021-05-25 12:53] sandy77-techm opened #1233 "Not able to launch Edge browser getting error"
## 💬Hi  ,
Can someone pls give a solution
Not able to launch Edge Browser getting a error
Below is the code:

DesiredCapabilities capabillities = DesiredCapabilities.edge();
		    capabillities.setBrowserName(BrowserType.EDGE);

	    capabillities.setCapability(CapabilityType.ACCEPT_SSL_CERTS, true);
	    capabillities.setCapability(InternetExplorerDriver.INTRODUCE_FLAKINESS_BY_IGNORING_SECURITY_D

[2021-06-01 15:43] hemalatha426 opened #1234 "Getting the issue: org.openqa.selenium.WebDriverException: unknown error: session deleted because of page crash from unknown error: cannot determine loading status from tab crashed"
** We have been using the Zalenium from past couple of years, but facing the issue on May 19th onwards.. even we dont have any code changes its been failing now due to below issue***

org.openqa.selenium.WebDriverException: unknown error: session deleted because of page crash from unknown error: cannot determine loading status from tab crashed

Capabilities {acceptInsecureCerts: true, browserName:

[2021-06-03 08:11] tbhatt-conga commented on #202
@diemol - is there any update for having the compressed size of video to handle 1000-2000 testcases.

[2021-06-03 08:16] diemol commented on #202
https://github.com/zalando/zalenium/issues/654#issuecomment-632814276

[2021-06-10 15:02] rohansingh97 commented on #123
Hello @diemol
So we should use string for idle timeout or integer works or both.

Regards
Rohan

[2021-06-24 20:56] ilhaan commented on #1010
@diemol I am seeing this happen in one of my two Zalenium deployments. The only difference between the two deployments are `desiredContainers` and `maxDockerSeleniumContainers` values:

* dev install (no issue):
[code]
* prod install (pods stuck in "Terminating" after completing test):
[code]

I tried the `containerSecurityContext` config mentioned [above](https://github.com/zalando/zalenium/issue

[2021-07-16 09:08] duykhanhrc commented on #882
This works for me !

[2021-07-29 13:50] rakeshnambiar commented on #580
@diemol I have the same issue on `zalenium:3.14.0g` and the reason I am using this old tag is to avoid the known issue `FORWARDING_TO_NODE_FAILED`. Please advise.

[2021-08-05 10:34] rakeshnambiar commented on #1135
@diemol it's not working for me with persistent volume and the error is the same. U tried with the latest version.

[code]

However, when I try without the persistent disk it's all working on the same k8s cluster and I am not using Minikube.

[code]

[2021-08-05 12:55] rakeshnambiar commented on #993
@flavialetgo I too facing the same issue in the latest version as well as the version `3.14.0g`. Do you know any workaround for the k8s deployment?

[2021-08-05 16:55] prabhudatta22 opened #1237 "Parallel execution not possible now"
## 🐛 Bug Report

We implemented Zalenium with kubernetes. Created 2 containers. While executing test cases in parallel...its failing after 15 test case executed.

## To Reproduce

maxcontainer=10, maxSession=10

## Expected behavior

A clear and concise description of what you expected to happen.

## Test script reproducing this issue (when applicable)
Try to execute 20+ test cases in parallel

##

[2021-08-23 09:12] zhaoyi007 opened #1240 "start the container error"
## 💬 Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Start the container to report an error and ask for help. The following is the error information

------------------------------------------------------------------------------------------------------------------
Docker binary already present, will use that one.
Docker version 18.09.0

[2021-08-26 02:53] dineshkumarsarangapani opened #1241 "null Error while starting a new container"
## Getting the following error in Mac Os.

`null Error while starting a new container`

Complete Stack trace.

[code]

Commands used,

[code]

and

[code]

Docker version,
[code]

[2021-08-30 09:57] iburahim786 opened #1242 "Since you stopped implementing Zalenium project, how can we update the browsers version from users side?"
Feature:
browser version needs to updated from user side.

I already found one [(request)](https://github.com/zalando/zalenium/issues/1098). Since Zalenium projected stopped their implementation, how as a end user can update browser version.

Kindly share the steps/links if already published.  Else please guide to update the browser version

[2021-09-08 08:57] sandisiva opened #1243 "zalenium doesnt run with podman"
podman run  --name=zalenium -it /dosel/zalenium /bin/bash
/usr/bin/entry.sh: line 34:     9 Segmentation fault      sudo pwd > /dev/null 2>&1
--WARN 09:51:35:282455455 We don't have sudo
Docker binary already present, will use that one.
Docker version 18.09.0, build 4d60db4
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

[2021-09-15 04:26] vanipatel91 opened #1245 "I need access zalenium dashboard and videos from other remote machines"
## I need access to dashboard, videos and logs access from any remote machine. Do we have any zalenium configuration or environment variable to access zalenium dashboard from any machine? So that all team members of my team can have access to review test case status.

[2021-09-15 11:43] JaspreetSasan commented on #1245
@vanipatel91 You can host it on the cloud and that way dashboard and videos would be accessible to your team. Here is how you do that and access your public dashboard: https://anaverageyear.com/2021/08/30/how-to-host-zalenium-on-k8s-cluster-and-run-selenium-tests-on-it/

[2021-09-15 12:10] vanipatel91 commented on #1245
I am getting another issue when trying execute test in saucelab.
I have some test cases which are for mobile device, I need to execute them in saucelab.
Saucelab node is started successfully and is visible in grid but I am still not able to execute test in saucelab. Do we have to change anything in capabilities to execute test in Saucelab browser?

[2021-09-15 12:11] vanipatel91 commented on #1245
Thank you for your peompt response. I will give it a try.

[2021-09-15 13:45] JaspreetSasan commented on #1245
I wish I could help you with this but I haven't worked with Saucelab integration.