[2018-02-25 20:40] vikaskedia opened #451 "can i get build status -> success or failed from command line?"
Thank you for the wonderful project.

After the tests finish running I need to get the build status from the command line.

Is that possible?

I need the build status so if the test passes I can push code to the upstream server.

I am using protractor for the testing. I see that there is a log file selenium-multinode-stderr.log

And it has entries for the value of "zaleniumTestPassed"

I can proba

[2018-02-25 21:01] diemol commented on #450
Hi @vikaskedia,

Yes, this could be done, and it is not really complicated. I'll just leave the issue open for a while in case someone has a different opinion (since no one has requested this before).

[2018-02-25 21:04] diemol commented on #451
Hi @vikaskedia,

That status comes from the testing framework, since in it you are able to send the cookie to set the status shown in the dashboard.

Therefore, the best place to grab it would be the test framework itself.

[2018-02-25 21:04] diemol commented on #451
and thanks for the kind words!

[2018-02-26 07:53] adrichem commented on #430
Hi @diemol I think it is a good idea that the dashboard and its storage/indexing is spilt away from the Java servlets in the Selenium hub. That will allow the users to make choices like

1. Which node runs that part of the functionality
1. Replace it with their own version. In my case, I have no need for the local dashboard

[2018-02-26 09:14] peerster opened #452 "Browserstack stops working"
Zalenium Image Version(s):
3.9.1a
Zalenium is running in Openshift origin 3.7

## Expected Behavior -
Browestack continues to work

## Actual Behavior -
We're using browserstack, and it works quite well.
However, from time to time, we get the following:
[code]
And when this happens the error keeps reoccurring and the only way to recover is to deploy again (i.e reboot the pod).

Haven't really debu

[2018-02-26 12:11] peerster commented on #452
Hm actually it seems that it can recover from this error. Debugging this is going to be even harder than I thought 😄

[2018-02-26 19:09] Deklin commented on #447
@diemol unfortunately that passed the values down but caused the container to crash loop because the parameter would have been specified twice.

I'm still exploring options here

[2018-02-27 06:50] joncbender commented on #340
I am having a similar issue, but am running in the default namespace.

[zalenium.yaml.txt](https://github.com/zalando/zalenium/files/1761513/zalenium.yaml.txt)

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1beta1","kind":"Role","metadata":{"annotations":{},"name":

[2018-02-27 10:53] pearj commented on #340
@mitchellmaler Sorry for not responding sooner, I missed these notification emails.

https://kubernetes.default.svc/ is the kubernetes api server, which runs in the default namespace.  That's what zalenium connects to by default to create pods etc.

I think I figured out what was wrong with the `kubectl create rolebinding zalenium-admin-binding --clusterrole=admin --serviceaccount=selenium:zaleniu

[2018-02-27 10:55] pearj commented on #340
@joncbender what flavour of kubernetes are you using? Minikube? OpenShift? GCE? Others?

[2018-02-27 10:58] pearj commented on #441
I started to toy around with the DelayQueues, but haven't got too far yet, as I just work on zalenium occasionally in my evenings. I'll see how far I get.

[2018-02-27 11:13] joncbender commented on #340
@pearj vanilla on proxmox hosted ubuntu VMs.  Let me paste the entire log
[code]

[2018-02-27 20:05] pearj commented on #340
@joncbender I’m yet to actually try the kubernetes rbac support, I’ve only tried the OpenShift rbac before it was merged into kubernetes.

Can you try using the admin role like this:
`kubectl create rolebinding zalenium-admin-binding --role=admin --serviceaccount=default:zalenium --namespace=default`

Once that works I’ll try and figure out what is wrong with the zalenium role in kubernetes rbac

[2018-02-28 00:42] yamamoo commented on #260
Sorry to comment on closed issue.  I was able to run two instances of Zalenium on a single host.  Howerver, if I tried to run more than three instances, the only the first two spawned the child containers.

- zalenium_1 --> spawned zalenium_1_40000 and zalenium_1_40001
- zalenium_2 --> spawned zalenium_2_40002 and zalenium_2_40003
- zalenium_3 --> no child container
- zalenium_4 --> no child conta

[2018-02-28 02:27] joncbender commented on #340
@pearj No luck, unfortunately.

In the API server logs, I see:

[code]
With that in mind, I added a new clusterrole and binding:
[code]

[2018-02-28 03:03] joncbender commented on #340
I adjusted my roles to:
[code]
From inside the pod I can now do:
[code]
However, the following:
[code]
gives me the same error as above:
[code]

[2018-02-28 03:24] pearj commented on #340
Oh I see it’s looking for nonResourceURL of “/“ it sounds like the
KubernetesClient must be trying to check if the URL exists or something.

If you look at
https://kubernetes.io/docs/admin/authorization/rbac/#role-examples

And search for nonResourceURL it sounds like you probably need to allow get
for “/“
On Wed, 28 Feb 2018 at 2:03 pm, joncbender <notifications@github.com> wrote:

[2018-02-28 03:30] mitchellmaler commented on #340
@pearj Thanks for that! Ill have to give it go!
I have learned way more about k8s since then so it makes a lot more sense now what was the issue!

We are moving providers for our k8s env so it may be a bit before I can give it a go.

[2018-02-28 03:53] joncbender commented on #340
@pearj Based on https://github.com/fabric8io/kubernetes-client/issues/850
I added
[code]

Everything works now.

[2018-02-28 06:17] lstrupinskaya opened #454 "Video is not working and test is timing out"
On our VM video is not recorded and tests status is showing as Timed Out for the latest zalenium docker container.

Expected behavior:
In the dashboard, Test passes and video is available after test is finished.

Actual behavior:
In the dashboard, Test finishes with status "Timed out" and video is not available after test is finished.

Below is my setup.
VM: Linux zalenium-dev 4.4.0-21-generic #37

[2018-02-28 06:17] pearj commented on #340
cluster-admin isn't really what we want though. If the problem is simply related to isOpenshift, I think we can remove that check from Zalenium, because in the end I didn't end up using any features that required openshift specifically.

[2018-02-28 11:05] peerster commented on #452
We're running into this quite often. Any suggestion on what it could be?

[2018-02-28 11:54] peerster commented on #452
Also, when it stops working, the grid is unaware of this...

So tests that are trying to be dispatched to browserstack gets:
[code]
Is there any "mechanism" for trying to setup the tunnel if it goes down?

[2018-02-28 12:07] peerster commented on #452
Here is some additional debug info from within the zalenium pod:
[code]
[code]

So from that perspective the tunnel seems to be up and everyhings OK... but in realtiy it's not :)

[2018-02-28 15:36] gpapadakis opened #455 "Privileged mode off"
Hi all,

we are using a vm that we can not have started zalenium in privileged mode as userns host is not supported from spotify. Can we have this configurable? https://github.com/zalando/zalenium/blob/e861ed5874ba505753dc5bc65bc371f7f5b2df37/src/main/java/de/zalando/ep/zalenium/container/DockerContainerClient.java#L223

[2018-02-28 17:10] diemol commented on #452
Hi @peerster,

It kind of looks like we have two issues.

One is that somehow Zalenium tries to fetch the test information from BrowserStack and after retrying, it fails with that file not found. We need to add some control there for that case.

The second one, looks like the tunnel crashes? Is it like that?

[2018-02-28 17:13] diemol commented on #454
Hi @lstrupinskaya

The test timeout status will show if no command was received for more than 90 seconds.

The logs look fine, so maybe we can check how your test looks like? Could you post the code of a small test where you have this situation happening?

[2018-02-28 17:15] diemol commented on #455
Hi @gpapadakis,

I think you are right, I thought we were grabbing that from the startup parameters. We'll look into that.

Thanks for reporting it.

PS: What do you mean by "zalenium in privileged mode as userns host is not supported from spotify"?

[2018-02-28 17:19] peerster commented on #452
I agree, there are two issues, but I don't know if they're related?
I mean fetching `https://www.browserstack.com/automate/sessions/.json` should not have anything to do with the tunnel right?

Maybe there are more options to the `BrowserstackLocal` (or what's it called) binary that can log more information, because of now I couldn't see anything related to the tunnel not working, but as you state

[2018-02-28 17:56] lstrupinskaya commented on #454
Hi Diemol,

Below is the test that i am running:
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.keys import Keys
import time

dc = DesiredCapabilities.FIREFOX
driver = webdriver.Remote(command_executor="http://localhost:4444/wd/hub",
                          desired_capabilities=dc);

driver.get("http://

[2018-02-28 18:11] gpapadakis commented on #455
Running the container with privileged mode then messes up the ownership of certain files like sudo so it is complicated to make work. So if we switch off the privileged mode and get them from environment it would be great,

[2018-03-01 09:54] hdimitriou commented on #455
So the issues we are facing are multiple.
We are using user namespaces so we need '--userns=host' to apply '--privileged' in zalenium container, however this messes up /usr/bin/sudo and other files permissions and requires handling to work.

Then zalenium tries to start containers with '--privileged' without having the option to set it and without having the option to use '--userns=host'. What gpa

[2018-03-01 12:14] pearj commented on #340
I had a look at how isOpenShift works:

https://github.com/fabric8io/kubernetes-client/blob/master/openshift-client/src/main/java/io/fabric8/openshift/client/OpenshiftAdapterSupport.java#L48

And it does traverse the API server from the base, so it probably needs some "nonResourceURL" permissions to be able to do that.  However, it's still probably simpler just to remove the openshift detecting.

[2018-03-02 08:14] peerster opened #457 "Browserstack: Problems related to wrong capabilities"
Zalenium Image Version(s):
3.9.1a

Docker Version:
Running in openshift origin 3.7

## Expected Behavior -
When browserstack is enabled in Zalenium and your test requests capabilities that are missing some mandatory capability, this should be handled or at least responded to the client somehow

## Actual Behavior -
This is the message shown in the output of zalenium if your test don't have the `br

[2018-03-02 22:29] lstrupinskaya commented on #454
I have added test script to the initial question

[2018-03-03 02:40] diemol commented on #426
I think I just reproduced the issue by accident, I will try to double check and see if I find the root cause.

[2018-03-03 23:40] borisivan commented on #426
FWIW, I've spent quite a bit of time on this over the past week. I believe that some or most of the examples I encountered earlier were a threadsafe problem re: webDriver usage re: running the tests in parallel. I've moved all webDriver creation and access to a threadlocal strategy, and frequency has diminished by ~ 75%.

Regarding the remainder that I've still been seeing, I believe there might b

[2018-03-04 03:26] #340 closed

[2018-03-04 03:31] diemol commented on #340
Thanks to @pearj's PR that has been merge to master this should work, I'll do the release tomorrow and then we would appreciate feedback on it.

[2018-03-04 09:20] rredkovich opened #461 "Incompatibility with Drone CI"
Zalenium Image Version(s):  3 (3.10a ?)
Docker Version:  1.11.2-cs5
OS: Ubuntu 14.04.4 LTS (GNU/Linux 3.13.0-85-generic x86_64)
Drone CI: v0.8.4 (self hosted, Amazon EC2)

## Expected Behavior
Zalenium could be used with Drone CI

## Actual Behavior
Have encountered multiple errors during set up, resulting configuration ends with
`/bin/sh: 3: cannot create /root/.netrc: Permission denied`

### Fir

[2018-03-05 11:00] wmitsuda opened #463 "NullPointerException while running Zalenium on AWS ECS"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):  3.10.0a

Docker Version:  17.09.1-ce, build 3dfb8343b139d6342acfd9975d7f1068b5b1c3d3

OS: Amazon Linux ECS image

Docker Command to start Zalenium:  Actually, I'm starting Zalenium on AWS using ECS task definitions.

When starting Zalenium inside a EC2 machine by usi

[2018-03-05 11:43] peerster commented on #452
I think our issue is that the tunnel is started somewhere else, causing this to happen with the tunnel started by Zalenium:

[code]

So that's basically the reason for the tunnel to stop working.

[2018-03-05 19:39] diemol commented on #426
Wow, thanks @borisivan!
You just helped us to find a really old bug!! Your analysis was vital to find the cause of this error you were seeing. That was the pattern indeed, a timeout and then the error.

This bug exists, perhaps, since the early stages of Zalenium. The thing is that it is more prone to happen when running several threads and reusing containers.

In short, the timeout happens, and s

[2018-03-05 20:03] diemol commented on #437
Hi @geek876,

How did it go? Could you deploy the service with an url that was reachable to the containers?

[2018-03-05 20:06] diemol commented on #451
@vikaskedia in https://github.com/zalando/zalenium/releases/tag/3.10.0a it was just added an endpoint where you can query all the test information in a json format.

This endpoint is under development but it may give you what you need.

I'll close this issue since this info should be available in the test framework, but now is also available in the endpoint.

[2018-03-05 20:06] #451 closed

[2018-03-05 21:10] borisivan commented on #426
Hi @diemol (and @stefankahn) -- that's great, will let you know what difference in behavior I see after running it for a few days after you release.

When you have time at some point, would love to know how we might be able to debug the browser startup problem on the node, as that (as you mention) seems like it's the start of this sequence of events. While I forget what I saw re: Firefox, I do kno

[2018-03-06 07:53] peerster commented on #452
We have solved the tunnel issue by using a separate container for it instead. This way if the tunnel for some reason dies openshift will restart the container, which is exactly what we want.

Regarding the error of fetching the json session:
https://github.com/zalando/zalenium/blob/a3b06b2782763b08534c789ac148bdc29d3e0322/src/main/java/de/zalando/ep/zalenium/proxy/BrowserStackRemoteProxy.java#L85

[2018-03-07 08:34] lstrupinskaya commented on #454
I compared all logs between MacOS where videos are generated and Ubuntu where videos are not generated. The only difference between the logs was in xterm-stderr.log.

...@zalenium-dev:/tmp/videos/logs/zalenium_3c4859ad-fdb0-4879-a278-2526b7e67c9b_firefox_LINUX_20180307092746057$ cat xterm-stderr.log
ERROR: FATAL! supervisorctl status failed in /usr/bin/start-xterm.sh

[2018-03-07 10:09] gpapadakis commented on #426
We also found this issue. We are currently use a ThreadPool of size 10 to parallelize our tests and a lot of tests are getting the exception described in this thread. Also found that if i increase the chrome/firefox containers(more than 10 in number) i am always getting at most 10 nodes with 1 chrome instance available? How can i have one node and multiple chrome/firefox instances supported in a s

[2018-03-07 10:25] diemol commented on #426
@gpapadakis we are going to release this fix soon, so the exception should not be present (unless the root cause is different in your scenario).

To answer your question, to run 5 Chrome sessions in parallel, 5 containers are needed. We only run on test session per node to simplify everything. Otherwise capturing video would be extremely hard since many browsers are using the same window.

[2018-03-07 10:29] gpapadakis commented on #426
Thanks for the quick response and why if i add --chromeContainers 20 it will only start 10 containers? Is this the upper limit?

[2018-03-07 10:31] diemol commented on #426
Please use `--desiredContainers` instead, `--chromeContainers`  will be removed soon.

Now, if I request 20 containers, but `--maxDockerSeleniumContainers` is set to 10 (default value), only 10 will be created.

[2018-03-07 10:35] geek876 commented on #437
Hi @diemol
I have raised this with GitLab https://gitlab.com/gitlab-org/gitlab-ce/issues/43206 and see if there is any traction. If not, and if it becomes a priority for us, we will proceed the usual way (i.e. not use GitlLab runner). Will keep you posted. Thanks for checking in.

[2018-03-07 10:36] #426 closed

[2018-03-07 10:50] diemol commented on #426
This was just released, please pull the new images
https://github.com/zalando/zalenium/releases/tag/3.10.0b

[2018-03-07 10:51] gpapadakis commented on #426
Thanks @diemol for the fix!

[2018-03-07 10:53] diemol commented on #426
I hope things work in your environments, we tried to test with several threads and we didn't see it. So hopefully it also works on your side.

If not, don't doubt to report it again, thanks!

[2018-03-07 16:00] koala2012 opened #466 "why test status was TIMEOUT"
I just run test by selenium, I have 2 tests both were very short only had 6 seconds, why the the recording video had 90 seconds? and why the test status was TIMEOUT? the backend log as following

[code]

[2018-03-07 19:47] peerster commented on #353
One fix could be to add a rewrite that adds a trailing slash, but I'm afraid it might break something else

[2018-03-07 20:38] diemol commented on #437
Hi @geek876,

OK, I see, I hope it gets traction and you can use only the GitLab runner.

I think I will close this issue then since there is not an action item for us, but if you see than something could be done on our side, please feel free to comment and reopen the issue.

[2018-03-07 20:38] #437 closed

[2018-03-07 21:10] diemol commented on #442
I'll close this issue since it doesn't seem related to Zalenium, but we'll follow up with the other one you have opened.

[2018-03-07 21:10] #442 closed

[2018-03-08 06:54] diemol commented on #452
Thanks for all the feedback @peerster, so it just seemed a matter of keeping the tunnel alive.
What is strange for me is how the seleniumSessionId appears empty...

Anyway, I will close the issue and if something comes up, please reopen or start a new one.

[2018-03-08 06:54] #452 closed

[2018-03-08 07:33] diemol commented on #455
Yes, that is correct, we suggest to run Zalenium as privileged when possible. Of course this should be configurable, and somehow we missed that when creating the elgalu/selenium containers.

We just made a change to fix that, and we should release it in 1-2 days.

[2018-03-08 07:44] #450 closed

[2018-03-08 07:53] diemol commented on #450
Hi @vikaskedia,

This was just merged to master, it will be released in 1-2 days.

[2018-03-08 08:01] gpapadakis opened #469 "Session terminated due to ORPHAN"
Zalenium Image Version(s):  3.10.0b
OS: Ubuntu Linux
Docker Command to start Zalenium:  docker run -d --rm --name zalenium -p 4444:4444 -v /var/run/docker-ci.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged --userns=host docker-registry:41238/ci/zalenium:3.10.0b --desiredContainers 20 --maxDockerSeleniumContainers 20

We are running up to 10 concurrent tests and the issue

[2018-03-08 08:07] diemol commented on #461
Hi @rredkovich,

If I understand correctly, the main problem is that the docker versions between client and server are not compatible. Inside the Zalenium container we have two docker versions available, see here: https://github.com/zalando/zalenium/blob/master/docker/Dockerfile#L253

And one could choose which one to use by passing an env var like this `-e DOCKER=17.06.2-ce`.

We update the docke

[2018-03-08 08:13] diemol commented on #463
Hi @wmitsuda,

It is hard for me to say, I have not tried AWS ECS yet. After reading the stacktrace it looks like Zalenium crashes because it cannot figure out in which docker network is running. This is done to use that network when the node containers are created.

We would need to try ECS and see what happens, but to be honest we are short on time since we are working on different stuff now. Pr

[2018-03-08 08:17] diemol commented on #466
Hi @koala2012,

Selenium will perceive that a session has been terminated when you do `driver.quit()`, and then Zalenium relies to that to mark the test as completed. If the test does not do `driver.quit()` then the session stays alive for 90 seconds (default value), and then it is marked as time out.

Please ensure that you are doing `driver.quit()` to close the session properly.

I'll close this

[2018-03-08 08:17] #466 closed

[2018-03-08 08:20] gpapadakis commented on #469
It may occur the case that we spawn a session that is idle for a couple of minutes (1-2) and then do actions to the session. So can we configure timeout for idle sessions?

[2018-03-08 08:21] diemol commented on #454
Hi @lstrupinskaya,

I see that you are doing `driver.close()`, this just closes the browser/tab. To finish the session please do `driver.quit()`, and then the test won't be marked as time out.

[2018-03-08 08:29] gpapadakis commented on #469
In official Selenium Docker nodes were created with the above jvm options: SE_OPTS="-timeout=86400 -browserTimeout=86400" that may is the case for this issue. Is there a way to configure them in Zalenium @diemol ?? Thanks for assist

[2018-03-08 08:31] xdavidoff opened #470 "Session [(null externalkey)]"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):  latest
Docker Version:  17.12.1-ce
docker-compose, version:  1.19.0
OS:
VirtualBox with last ubuntu
Docker Command to start Zalenium:
        command: >
            start --desiredContainers 2
                  --maxDockerSeleniumContainers 8
                  --scre

[2018-03-08 08:35] diemol commented on #469
Hi @gpapadakis,

That looks like a timeout, Zalenium ends inactive sessions when they reach 90 seconds (default value). This can be configured via a capability, see https://zalando.github.io/zalenium/#usage > Idle Timeout.

Then you can set it for, e.g., 300 seconds and it should work fine.

[2018-03-08 08:38] diemol commented on #470
Hi @xdavidoff,

That is an issue with the PHP bindings, check https://github.com/zalando/zalenium/issues/415

The thing is that it is not possible to set that flag anymore, it was removed in Selenium 3.9.1 (I think), because people were just using `enablePassThrough` and not reporting bugs to Firefox.

So, yes... Things need to be solved in the PHP bindings. This is a current issue with any type o

[2018-03-08 08:51] gpapadakis commented on #469
Thanks for this i will test it ASAP

Στις 8 Μαρ 2018 10:35, ο χρήστης "Diego Molina" <notifications@github.com>
έγραψε:

[2018-03-08 09:55] gpapadakis opened #471 "Record on demand"
Zalenium Image Version(s): 3.10.0b

An enhancement that would be great for us is to start /stop video recording on demand just like in elgalu selenium with docker commands: docker exec grid start-video/stop-video. The case for us is that we wants to limit the amount of records to the failed scenarios or start recording after a remote session is initialized on demand. Is this doable @diemol?

[2018-03-08 11:18] koala2012 opened #472 "Zalenium dashboard can not replay video"
Hello,

I just run docker image on CentOs by command:
my docker version was:
client version :1.13.1
API version 1.26
Go version : go 1.7.5

server version :1.13.1
API version :1.26

docker run command:
docker run -d --name zalenium -p 4444:4444 \
-e TZ="Asia/Shanghai" \
-e SCREEN_WIDTH=1920 -e SCREEN_HEIGHT=1080 \
-v /var/run/docker.sock:/var/run/docker.sock \
-v zalenium-videos:/home/seluser/vide

[2018-03-08 11:31] peerster commented on #353
Well not even that worked 😠

[2018-03-08 14:32] diemol commented on #472
Hi @koala2012,

It just looks like the docker version you have on the host is just too old, by using the one inside the container things worked better. The specific detail I cannot really describe it.

Inside the container there is an nginx serving the resources, so I cannot really say what the first issue was.

I'll close this issue since things are actually working, if you have more questions, p

[2018-03-08 14:32] #472 closed

[2018-03-08 14:35] diemol commented on #471
Zalenium starts recording when the session starts, and stops when the session is deleted or the test times out.

If what you want to achieve is to only keep the videos of failed tests, then check the docs where you can configure that (`--keepOnlyFailedTests`, plus reporting the test status).

[2018-03-08 14:37] gpapadakis commented on #471
In our case the session that will start it may contain a lot of tests how you can keep only the failed one that is in the same recorded file?

[2018-03-08 14:52] diemol commented on #471
Ah ok, in that case then it is not possible. In general the idea is to run one test per session. But seems that your use case is different. Sadly it sees that it would not work exactly the way you want it to, then having those seconds at the beginning of the video.

[2018-03-08 14:57] koala2012 commented on #472
@diemol Do you mean that I need to upgrade the docker ce version and have a try?

[2018-03-08 15:01] diemol commented on #472
Well, it is better to have recent versions.
But if it works by passing the docker version flag you used, that should be enough I think,

[2018-03-08 17:51] lstrupinskaya commented on #454
Hi Diego,

Thank you for the suggestion. I have done that and now session does not time out.

In regards to video not working, I switch to using Chrome instead of Safari. Now videos are recorded and can be viewed when zalenium is running on Mac platform. However when I deploy to Ubuntu 16 VM, video did not generate. I compared All logs between Mac and os platform and found only one that was differ

[2018-03-08 18:03] lstrupinskaya commented on #454
In regards to video not working, I switch to using Chrome instead of Safari. Now videos are recorded and can be viewed when zalenium is running on Mac platform. However when I deploy to Ubuntu 16 VM, video did not generate. I compared All logs between Mac and os platform and found only one that was different. xterm-stderr.log showed

ERROR: FATAL! supervisorctl status failed in /usr/bin/start-xter

[2018-03-10 09:05] Tim-Schwalbe commented on #353
I am still facing this issue, also with trailing slash, I get 403 forbidden.
using: image: dosel/zalenium:latest

[2018-03-10 09:08] peerster commented on #353
@Tim-Schwalbe can you try 3.9.1a and see if it works any better?

[2018-03-10 09:35] Tim-Schwalbe commented on #353
I only changed the image tag to image: dosel/zalenium:3.9.1a
Now there is an issue with the docker container --> CrashLoopBackOff
The hubs seems to come up shortly and crashes after a while.
The 403 is still there.

[2018-03-10 09:38] peerster commented on #353
I think your problem is unrelated to this issue to be honest, and probably caused by your setup and/or config

[2018-03-11 15:23] diemol commented on #450
Hi, this was just released https://github.com/zalando/zalenium/releases/tag/3.10.0c

[2018-03-11 15:24] diemol commented on #455
Hi, this was just released, please pull the most recent images
https://github.com/zalando/zalenium/releases/tag/3.10.0c

I'll close this issue but if you find any problems, don't doubt to comment and reopen please.

[2018-03-11 15:24] #455 closed

[2018-03-12 14:39] diemol commented on #470
I'll close this issue due to lack of inactivity and since the issue comes from the PHP bindings, if we can do something to help, please let us know.

[2018-03-12 14:39] #470 closed

[2018-03-12 20:26] #457 closed

[2018-03-12 20:34] stefankahn commented on #335
@diemol Did you get a chance to include this with the latest release?

[2018-03-13 14:30] asuvorkov opened #480 "Test name in dashboard"
## Expected Behavior -
Enable to set a test name in dashboard for better navigation in the list of videos

## Actual Behavior -
Random test names in dashboard
![asdfadfg](https://user-images.githubusercontent.com/28843523/37347947-405b4784-26d3-11e8-8e95-a26c1363d026.PNG)

[2018-03-13 14:36] diemol commented on #480
Hi @asuvorkov,

Yes, that is possible, you just need to pass the test name in the desired capabilities. From the docs, usage section (https://zalando.github.io/zalenium/#usage), code example in Java:

[code]

Give it a try and let us know how it went.

[2018-03-13 14:44] diemol commented on #335
I was precisely working on that yesterday, I just pushed the commit. Should be released soon, probably  today or tomorrow.

[2018-03-13 15:07] #335 closed

[2018-03-13 15:10] diemol commented on #335
Just merged to master, will release this soon.

You need to pass an `WAIT_FOR_AVAILABLE_NODES` env var to use this, e.g.:
[code]

[2018-03-13 15:10] diemol commented on #335
Just merged to master, will release this soon.

You need to pass an `WAIT_FOR_AVAILABLE_NODES` env var to use this, e.g.:
[code]

[2018-03-13 15:32] diemol commented on #335
This was just released
https://github.com/zalando/zalenium/releases/tag/3.11.0a

Any feedback would be appreciated!

[2018-03-13 15:43] diemol commented on #461
I'll close this issue due to inactivity, if you need anything else from our side, let us know.

[2018-03-13 15:43] #461 closed

[2018-03-13 15:46] diemol commented on #469
Hi @gpapadakis, I'll close this issue due inactivity, if you have any issues with this, please reopen and let us know how we can help.

[2018-03-13 15:46] #469 closed

[2018-03-13 15:47] diemol commented on #471
Hi @gpapadakis, I'll close this issue due inactivity, if you have any issues with this, please reopen and let us know how we can help.

[2018-03-13 15:47] #471 closed

[2018-03-13 16:52] asuvorkov commented on #480
Hi @diemol,

it doesn't work for me. My test class has folowing structure

[code]

[2018-03-13 21:43] iMbaundso commented on #480
Hi @asuvorkov,

I'm not that familiar with Serenity but I guess setting the desired capabilities inside the test as you do it here will have no effect - you would need to use a custom driver to do this.

http://thucydides.info/docs/serenity-staging/#_advanced_webdriver_integration

Btw. Zalenium logs pretty well all incoming requests including their capabilities.

[2018-03-13 22:15] diemol commented on #480
Exactly, thanks @iMbaundso, you just wrote what I had in mind.

@asuvorkov please check the link above to create a custom driver in Serenity, so you can send the test name through the capabilities.

I'll keep this issue open for a while in case something else needs to be discussed.

[2018-03-14 05:07] stefankahn commented on #335
Thanks @diemol. I had a chance to look at this today. It worked well to keep the queue at a minimum.

I ran 4 threads and a max of 6 containers, The queue was kept under 3 and the wait times were under 6s.

[2018-03-14 07:11] diemol commented on #335
Thanks for the feedback @stefankahn!

[2018-03-15 03:19] joncbender commented on #340
@diemol @pearj
Sorry for the delay, but I've just now had a chance to do a quick test with the 3.11.0a release.  Definitely fixed the permission issue.

/grid/register does throw some exceptions, but that may just be my configuration.  I'll look into that later and open another issue if needed.

[2018-03-16 12:21] pearj opened #484 "Zalenium High-Availability/Cluster Kubernetes Mode"
In response to #441 and also some discussions on the slack channel.  I've been thinking about how to make zalenium operate correctly in high-availability mode.  By that, I mean that you can run multiple replicas of zalenium pods and that they will share the pool of selenium pods, and even try to rehydrate test sessions into a different zalenium pod in the event of a zalenium pod going down.

These

[2018-03-16 12:25] pearj commented on #441
I think I'll focus on #484 instead of making changes with DelayQueues and such things, as my changes (if successful) will drastically change the registration behaviour for kubernetes.

[2018-03-16 13:25] peerster commented on #484
This all sounds awesome to me 👍 . I'm happy to help with testing and supporting this change in any way I can

[2018-03-19 10:22] diemol commented on #427
Will add it as "FAQ".

[2018-03-19 11:27] diemol commented on #340
@joncbender Thanks for the feedback!

[2018-03-19 11:32] pearj commented on #441
Just bumped into this today, I do think there is still value solving this before any major re-achitecture of the kuberentes registration, as choosing how many pods to start is a separate concern anyway.

I've started investigating the excessive creation of selenium pods, and I've got my zalenium into a state, where it has 20 pods available for testing, but it is refusing to use any of them, and wa

[2018-03-19 11:36] pearj commented on #441
@diemol logs attached as requested [zalenium-5.log](https://github.com/zalando/zalenium/files/1824768/zalenium-5.log)
And there is also the newrelic account that should have information from the same timeframe as the logs.  The logs are in AEST timezone (+11) if you're trying to correlate them to newrelic.

[2018-03-19 12:20] #427 closed

[2018-03-19 12:20] #440 closed

[2018-03-19 13:44] peerster commented on #274
Actually, I would advice __not__ to implement this in the zalenium container, since the zalenium container (in my opinion) is running enough processes already.

In openshift/k8s you can leverage the `CronJob` that will do that for you, without coupling it within the zalenium.

This is how we I do it:
[code]

[2018-03-19 15:21] borisivan opened #486 "question: need to understand process for using root CA within Zalenium grid containers"
Zalenium Image Version(s):
latest, every execution does a pull first.

Docker Version:
17.09.0-ce

OS:
SLES, Ubuntu, others

Docker Command to start Zalenium:
docker, run, -tid, --name=obfuscated, --net=host, -p, 4444:4444, -v, /var/run/docker.sock:/var/run/docker.sock, -v, /usr/bin/docker:/usr/bin/docker, -v, /dev/shm:/dev/shm, -v, /tmp/videos/obfuscated:/home/seluser/videos, -v, /tmp/obfuscated:

[2018-03-19 15:36] diemol commented on #486
Hi @borisivan,
I just tried myself,

Using the browser manually:
![screen shot 2018-03-19 at 16 30 59](https://user-images.githubusercontent.com/5992658/37605192-f839cef2-2b92-11e8-9bfb-3482a39b180c.png)

Running a test with Java:
![screen shot 2018-03-19 at 16 33 23](https://user-images.githubusercontent.com/5992658/37605350-482b2906-2b93-11e8-942b-eae68defd557.png)

So it seems to be related to

[2018-03-19 16:35] borisivan commented on #486
Hi @diemol -- thanks. I feel silly in that I should have been able to prove the same. I tried with selenium server standalone both hub and node launched on my local system, and I'm able to bring up https://www.google.com. Trying with Zalenium, I can't (it reverts to http). As you mention, it's probably that we need to find a way to have the decryption authority or root CA file be accessed (and pro

[2018-03-19 17:03] wonko commented on #430
We would have a use case for this - we run a stateless k8s cluster (no persistent, local storage available on the pods). A solution for us would be to upload each video to an S3 bucket, and assign metadata on it.

[2018-03-19 17:29] diemol commented on #430
@adrichem I am sorry, I thought I replied here...

But yes, I am totally up to having this as a side service. Ideally as a container running next to Zalenium doing these tasks, and we could even start that container from Zalenium (based on a flag) to simplify things for users.

@wonko, I agree, it is a good user case. Hopefully we can put things together with @adrichem

[2018-03-19 20:30] diemol commented on #441
@pearj, thanks for the ideas, here is the list then:

- [ ] Expire incoming sessions from `ZaleniumRegistry. newSessionQueue `
  * I think I found a way to do that, I just need to test it. This would be a good improvement upstream as well.
- [ ] Merge `DockerSeleniumStarterRemoteProxy` and `ZaleniumRegistry`
- [ ] Make starting docker containers single threaded
  * Need to double check this, since

[2018-03-19 22:51] pearj commented on #441
I don't think starting docker containers on a single thread will hurt performance if we separate creating containers from waiting for containers to start.  I think they are separate concerns.

After you start a container you could simply hand off the tracking of the new container to another queue (or don't track it at all), and then immediately process the next request for a new test session.

Wit

[2018-03-19 22:55] pearj commented on #441
In other news, it looks like the reason test sessions aren't being cleaned up is due to my handling of copying videos over, it's stuck in the countdown latch:

[code]

I'll dig into this and see if I can figure out why neither `onFailure` or `onClose` is called by the KubernetesClient in:
[code]

[2018-03-20 06:35] diemol commented on #441
True, I didn't think about it like that. Very good point, I'll have that in mind while I make changes today.

[2018-03-20 11:17] pearj commented on #441
@diemol I tried out your WIP commit that expires incoming sessions and it does appear to have helped me I think or something in that commit did at least. I ran 300 sessions to 10 threads, and it didn't lock up like normal. I'll run it a few more times and see how it goes

[2018-03-20 16:57] borisivan commented on #486
Hi @diemol, I've changed the title accordingly. Agreed that the question/problem is specific to what steps I need to take to have Zalenium use the certificates on the host OS.

[2018-03-20 18:00] sri85 opened #490 "Ability to start and stop video recording from the tests."
We use protractor for our e2e tests , currently we are using vanilla selenium grid in our pipelines to run our tests but we are planning to switch to Zalenium (because its awesome) . We do run our tests in parallel and the way protractor runs the tests in parallel is that it shards the feature file and each feature file is run in a different browser. But the issue that we are having is when we rec

[2018-03-20 18:10] borisivan opened #491 "Zalenium versions that use Selenium 3.11 intermittently fail re: "No System TLS""
Zalenium Image Version(s):
All versions that use Selenium 3.11

Docker Version:
17.09, others

Docker Command to start Zalenium:
docker, run, -tid, --name=obfuscated, --net=host, -p, 4444:4444, -v, /var/run/docker.sock:/var/run/docker.sock, -v, /usr/bin/docker:/usr/bin/docker, -v, /dev/shm:/dev/shm, -v, /tmp/videos/obfuscated:/home/seluser/videos, -v, /tmp/Downloads/obfuscated:/tmp/node/home/selus

[2018-03-21 00:08] diemol commented on #441
@pearj I will remove the code I added to delete old requests (> 5 minutes), because after reading a bit the Selenium source code and the parameters... Well, there is something for that already. It is called `newSessionWaitTimeout`, and I just added it to the startup command, with a default of 5 minutes and it can be overwritten (the actual value has to be specified in milliseconds). It will show a

[2018-03-21 19:19] iMbaundso commented on #490
Please have a look at https://github.com/zalando/zalenium/issues/471.

We're also using Protractor (jasmine instead of cucumber) with multicaps for our e2e tests and do not acquire a new Zalenium session between every scenario. We do however have an additional reporting which says which scenario has failed including the exception. This made it quite easy to fast forward the video to the interestin

[2018-03-21 22:06] diemol commented on #490
Hi @sri85 @iMbaundso @gpapadakis

Actually, I was thinking that we could do something about it for those types of tests. Maybe an alternative would be to keep using cookies to send custom commands to Zalenium (as when a test passes or a message is displayed on screen). Perhaps a cookie saying `new Cookie("zaleniumVideo", "START");` and `new Cookie("zaleniumVideo", "STOP");`.

It is just an idea, a

[2018-03-21 22:08] diemol commented on #491
Hi @borisivan

That sounds like it could be related to root certificates or something similar? I am not 100% sure, but I see the exception comes from the HttpRequest, we would need to investigate.

[2018-03-21 23:50] sri85 commented on #490
Thanks for the idea @diemol  ,  i will try to create a PR

[2018-03-22 15:23] HiroMT opened #493 "Proxy issue within Zalenium containers running behind corporate firewall"
Hello-
I am running Zalenium behind a corporate firewall (restrictive environment). The issue i seem to have related to proxy set to the containers.
See below the docker run command where i pass the company proxy to the containers. I have proxy setup on docker using Environment config, command $ systemctl show --property=Environment docker returns the proxy.
From what i see Zalenium containers are

[2018-03-23 00:58] HiroMT commented on #493
Update: I removed proxy set at container level,no longer have the issue of downloading.But still the couldn’t figure to make it work

[2018-03-23 00:59] #493 closed

[2018-03-23 07:36] mblanloeil opened #494 "Can't choose chrome's language"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
"dosel/zalenium:latest"
If using docker-compose, version:

OS:

Docker Command to start Zalenium:

version: '2'

services:

  zalenium:
          image: "dosel/zalenium:latest"
          container_name: zalenium
          hostname: zalenium
          tty: true

[2018-03-23 08:39] alnhk opened #495 "zalenium: please share option to map volume in the node ?"
Zalenium version : 3.8.1a
Elgalu/selenium:3.8.1

Hi.,

Actually, we have the test cases which requires to import the files, however, can you please share the instruction on how to map the volume to all selenium nodes which is spinned up by zalenium process.

I want to map the shared folder contianing files to be imported to all nodes so that selenium test case can import.

[2018-03-23 09:26] alnhk commented on #495
Yes, i can run this below thing  which does map the mounts to destination path in docker:

docker run -tid --name=zal -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker -v /tmp/videos/zal:/home/seluser/videos -v /tmp/Downloads/zal:/tmp/node/home/seluser/Downloads --privileged dosel/zalenium start --chromeContainers 6 --screenWidth 1920 --screenHeight 1080

[2018-03-23 10:14] alnhk commented on #495
No action needed, found an answer by modifying the "p" script.

[2018-03-23 10:14] #495 closed

[2018-03-23 10:43] alnhk opened #496 "zalenium : save videos for only failed sessions/test case ?"
Hi.,

Is there any option to only keep the videos for failed sessions/failed test case execution. Keeping all videos for all sessions consumes too much space., however to save the effort on looking up, can only video for failed test case be kept ?

Thnx

[2018-03-23 12:37] matthew-horrocks commented on #496
You probably want to use --keepOnlyFailedTests

It's documented in the "More Configuration Parameters" section at https://zalando.github.io/zalenium/

[2018-03-23 13:49] alnhk commented on #496
OK - if i set "--keepOnlyFailedTests true" will only keep recorded video of failed test case/sessions right ?

Please confirm

[2018-03-23 15:46] diemol commented on #496
Hi @alnhk

Yes, that is the purpose of that flag. But keep in mind that you need to tell Zalenium if the test passed or failed by sending a cookie (check the "Marking the test as passed or failed" section in the docs).

[2018-03-23 15:57] diemol commented on #494
Hi @mblanloeil,

Don't worry, your English is great! :)

About choosing the language in Chrome, let us check. Chrome in the latest releases have made some changes and maybe this also did.

Perhaps @elgalu can have a look as well?

[2018-03-23 22:26] borisivan commented on #491
Hi @diemol, thanks. I wasn't sure if that is coming from container<->container communication/forwarding, or from the selenium server back to the test, etc. Still not really sure.

I have successfully placed the root CA certificates on both the zalenium and the elgalu container, ran update-ca-certificates, and tagged this container (based on latest from both, today). In the suite, I specify that ve

[2018-03-24 03:21] Shinoby1992 opened #497 "cannot enable Flash by default. neither firefox or chrome"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
latest
Docker Version:
latest
If using docker-compose, version:
latest
OS:
OSX High Sierra (latest macosx)
Docker Command to start Zalenium:
docker run --rm -ti --name zalenium -p 4444:4444       -e DOCKER=17.06.2-ce       -v /var/run/docker.sock:/var/run/docker.sock

[2018-03-24 10:11] dennisgranath opened #498 "Improve logging of zalenium"
I would like to help out improving the logging of Zalenium to be able to visualise usage of Zalenium (and cloud remote). I have two alternative solutions on how to to this:

1. Add jul-to-slf4j to automatically send logs from java util logging framework to slf4j and use logback.
 Using this solution we don't need to change any code inside zalenium in order to use logback.

2. Use slf4j directly. T

[2018-03-26 11:18] alnhk opened #499 "alternative of minikube ?"
Setting up minikube on top of clustered kubernete is very difficult as minikube process definitely crashes with below exception. Is there any other way to a stable way of having clustered zalenium ? The response from minikube team is not so fruitful., yes  i am using all latest bits (Centos 7.4, kubernetes 1.96, minikube 0.25.2 and vm-driver=none).

fatal error: unexpected signal during runtime ex

[2018-03-26 11:53] diemol commented on #486
Hi @borisivan,

When you used Selenium Server standalone, were you using directly the jar file or the docker containers?

Additionally, I was checking a bit, and if there is a root certificate that needs to be used, seems that the certificate must be included inside the docker image (elgalu/selenium in this case). Check this link https://stackoverflow.com/questions/42292444/how-do-i-add-a-ca-root-

[2018-03-26 11:57] diemol commented on #486
Oh, seems that you already tried it and succeed, based on this [comment](https://github.com/zalando/zalenium/issues/491#issuecomment-375814549).

I'll close this issue then.

[2018-03-26 11:57] #486 closed

[2018-03-26 11:57] diemol commented on #480
Closing as there was no more activity in the issue.

[2018-03-26 11:57] #480 closed

[2018-03-26 13:24] borisivan commented on #486
Hi @diemol, agreed, thanks. (and I should have updated this issue myself previously once I found out how to add the root cert to the container and rebuild).

[2018-03-26 13:46] matthew-horrocks commented on #491
We have also been finding tests fail intermittently with the "No System TLS" error (along with a bunch of other Java timeouts; not sure if they're related? https://gist.github.com/matthew-horrocks/b947646aacd07b5c4a4ad4751cb5d01a)

The failure seems to occur at a random point through the test. At the point of failure, screenshots of the test show the browser displaying a perfectly rendered page. O

[2018-03-26 13:46] borisivan commented on #491
Hi @diemol, taking a step back and looking at this, I think this is simply a different footprint for what has existed all along, which I still can't figure out. There are occasional failures where re selenium 3.11 the footprint was along the lines of:

org.openqa.selenium.WebDriverException: cannot forward the request null
Command duration or timeout: 0 milliseconds
	at sun.reflect.NativeConstruct

[2018-03-26 13:57] borisivan commented on #491
Hi @matthew-horrocks -- I also see the footprint (w 3.11) sometimes appear as:

unexpected end of stream on Connection, as in your github link above.

With that many containers I assume you're running tests in parallel -- do you happen to know if the problem seems to occur to session <x> immediately after session <y> either launches a new browser or closes the one it was using?

I wonder if when z

[2018-03-26 14:01] matthew-horrocks commented on #491
The only references I can find for "No System TLS" are at

https://github.com/square/okhttp/blob/5fe3cc2d089810032671d6135ad137af6f491d28/okhttp/src/main/java/okhttp3/OkHttpClient.java#L298

and

https://github.com/square/okhttp/blob/5fe3cc2d089810032671d6135ad137af6f491d28/okhttp/src/main/java/okhttp3/OkHttpClient.java#L308

[2018-03-26 14:20] diemol commented on #491
Yes, I think I wrote something similar in Slack. I believe the change comes from upstream, because Apache Http is being replaced in different parts with OkHttp.
It seems that Apache Http retries connections automatically and you need to explicitly set that in OkHttp, we need to check a bit more to see if that is the case, and if so, send a PR upstream.

I'll keep you posted.

[2018-03-26 15:31] diemol commented on #498
Hi @dennisgranath,

Thanks for the interest! We are up for any improvements of course :) Something that would be really nice in the end is to send the logs to Kibana (or something similar).

I remember I had some issues with slf4j, I wanted to use that one at the beginning, but some conflict with the logging in Selenium itself made things weird, so I just stayed with the Java util. I mean, the ide

[2018-03-26 15:50] diemol commented on #499
Hi @alnhk,

Minikube is meant to be used locally, to test apps in Kubernetes and in general to get an idea how Kubernetes works. To use Zalenium in Kubernetes at bigger scale, people usually use something like GKE or their own Kubernetes installation in AWS or a private cloud, OpenShift is also an alternative.

You can check https://zalando.github.io/zalenium/#kubernetes also.

[2018-03-26 16:06] alnhk commented on #499
Is there any known instruction on how to deploy to openshift with clustered kubernetes ? We donot use GKE and AWS as we use corporate data center.

[2018-03-26 16:10] diemol commented on #499
If you already have OpenShit in your corporate datacenter, you can check check the "Click to see service account creation in OpenShift" and "Getting Started Guidelines" for OpenShift, on the link I posted above.

[2018-03-27 17:02] alnhk opened #500 "Zalenium: maximize browser ?"
Zalenium version 3.8.1a

Is there any add on capabilties to maximize the browser (both firefox and chrome) ? We tried using existing selenium code to maximize, yet it's not. Please advice.

[2018-03-28 06:10] diemol commented on #500
Hi @alnhk,

Could you please share the code you were using to do that?

[2018-03-28 06:14] diemol commented on #497
Hi @Shinoby1992,

Could you please share the code you use to do that? I've never tried it before, but we can double check.

[2018-03-28 07:35] peerster commented on #498
I also vote for solution number 2 👍

[2018-03-28 09:15] luisxiaomai commented on #494
I also need help on how to specify chrome language in browser level or container level because of the test target maybe not in English version.

[2018-03-28 10:14] luisxiaomai commented on #209
@diemol , I used the latest images, but it seems navigate to http://localhost:4444/dashboard will link to the URL specified routes to this help page.

[2018-03-28 19:47] diemol commented on #209
@luisxiaomai please try http://localhost:4444/dashboard/ (with a "/" at the end).

This is something known and we hope to fix it soon.

[2018-03-29 01:20] luisxiaomai commented on #209
@diemol , thanks for your help. It need a "/" at the end. Hope it can be fixed asap because is not consistent with related document.

[2018-03-29 04:57] #496 closed

[2018-03-29 04:59] alnhk commented on #500
@diemol :  this is below piece of code when trying to maximize chrome browser thru zaleneium :

ChromeOptions options = new ChromeOptions();
options.addArguments("--start-maximized");

[2018-03-29 05:00] alnhk opened #503 "Zalenium: windows based ?"
Just like in saucelabs, we notice that there used to be windows based which it is able to spin up on every new session submit and cleans up on every session termination/graceful close.

Is there option for zalenium to support windows based browser ?

[2018-03-29 08:25] #498 closed

[2018-03-29 10:56] matthew-horrocks commented on #491
@borisivan  sorry, I completely missed your comment at https://github.com/zalando/zalenium/issues/491#issuecomment-376175077

Yes, all tests run in parallel, using all available containers. The error seems to occur at a seemingly random point through a test; unfortunately I haven't been able to match the failure time to a browser in another container being torn down.

[2018-03-30 02:36] #500 closed

[2018-03-30 09:50] Shinoby1992 commented on #497
Okay easy way here is a code.
I can't enable Flash via Remote Driver, the same goes for PulseAudio.
But what i could do is, creating a own dockerfile with my python script
that dockerfile include firefox, chrome + a 3 liner to install Flash in my ubuntu system.

Now my second big question btw ... like in this situation i am now, i tried now 2 days to edit the dockerfile and create my custom zaleni

[2018-03-30 12:01] alnhk opened #505 "container /dev/dm-* elgalu/selenium base size 25G ?"
Hi.,

After we start zalenium docker which in turns boot up  containers using image name -  elgalu/selenium. Question - how can we increase the default storage size of container - 25G to 50G ?  I tried adding  --storage-opt size=50G , it only increased storage size of zalenium container , however container of elgalu/selenium did not adjust to 50G, still 25G.

Please advice how do we increase ?

[2018-04-01 11:54] Shinoby1992 commented on #497
if you need more information let me know i still couldn't solve my issue , i even tried already existing docker images with pulse audio and browsers installed and tried to use the dockerfile as a template to add codes to zelenium dockerfile and custom build it but somehow this does not work...

greetings from dortmund

[2018-04-01 17:54] diemol commented on #491
@borisivan @matthew-horrocks, a couple of questions:

- To understand a bit more the situation, are you both testing with root CA certificates added to the containers?
- It is not 100% clear for me if the error happens when the test starts, or when the page under test is being loaded, do you have an idea around when the problem shows up?
- Is it possible to see the Zalenium log in debug mode when

[2018-04-01 18:01] diemol commented on #500
Sorry for the late reply, it just seems that in the latest ChromeDriver release, it was changed to `start-maximized` (without the `--`).

[code]

[2018-04-01 20:25] diemol commented on #494
Hi @mblanloeil,

Sorry for the delay, Easter break :)

I tried to set the language through the locale "fr_FR" and it worked for me, here is the code and the screenshots:

[code]

![image](https://user-images.githubusercontent.com/5992658/38177095-5047c974-35fb-11e8-8b38-b86843181877.png)
![image](https://user-images.githubusercontent.com/5992658/38177105-76915dd4-35fb-11e8-9afb-c0192e159d96.png)

[2018-04-01 20:32] diemol commented on #503
Hi @alnhk,

No, this is not possible right now because Microsoft has not provided a container with that capability, please see this related issue: https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/214

Closing as there is no action for us now.

[2018-04-01 20:32] #503 closed

[2018-04-01 21:40] diemol commented on #491
One more question, are you both running tests only on Chrome? Or more specifically, do the errors happen only when Chrome is used?

[2018-04-02 08:12] diemol commented on #499
Closing due to inactivity and since there is no action for us here.

[2018-04-02 08:12] #499 closed

[2018-04-02 11:50] #505 closed

[2018-04-02 11:51] diemol commented on #505
Hi @alnhk,

No, this was not supported but it just got added. It will be released soon and you'll be able to use it.

[2018-04-02 12:15] diemol commented on #497
Hi @Shinoby1992,

Sorry for the delay, Easter holidays :)

Could you please share your modified dockerfile please?

Greetings from Berlin!

[2018-04-02 12:32] diemol commented on #491
https://github.com/zalando/zalenium/releases/tag/3.11.0c was just released, there are some fixes that solve some NPE introduced when adding more logging in the 3.11.0b release. I was bumping into similar (but not the same one) stack traces when running a similar scenario as yours @borisivan.

After reading the source code in Selenium and comparing it to the reported stack trace, the error pops up

[2018-04-02 12:39] diemol commented on #491
Also, would it be possible to try it without root CA?

[2018-04-03 05:55] mblanloeil commented on #494
Hi,
Thanks for your answer, I tried your code but it's didn't compile with my version of selenium (3.4.0) .
I upgrade selenium to 3.4.11 and it's work, the browser's language si french !  so the bug it's due to the selenium's version and not zalenium.

You can close this ticket, thank's a lot for your investigation and your time !

[2018-04-03 05:55] #494 closed

[2018-04-03 05:59] diemol commented on #494
Glad to know it works!

[2018-04-03 09:05] alnhk commented on #499
Same here, openshift doesnt support clustering, refer issue https://github.com/openshift/origin/issues/19176#issuecomment-378180406

Looks like lacking support for zalenium on clustering environment in order to reduce heavy selenium load (we make around 2500+ test case per day).

[2018-04-03 09:10] diemol commented on #499
There are people already using Zalenium in Kubernetes, and we are working on improving it to allow it handle more load. Please follow #441 and #484

In addition you can join us in the #zalenium channel of https://seleniumhq.herokuapp.com.

[2018-04-03 09:14] alnhk commented on #499
Is that kubernetes only or kubernetes with minikube ? minikube doesnt support clustering when using  (vm_driver=none)

[2018-04-03 09:25] alnhk commented on #499
No, we are first time to kubernetes. As we said, we dont use GKE, AWS. We are using corporate based data center like vmware or exalogic.

[2018-04-03 20:03] mickfeech commented on #438
I think it does make sense to have this feature; however I don't have the cycles for implementation.

[2018-04-04 11:05] mautz-et-tong commented on #394
Please reopen if this is a task for zalenium. I don't know, if this issue should be reported to elgalu/docker-selenium or belongs to this issue. I decided to start here.

The command
`docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos -e SELENIUM_NODE_PARAMS="-enablePassThrough false" -e SELENIUM_HUB_PARAMS="-enablePass

[2018-04-05 06:53] diemol commented on #394
Hi @mautz-et-tong,

The thing is that the parameter `-enablePassThrough` was removed from Selenium Server itself. I think it was done in the 3.9 release. The reason for that was that people were using the flag and not really reporting the errors when using Firefox.

The status right now is that people are waiting for https://github.com/facebook/php-webdriver/issues/469

[2018-04-05 06:58] mautz-et-tong commented on #394
Thanks for your answer. I will join the waiting line for the php-webdriver then.

[2018-04-05 12:55] diemol commented on #430
That sounds great @adrichem! Actually I was looking towards this :)
It would be cool to have that in Zalenium, so one can decide to store things locally or in a remote storage. I'm completely open to this, thanks!

[2018-04-06 01:27] pearj commented on #499
@alnhk Zalenium runs find on a Kubernetes cluster of any size, although at the moment you can only run one instance of the zalenium grid itself, ie you can't run Zalenium in a high availability (HA) setup, we are considering HA support in #484.

Although for your requirements a 2 node kubernetes cluster, is quite small, so zalenium will run fine.

Zalenium is kubernetes aware, so given it has the

[2018-04-06 01:32] pearj commented on #499
@alnhk Looking at your openshift/origin#19176 issue, you are misunderstanding what `oc cluster up` does in OpenShift.

They have deprecated that command `oc cluster up`, but that doesn't mean at all that OpenShift doesn't support clustering. Quite the opposite in fact.  All they mean is that method of starting an openshift cluster is deprecated. Instead you need to use the [Advanced Installation](

[2018-04-06 12:19] Lehtux opened #518 "Tests fail because OpenShift container vanishes underneath"
Zalenium Image Version(s):
3.11.0d
Selenium image:
3.11.0-p5

OS:
OpenShift Enterprise

## Expected Behavior -
Tests will pass through normally.
## Actual Behavior -
Seems like Zalenium is closing containers even though a test case is registered there?
Getting this error from hub under "heavy load":
`15:10:11.675 [qtp565372776-2332] INFO  o.o.g.w.s.handler.RequestHandler - Error forwarding the new

[2018-04-06 22:12] tiffynets opened #519 "Unable to test upload file in web browser because cannot mount to elgalu/selenium directly"
Zalenium Image Version(s):  latest (pulled latest on Apr 6th, 2018)
Docker version 18.03.0-ce, build 0520e24
OS: Mac OS High Sierra 10.13.3

Docker Command to start Zalenium:
docker run -d -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos -v /tmp/qa_regression:/tmp/qa_regression --privileged dosel/zalenium start

## Issue:
Cannot perf

[2018-04-07 16:28] diemol commented on #518
Hi @Lehtux,

Can you share some more details please? How many tests were you running in parallel, how many pods were running, and if possible your deployment yaml.

[2018-04-07 16:44] diemol commented on #519
Hi @tiffynets,

Yes, this is absolutely possible. Check the docs here https://zalando.github.io/zalenium/#docker -> "Mounting volumes/folders across containers".

(From the docs)

For example, mounting: `-v /your/local/folder:/tmp/node/home/seluser/folder` will map to `/home/seluser/folder` on the node.
This can be used to provide further customisation to your nodes, such as adding client certific

[2018-04-08 08:53] Shinoby1992 commented on #497
Sorry i had to reproduce everything, but still i cannot solve my problems
my dockerfile im using adding these lines

[code]

I tried solving my problem with zalenium, with elgalu/selenium, SeleniumHQ/docker-selenium
nothing works.
Im here in Zalenium issues so, the real issue now is that
i cannot customize the firefox that gets used, firefox 59 has a Pulseaudio bug that got fixed in Firefox 60 bet

[2018-04-09 13:56] kisskool057 opened #520 "Unable to download zalenium image"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):

Docker Version:

If using docker-compose, version:

OS:

Docker Command to start Zalenium:

If using Kubernetes, specify your environment, and if relevant your manifests:

## Expected Behavior -
Download images
## Actual Behavior -
Error response from daemon: Get htt

[2018-04-09 15:55] diemol commented on #519
Glad it worked!
Don't forget to star the project to support us :)

[2018-04-09 16:56] sri85 commented on #491
@diemol I was able to replicate this without certs , my tests do not use certs at all and yet i am able to reproduce this issue

[code]

This is how my docker compose file looks like

[2018-04-10 14:45] peerster commented on #518
I think I ran into the same issue, or at least similiar.
We also run in openshift.

Checking the logs, my quick analys of the problem is:
1. Zalenium says it’s shutting down a node after test is finished (we only run one test per node)
2. A second later the same node as Zalenium said is shutting down is registering as a new node
3. Test gets sent angainst this registered node, which I guess is ter

[2018-04-10 16:05] asuvorkov commented on #480
Hi @diemol,

I'm runnig a bunch of tests and would give for every test an unique name. Currently I can give a name via

`DesiredCapabilities desiredCapabilities = new DesiredCapabilities();
desiredCapabilities.setCapability(CapabilityType.BROWSER_NAME, BrowserType.FIREFOX);
desiredCapabilities.setCapability(CapabilityType.PLATFORM_NAME, Platform.LINUX);
desiredCapabilities.setCapability("name", "m

[2018-04-10 17:13] dbwest opened #522 "helm chart deploy not working"
After deploying the helm chart the hub is stable for a short while and then after sending tests to it I get a status of CrashLoopBackOff

**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):

Docker Version:

If using docker-compose, version:

OS:

Docker Command to start Zalenium:

If using Kubernetes, specify your env

[2018-04-11 00:00] pearj commented on #518
Hi @peerster,

My colleague @dspasojevic has fixed the behaviour you're talking about in his restructure.  He observed the same thing, that nodes would re-register during shutdown sometimes.

I presume this because the nodes have a polling cycle, where they periodically re-register to the grid.  So if you wait for the restructure to land it _should_ be fixed.

[2018-04-11 00:03] pearj commented on #518
I think he solved this, by marking the node as shutting down, but doesn't remove it from the registry until the container client can detect that the node is actually gone.

Otherwise, if you remove it from the registry before shutdown has actually finished, it might re-register but then be shutdown soon after.

[2018-04-11 05:57] pearj commented on #518
@lehtux He’s currently fixing the tests. But I’m hoping he’ll push a PR in the next few days so that people can start trying it out.

[2018-04-11 06:28] Lehtux commented on #518
@pearj awesome! Thanks!

[2018-04-11 12:36] diemol commented on #520
Hi @kisskool057,

That is strange, the images are public. After searching in Google it seems that it is a error on your docker client. Many people suggest that after doing `docker logout` the problem went away. Please give it a try.

[2018-04-11 12:47] kisskool057 commented on #520
Hi Diemol,
It works fine now after a docker logout/login
thanks a lot !

[2018-04-11 12:47] #520 closed

[2018-04-11 12:52] diemol commented on #520
Great!

[2018-04-11 13:48] diemol commented on #522
Hi @dbwest,

To avoid assuming things, could you please share the commands you used, and the chart you used? (in case you modified something)

[2018-04-12 20:56] DeChrish opened #524 "We are using Cross Browser Testing - 3rd Party could provider for browsers"
How to do use it with Zalenium?

[2018-04-13 06:15] #447 closed

[2018-04-13 06:16] diemol commented on #447
A fix was merged to master for this, it'll be included in the next release.

[2018-04-13 07:31] diemol commented on #524
Hi @DeChrish,

So far we have only integrated Sauce Labs, BrowserStack and TestingBot. I checked Cross Browser Testing, and in theory it should not be that hard to integrate it.

Right now we don't have so much bandwidth to work on that, and you are the first to ask for it :) Would you like to contribute to Zalenium and add that integration? I could point you to the code bits that would need to be

[2018-04-13 20:26] dbwest opened #525 "Need to configure contextPath"
I am in the process of ironing out a helm release of Zalenium to my k8s cluster at work.

It works fine as a NodePort app, but I really need an Ingress for all the convenience that provides. I can't have the URLs I use changing on my and don't really care about having to specify a changing NodePort either.

My cluster admin has told me that part of setting up any particular WebApp with an Ingress

[2018-04-14 00:34] DeChrish commented on #524
@diemol Sure i can work on it.

[2018-04-16 06:25] pearj commented on #518
@Lehtux First cut of code has just landed, if you're able to build it yourself you could try it out see #527

[2018-04-16 06:43] Lehtux commented on #518
@pearj thanks! I'll give it a go.

[2018-04-16 09:11] Lehtux commented on #518
@pearj @dspasojevic , having trouble of building this precise image, just stucks / spams here:
`INFO   Unregistering the node http://localhost:40000 because it's been down for 6341628 milliseconds`

[2018-04-16 09:29] dspasojevic commented on #518
@Lehtux I've Ignore'd the two tests I've broken while I fix them. It should build for you now.

[2018-04-16 12:38] peerster commented on #518
Also, you can build without the tests:
[code]

[2018-04-16 21:20] ryudice opened #528 "Download video using URL"
Hi,
Is there a way at the moment to download a video from the dashboard using just the URL?

[2018-04-17 10:07] Lehtux commented on #518
@dspasojevic
Still getting the same kind of forward error:
[code]

[2018-04-17 10:56] dspasojevic commented on #518
@Lehtux can you tell me which test that is? The tests are passing in Travis at the moment.

[2018-04-17 11:37] Lehtux commented on #518
@dspasojevic it's not coming from build process. This is the actual logs from Hub running on OpenShift.

[2018-04-17 12:35] dspasojevic commented on #518
Hi @Lehtux are you getting that error using the latest from https://github.com/dspasojevic/zalenium ?

[2018-04-17 12:59] Lehtux commented on #518
@dspasojevic ahh didn't see the new commits, I'll deploy again and check. Thanks for all the work!

[2018-04-17 14:33] pearj commented on #518
@Lehtux we just fixed another bug that creates problems if you have maxTestSessions low. Essentially it shutdowns containers just as the tests start. You probably want to rebuild again.

[2018-04-17 22:42] diemol commented on #525
Hi @dbwest,

Why don't you join https://seleniumhq.herokuapp.com and then the channel #zalenium, where other k8s users can advice you better? I am a bit short of time this week and perhaps you can get a faster answer there.

[2018-04-18 05:14] Lehtux commented on #518
@pearj @dspasojevic , this looks good! Didn't get any errors even if I had maxTestSessions low as 4. Nice job!

[2018-04-18 16:28] FilipB opened #530 "http://localhost:4444/dashboard no longer shows dashboard"
Zalenium Image Version(s):
3.11.0d

## Actual Behavior -
According to documentation http://<host>:4444/dashboard should show the dashboard but it does not. After following commit https://github.com/zalando/zalenium/commit/7669609c371ea6711bbab8d46b66596ae1e5e77b#diff-68c73b5a79443e53542b651429897b70 it's necessary to use a slash http://<host>:4444/dashboard/ to show dashboard.

[2018-04-19 22:26] vinsguru opened #531 "Request: Create Downloads directory in the Docker image with full permission like videos directory"
Hi @diemol

First of all, thanks for the great work you guys have been doing.
I use zalenium and i love it.

I have a simple request - is there any way for us to create 'Downloads' directory in the image itself with `Drwxrwxrwx` permission as we do for 'videos' directory. The issue is - when we use it docker compose - docker takes care of creating host directory. however, due to write permission i

[2018-04-19 22:56] adamburnsuk opened #532 "Zalenium stops after startup.....Need help. (StarterRemoteProxy failed to register to the hub after 30s seconds, failing...)"
Hello all, I am new to Zalenium and performing a POC to possibly use it at my company.  We are behind a corporate firewall and have some pretty strict security, so I am attempting to clone and build the docker containers myself. (for both Zalenium and Selenium)   I cloned both repos and built them.  I was able to get Zalenium to start up using the command on the "contribute" section of the website

[2018-04-20 11:46] poison2332 commented on #394
Hi guys,

When I`m trying to set node parameters, server is not starting.
Are there any docs for this feature? How to set params properly?

[2018-04-20 13:27] peerster commented on #518
We also haven't seen this issue using your changes @pearj @dspasojevic

[2018-04-20 13:28] peerster commented on #530
Yeah, kind of duplicate of #353

[2018-04-20 13:30] peerster commented on #532
zalenium contains selenium, so you don't have to build selenium yourself.

Just clone repo and `mvn clean package -DskipTests=true -Pbuild-docker-image` do build zalenium  docker image on your local machine

[2018-04-20 13:33] peerster commented on #528
You can find out the URL by using "inspect" (chrome), but I guess your looking into have to get it programmatically?

[2018-04-20 13:35] peerster commented on #522
We're using openshift and not native kuberenetes, but we manage to get our deployment to work without admin of the cluster. We removed one of the permissions in the role that required it and it didn't seemed to be in use anyway

[2018-04-20 13:46] adamburnsuk commented on #532
It's my understanding that you have to have the elgalu/selenium image on your machine as well.  Is this not correct?

[2018-04-20 21:01] javacoldbrew commented on #490
Has there been any update on this?

[2018-04-20 21:09] pearj commented on #530
This is fixed by #533

[2018-04-20 23:13] #531 closed

[2018-04-23 11:35] peerster commented on #532
Oh right, that's is still needed yeah.

I guess you should use the `--seleniumImageName <your local selenium docker image name>` as an argument for zalenium then

[2018-04-23 16:29] ryudice commented on #528
Hi, yes, I mean programmatically.

[2018-04-24 07:07] FantomX1 commented on #302
I still can not find jar file inside docker build

[2018-04-24 08:06] mattiassluis commented on #532
I am encountering what looks like to be the same problem. I am using the helm chart to deploy Zalenium to our K8S cluster. It runs fine for a while but at some point it becomes unavailble, ends up in a Crashloop and the last message in the logs is the same:
[code]

Right before that it is still adding nodes just fine:
[code]

[2018-04-24 08:32] FantomX1 opened #535 "Cannot build docker for having no-sudo user, project.build.finalName variable for .jar file unavailable ZAL_VER="${project.build.finalName}" \ ${ZAL_VER}.jar"
Cannot build docker for having no-sudo user, project.build.finalName variable for .jar file unavailable
ZAL_VER="${project.build.finalName}" \ ${ZAL_VER}.jar

Zalenium Image Version(s):
Current master

Docker Version:

If using docker-compose, version:

OS:
Windows 10

Docker Command to start Zalenium:
Start within openshift

If using Kubernetes, specify your environment, and if relevant your mani

[2018-04-24 09:21] poison2332 opened #536 "Zalenium is not starting with -e SELENIUM_NODE_PARAMS="-maxSession 3" parameter"
Zelenium is not starting with -e SELENIUM_NODE_PARAMS="-maxSession 3" parameter
Also with some parameters zalenium starting, but there is no impact.
Zalenium Image Version(s):
- latest
Docker Version:  17.09.0-ce

OS:  Windows 10
Docker Command to start Zalenium:
sudo docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos -

[2018-04-24 10:42] peerster commented on #532
I think both (or at least one of you) should post your complete console log of the zalenium container (please attach as a file to this issue).

@mattiassluis Are you also building zalenium manually?

[2018-04-24 11:50] mattiassluis commented on #532
@peerster No, but we did do some small modifications to the chart (we have an internal helm repository). We still use the normal containers. After my previous message I deleted the pod and had it start again and this time after it broke it actually also gave some stack traces that I had not seen before.

Log attached:
[zalenium-pod-log.txt](https://github.com/zalando/zalenium/files/1942570/zaleniu

[2018-04-26 12:05] peerster commented on #528
There is no easy way to do this programmatically right now AFAIK.

@diemol I know that you been working on the /dashboard/information page, maybe it can include the URL to the video in it?

[2018-04-26 12:17] peerster commented on #532
@mattiassluis For some reason zalenium fails to get the required information about the started selenium container nodes.

It might be some permission problem, and/or a problem with the your service role?

[2018-04-26 14:12] jpswade opened #543 "Cannot extract a capabilities from the request"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
latest
Docker Version:
Docker version 18.04.0-ce, build 3d479c0
OS:
Mac OS X
Docker Command to start Zalenium:
[code]
## Expected Behavior -
Let's take this example from here: https://gist.github.com/prashanthrajagopal/12f53e5c98385fbf50e2

[code]

Not a failure...

#

[2018-04-26 14:34] diemol commented on #543
Hi @jpswade,

Strange, I tried the same and it worked, here are the commands:

Request:
[code]

Response:
[code]

Could you please double check on your end?

[2018-04-27 10:50] diemol commented on #353
Thanks to @pearj, this has been fixed in https://github.com/zalando/zalenium/releases/tag/3.11.0e

[2018-04-27 10:50] #353 closed

[2018-04-27 10:50] diemol commented on #530
Thanks to @pearj, this has been fixed in https://github.com/zalando/zalenium/releases/tag/3.11.0e

[2018-04-27 10:50] #530 closed

[2018-04-27 16:05] Muraligowtham opened #545 "Unicode issue �] . While executing selenium test cases in Zalenium containers, I am getting a unicode exception"
Dear Team,
I started the zalenium container using following command.

 docker run --rm --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start --desiredContainers 5 --timeZone EST
I am executing the test cases in latest docker zalenium version inside a centos machine.

While executing the cases, I am getting an

[2018-04-27 16:33] anikulin opened #546 "JavascriptExecutor hangs on BrowserStack when script contains particular character sequence"
Zalenium Image Version(s):  3.11.0
Docker Version:  17.09.1-ce
OS: CentOS Linux 7
Docker Command to start Zalenium:

[code]

Running the following test:
[code]

## Expected Behavior -
Javascript code should be executed on the page opened in the Chrome on BrowserStack.

## Actual Behavior -
1. Session is forwarded to BS
2. Page is opened in browser
3. Then the executeScript() method hangs indefinit

[2018-04-29 20:43] diemol commented on #536
Hi @poison2332,

Sorry for the late reply.

The reason why it won't work as expected is because the containers/nodes created on the fly to run tests will only have one test slot (so only one session max will be executed concurrently).

We do this to simplify the test handling and video recording. If more than one test was allowed to be executed at the same time in a given container, the video woul

[2018-04-30 07:14] dspasojevic commented on #423
@pearj would this be addressed by your proposed changes?

[2018-04-30 11:49] pearj commented on #423
Yep, my idea of using cometd and an angular.io UI to keep the live UI up to date in near real-time will address this enhancement request.

[2018-04-30 16:35] mattiassluis commented on #532
@peerster thank you for your feedback! I will do some more investigation into that. It seems that those errors (the ones with stack traces) come from time to time but they don't necessarily happen at the same time as when zalenium stop working. Regardless the last error will always be still this:
[code]

[2018-05-03 11:46] pearj commented on #441
Should be fixed by #537.

Reopen if it still happens.

[2018-05-03 11:46] #441 closed

[2018-05-03 11:47] pearj commented on #518
Should be fixed by #537.

Reopen if it still happens.

[2018-05-03 11:47] #518 closed

[2018-05-03 13:47] dennisgranath opened #552 "No containers are started when desiredContainers = 0 and browserstack remote proxy is enabled"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
3.11.0f

## Expected Behavior -
By default it should start a container when os capability is not set.

## Actual Behavior -
It runs the tests on browserstack random OS

[2018-05-03 17:59] ViLPy opened #553 "Latest Zalenium failed to start after 2 minutes"
Zalenium Image Version(s): latest
Docker Version:  18.04.0-ce, 18.05.0-ce-rc1
OS: Ubuntu 18.04
Docker Command to start Zalenium:
`curl -sSL https://raw.githubusercontent.com/dosel/t/i/p | bash -s start`

## Expected Behavior -
Zalenium started without errors

## Actual Behavior -
[code]

Also tested on MacOS Hight Sierra with Docker 18.03.1-ce and same command works fine there, so it looks like th

[2018-05-03 18:45] #553 closed, assigned to nobody

[2018-05-03 18:46] diemol commented on #553
Hi @ViLPy,

Since the last release, we forgot to adjust the one line script. I just did and it should work again. Please retry.

[2018-05-03 18:55] diemol commented on #532
@mattiassluis could you please try again? The latest release has relevant changes where the logic proxies are created changed, so probably you won't hit that problem anymore.

[2018-05-03 18:57] diemol commented on #522
Hi @dbwest,

Sorry for replying so late. Did you manage to get it working?
In addition, the latest release has relevant changes where the logic proxies are created changed, and in this should improve things in k8s also, please give it a try.

[2018-05-03 18:59] diemol commented on #525
HIi @dbwest,

Are you still having the same issue?

[2018-05-03 19:02] diemol commented on #535
Hi @FantomX1,

In theory, Zalenium should work in OpenShift without sudo right away, since in the past we spent quite some time tweaking the startup scripts. Did you have problems starting it?

In addition, if you want to build the image yourself, the easiest way is to do:
`mvn clean package -DskipTests=true -Pbuild-docker-image`

[2018-05-03 19:03] diemol commented on #535
More detailed instructions can be found here: https://zalando.github.io/zalenium/#contributing

[2018-05-03 19:04] diemol commented on #528
Hi @ryudice @peerster

Yes, I am working on it, but the path needs to be changed then, this needs some tweaking still. Also to see if the nginx configuration needs change as well.

[2018-05-03 19:06] diemol commented on #524
Hi @DeChrish,

Sorry for the delay.

You could check how the SauceLabs proxy is created here: https://github.com/zalando/zalenium/blob/master/src/main/java/de/zalando/ep/zalenium/proxy/SauceLabsRemoteProxy.java

The integrated cloud providers follow the same pattern, so in theory is is just a matter of adjusting the urls and how the APIs work for Cross Browser Testing.

Thank you very much for sho

[2018-05-03 19:09] diemol commented on #545
Hi @Muraligowtham,

Could you please share the test that you are executing to get such exception? The docker-selenium image has a lot of fonts installed to support different languages. It could also be that one font is missing.

We need more details to reproduce the issue and help you.

[2018-05-03 20:21] #545 closed, assigned to nobody

[2018-05-03 20:22] Muraligowtham opened #554 "How to execute the zalenium in multiple machine pointing to the same hub? is there a way?"
Team,
In my scenario, I have two virtual machines, in 1st linux machine, if I start 5 nodes, is it possible to start 5 more nodes in second machine that points to the hub in machine 1 ?

[2018-05-03 21:05] peerster commented on #484
Maybe another issue further down the road, but how would the live page work when having more than one replica? Also the dashboard is another question.

[2018-05-03 21:11] diemol commented on #543
I'll close this since we were not able to reproduce and no more feedback was provided.

Feel free to reopen in case it still happens.

[2018-05-03 21:11] #543 closed

[2018-05-03 21:26] pearj commented on #484
@peerster The dashboard would still work because all replicas would register all the proxies, due to registration happening by a kubernetes watch instead of the selenium nodes actively registering with the zalenium grid.

Alternatively, if making each zalenium register another zalenium’s selenium’s pods doesn’t seem like a good idea. The dashboard could simply be backed by a kubernetes watch inste

[2018-05-03 21:31] pearj commented on #554
You have to be using Kubernetes. It’s the only supported way to scale across more than 1 machine at present.

I’d recommend OpenShift, but there are lots of Kubernetes flavours out there.

If you want to use a cloud provider, there are managed kubernetes instances out there so you don’t need to manage your own kubernetes cluster.

[2018-05-04 04:47] dspasojevic commented on #552
@dennisgranath, I will take a look at this tonight if @diemol has had a chance.

[2018-05-04 07:11] dennisgranath commented on #552
Maybe we should not call
        TestSession newSession = super.getNewSession(desiredCapabilities);
if os is set to something that can't be handled by the containers?

[2018-05-04 08:12] diemol commented on #552
Ah ok, this was the ZaleniumCapabilityMatcher class job. But since we don't have the DockerSeleniumStarterProxy anymore then it is doing only half of the job. I think this is the class that needs to be improved.

[2018-05-04 08:45] ViLPy commented on #553
Hi @diemol

Works fine now, thanks a lot!

[2018-05-04 09:48] pearj commented on #525
@dbwest changing the jetty context is not straightforward because we’re not using a web.xml and the way the selenium guys have embedded jetty means that it doesn’t look for a web.xml. I presume that there would be another programmatic way to achieve it.  But, I think your best bet would be to do some url rewriting inside the nginx . But you might run into edge

[2018-05-04 11:50] dspasojevic commented on #552
@diemol would you like me to take a look at this?

[2018-05-04 12:02] dspasojevic commented on #552
Ah right. I guess that we don't need to consider a hypothetical situation where a different image is available for different browser versions - there is no capability to use more than one image.

I will take a look.

[2018-05-04 12:34] dspasojevic commented on #552
@diemol, I wonder if it would be a good idea for two proxy sets to be managed:

1. containing the auto-started containers - these should be the first priority - but could be empty.
2. containing manually registered containers (e.g. browserstack).

When capabilities are checked, set one would be checked first.

If:

- auto-start capabilities are known (e.g. a container has been started before) and

[2018-05-04 12:49] dbwest commented on #525
I'm still having the same problem. Getting together with the infrastructure guy today. I'll make sure I'm on the slack channel as well and give updates as we go along.

By the way I changed the deploy to do LoadBalancer instead of NodePort. The infrastructure guy will have me change that I'm sure, but it has actually been working to some extent with LoadBalancer set, which is not the default in th

[2018-05-04 13:27] dspasojevic commented on #552
[This commit](https://github.com/dspasojevic/zalenium/commit/e7d97d322715366c6f038f7f687c115909f503ab ) has a first cut of using two proxy sets to prioritise auto-starting over using a manual registered node.

I'm not sure how to [check whether an auto-started node could be used](https://github.com/dspasojevic/zalenium/commit/e7d97d322715366c6f038f7f687c115909f503ab#diff-8a47361134ca2b4b48d239dae1

[2018-05-04 13:37] diemol commented on #552
I think it does not need to be that complex because the proxies have already methods to validate capabilities requested vs. the ones that can be fulfilled.

I would just keep it very simple since the matching can be done by each class done for that, perhaps splitting the proxies in two groups would solve the problem but not in the simplest way. I really think that it is a matter of modifying the m

[2018-05-05 00:51] dspasojevic commented on #552
Sure. I think that there is something to be said for explicitly preferring local nodes over cloud testing proxies, rather than relying on the proxy set sorting. If the logic for the potential capabilities of the local nodes could be expressed simply, I think that this would be a clean solution.

Happy to defer to you though - you know much more here than I do :)

[2018-05-05 20:34] diemol commented on #552
Sounds good @dspasojevic, thanks for checking it though.
Talking about it here also helped me to find a more simple solution :)

[2018-05-06 09:32] #552 closed

[2018-05-06 09:34] diemol commented on #552
Fixed, will release between today and tomorrow.

[2018-05-06 10:34] dennisgranath commented on #552
Awesome @diemol!! Thanks alot!!

[2018-05-08 04:39] ansonliao opened #559 "[Question] How to set sharing memory for the WebDriver docker container?"
In my case, I set the `shm_size` in the docker compose yaml file as below.

[code]

I set the `sharing memory` to `2G` for the `ChromeDriver` services in need.

From Zalenium, how can I set `sharing memory` for the `WebDriver` service of docker-compose?

[2018-05-08 05:09] pearj commented on #559
You can’t at the moment. But it does mount shm into the container I believe. So it’s probably unlimited shm ?

[2018-05-08 05:09] pearj commented on #559
If you need it. Feel free to contribute a PR :)

[2018-05-08 07:53] tedel88 opened #560 "dosel/zalenium:3.0.11g - unexpected end of stream on Connection"
Zalenium Image Version(s):
3.0.11g
Docker Version:
18.03.0-ce
If using docker-compose, version:
2.1
OS:
Windows 10
Docker Command to start Zalenium:
docker-compose up

compose file:

version: '2.1'

services:
  zalenium:
    image: "dosel/zalenium:3.11.0g"
    container_name: zalenium
    hostname: zalenium
    tty: true
    volumes:
      - ${AUTOTEST_VIDEOSPATH}:/home/seluser/videos
      - /var

[2018-05-08 09:05] pearj commented on #560
Can you try the test again?

The changes between 3.0.11f and 3.0.11g were quite minimal.

[2018-05-08 09:08] pearj commented on #554
No response yet. So I presume this is enough information to get you started. Closing.

[2018-05-08 09:08] #554 closed

[2018-05-08 09:13] pearj commented on #535
@FantomX1 your problem is because you tried to build the docker container without running the Maveb build first. After that you can then the the docker build in the `target` directory.

[2018-05-08 09:15] tedel88 commented on #560
Hi,

tried it again with 3.0.11f and there was the same Error as with 3.0.11g.
Seems that the exception does not occur every time we start the tests with 3.0.11f..sorry for the misunderstanding.
Our productive Tests are running on 3.0.10a without the error.
Do you have any idea how to find out the specific verison without trying them all?

[2018-05-08 09:19] pearj commented on #535
At the moment you can’t use source to image to build Zalenium inside OpenShift. You need to do a binary build.

On my windows 10 machine I run:

[code]

[2018-05-08 09:39] pearj commented on #441
@Vlaaaaaaad that’s good news. What time-out are you referring to? The one that gives up on requests that take too long? That is configurable. Also you might considering using pooling (desiredContainers) and enabling container reuse (maxTestSessions to something large). That will workaround slow start for a container to boot. Additionally you could add docker selenium to a local registry if most of

[2018-05-08 09:50] pearj commented on #560
What happens if you make `—maxTestSessions 30` ? That will reuse docker containers

[2018-05-08 09:52] pearj commented on #560
I think in selenium 3.11 they changed from Apache http to okhttp. It might be related.

[2018-05-08 09:53] Vlaaaaaaad commented on #441
@pearj : when spamming the cluster with a lot of tests, the cluster may need to scale up. Adding a new node takes a couple minutes and during that time the connection requesting a browser may time out.

I was using Watir which had a timeout of 60 seconds( will request a browser and wait up to 60 seconds to get the answer back). But launching a new instance and adding it to the cluster took more th

[2018-05-08 09:55] tedel88 commented on #560
I'm running 2 Tests on my local machine..so for reusing i need to configure:
            --desiredContainers 1
            --maxDockerSeleniumContainers 1
            --maxTestSessions 2

?

[2018-05-08 09:55] pearj commented on #560
We’re running 20 concurrent containers quite regularly on Kubernetes and it’s rock solid on 3.11. So, maybe you’re running into resource problems? Maybe try dropping max containers to 2 and see how that goes. Or try disabling video recording as that uses a significant amount of cpu

[2018-05-08 09:57] pearj commented on #560
Yeah, that would mean it will never start more than 1 container, and after running 2 tests it will delete the container and create a new one to replace it.

[2018-05-08 10:17] tedel88 commented on #560
hmm when i try it with that parameters i get stuck at the second test :
[12:10:20] I/launcher - 1 instance(s) of WebDriver still running

[2018-05-08 11:05] tedel88 commented on #560
exception occurs with and without video recording and also when i drop max containers to 2.
I will try it severall times with 3.10c and 3.11a to see if it has something to do with okhttp

[2018-05-08 14:02] tedel88 commented on #560
Think i tracked it down to : dosel/zalenium:3.11.0d, maybe coincidence.

Any thoughts about :
Caused by: java.io.EOFException: \n not found: limit=0 content=…
at okio.RealBufferedSource.readUtf8LineStrict(RealBufferedSource.java:227)
at okhttp3.internal.http1.Http1Codec.readHeaderLine(Http1Codec.java:212)
at okhttp3.internal.http1.Http1Codec.readResponseHeaders(Http1Codec.java:189)
... 54 common f

[2018-05-08 17:22] sree98 opened #561 "Container doesn't deleted and re spawn after finishing a test."
Zalenium Image Version(s):
3.11.0g
Docker Version:
18.03.1-ce
OS:
Ubuntu 16.04
Docker Command to start Zalenium:
Using one liner from https://raw.githubusercontent.com/dosel/t/i/p with these changes to the variables:
[code]

## Expected Behavior -
Executes each ROBOT tests(total ~50) one by one from a python script onto a thread pool of 6. Since the max container is 4 it executes the first 4 tests

[2018-05-08 19:35] #561 closed

[2018-05-08 19:36] sree98 commented on #561
It was a problem with the ROBOT test itself being run under the same process ID fixed it by creating instances of terminals and running it on each thread and running the command in it. Sorry for opening an issue.

[2018-05-09 04:33] ryudice opened #562 "Organize videos in folders"
It would really help if you could store videos in a folder based on certain variable, this could be the version of the application against which the tests were ran, or you CI build number.

The main usecase of this is just to make videos more accessible to non-tech people. I'm working on uploading the videos to amazon S3 using some scripting and then linking the videos in our reports and this woul

[2018-05-09 04:39] ryudice commented on #528
Hi, I created #562 which is likely simpler to implement and would fullfil a similar usecase as this.

Extending the webdriver to be able to retrieve the video URL would be ideal but seems very complex to achieve, and also would require users to use a custom webdriver.

I think the project would benefit greatly from having some kind of REST API that you could integrate against. I'm not sure if it f

[2018-05-09 04:40] ansonliao commented on #559
Thanks @pearj and @diemol comment.
It is useful to me.

[2018-05-09 07:39] mattiassluis commented on #532
@diemol awesome! I will test it today and get back to you. I only saw this today so I am very sorry for the late follow up.

[2018-05-09 09:49] pearj commented on #535
Your problem is that it needs permissions inside OpenShift to be able to create pods etc. We have a custom role that we grant to the zalenium service account to make it work.

I’ve been updating the OpenShift template on a branch which is fairly feature complete. It at least should show you what you’re missing.

https://github.com/pearj/zalenium/blob/031fd96c08226badffcb2be0cea114209af7f147/docs/k

[2018-05-09 09:54] pearj commented on #562
@ryudice this is already implemented. If you set a test name via a capability then zalenium uses that test name when it creates a folder. I use this concept in Jenkins so I can automatically copy the file after the test completes.

[2018-05-09 10:00] pearj commented on #560
Can you share you test class? As I can’t reproduce your problem.

[2018-05-09 10:15] tedel88 commented on #560
hmm i don't think that this is possible because of a quit complex testsetup with several non public docker containers. Tell you what : I will try to break it down to a minimal setup and publish it here.
Is that ok?
I think i could publish it on friday.

[2018-05-09 10:31] DenisBiondic opened #563 "Appium test error with protractor and saucelabs"
Zalenium Image Version(s):
dosel/zalenium:**3.11.0g** & elgalu/selenium:**3.11.0-p11**

Docker Version:
18.03.1-ce

OS:
Windows 10

Docker Command to start Zalenium:
`docker run --rm -ti --name zalenium -p 4444:4444 -e SAUCE_USERNAME=xxx -e SAUCE_ACCESS_KEY=xxx -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start --sauceLabsEnabled true

[2018-05-09 12:15] pearj commented on #563
Can you post the zalenium logs?

[2018-05-09 16:23] shiva4983 opened #564 "Browser proxy issue - Requesting User credentials."
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
3.11
Docker Version:
18.03

OS:
Windows 7
Docker Command to start Zalenium:
docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /c/Users/tmp/videos:/home/seluser/videos -e "zalenium_http_proxy=http://<username>:<password>@c

[2018-05-09 19:22] kendalsickels-wf opened #565 "Append testStatus to end of video fileName"
We’re using Zalenium to run our tests and it’s been awesome! However, as our test cases have grown it’s become difficult to parse the large list of video artifacts to find the failure video we might be interested in.  Further complicating the issue is we have targeted retries on test failures so you end up with two video artifacts that are named very similarly.

I recognize that we could just save

[2018-05-09 20:34] javacoldbrew opened #566 "Adding video recording to a Selenium Proxy"
I have a remote desktop running Windows 7.

To attach IE to Selenium Grid, I run:
java -jar -Dwebdriver.internetexplorer.driver=C:\Selenium\3.11.0\server\IEDriverServer.exe selenium-server-standalone-3.11.0.jar -role webdriver -port 5554 -hub http://<IP>:4444/grid/register -browser browserName="internet explorer",version=11.0.9600.18977,platform=WINDOWS

With this I am able to run tests but, I was

[2018-05-09 21:15] pearj commented on #564
What are you trying to do exactly? Are you trying to use your corporate proxy for selenium tests? If so, you shouldn’t be setting it on the zalenium container but rather inside as a desired capability inside your selenium tests. Zalenium has no special proxy handling. Just whatever selenium provides.

[2018-05-09 21:33] pearj commented on #532
Something strange is going on because it seems to think registration is coming from localhost? Can you provide the pod spec for one of the selenium pods that has started after boot?

[2018-05-09 21:38] pearj commented on #532
Hmm at the bottom it’s failing to find a pod by it’s IP address. What flavour of kubernetes are you using?

[2018-05-09 21:55] pearj commented on #566
Zalenium can only record videos for the containers that it starts itself using the elgalu/selenium container. Because those containers have the video recording capability inside them.  Zalenium, the grid isn’t the thing doing the video recording, it is the selenium node.
So it’s not possible to do what you want.
If you use a 3rd party testing provider such as browser stack, they provide video reco

[2018-05-09 21:55] #566 closed

[2018-05-09 22:02] pearj commented on #565
Sounds doable, we’re pretty busy at the moment, but feel free to implement this and send us a PR :)

[2018-05-09 22:08] pearj commented on #565
The dashboard knows which videos failed, so right now you could parse the HTML to figure out which videos have failed. It’s not amazing, but it should work.

[2018-05-09 22:09] diemol commented on #566
Thanks @pearj for replying!
Just to clarify the video part with cloud providers, actually Zalenium fetches the video from the cloud provider and adds it to the dashboard.

But yes, everything is like that. The video recording feature only works with the containers.

[2018-05-09 22:41] javacoldbrew commented on #566
Thanks for letting me know! I will look into using a 3rd party then.

[2018-05-10 00:17] shiva4983 commented on #564
Thanks Pearj. That answers my question. I will try it out through selenium test.

[2018-05-10 01:25] gsaimadhu opened #567 "org.openqa.selenium.WebDriverException: Error forwarding the new session Request timed out waiting for a node to become available. Command duration or timeout"
Thanks for Zalenium. Currently we are facing a regression issue with Zalenium. This is a blocker for us.
I tried with various commands before posting this issue. I think --add-host parameter while starting zalenium seems to have regression issue. Please help ASAP.

Zalenium Image Version(s):
Using webdriver 3.11.0 client and Zalenium latest version.
# docker images | grep zalenium
dosel/zalenium

[2018-05-10 01:30] gsaimadhu commented on #567
Zalenium startup logs are attached for troubleshooting.
[ZaleniumStartLogs.log](https://github.com/zalando/zalenium/files/1989989/ZaleniumStartLogs.log)

[2018-05-10 04:04] pearj commented on #567
This seems to be the problem:
[code]

[2018-05-10 04:56] gsaimadhu commented on #567
Pearj,
how to resolve this:
02:20:08.167 [qtp1481818223-16] WARN  d.z.e.z.c.DockerContainerClient - No container id for zalenium - 127.0.0.1, can't register.

[2018-05-10 06:56] peerster commented on #532
Can't see any rolebindings. Can't this error be because the service account is lacking permission for certain operations?

[2018-05-10 07:38] diemol commented on #536
Hi @poison2332,

It seems like it is a matter of handling the WebDriver instances you are creating in the test.

The bottomline is that starting Zalenium with `SELENIUM_NODE_PARAMS="-maxSession 3"` would not work since it only uses one browser per container/node. In addition, you could also follow @pearj's comment above to have the amount of nodes you desire.

I will close this issue since there w

[2018-05-10 07:38] #536 closed

[2018-05-10 07:45] diemol commented on #564
Hi @shiva4983,

What @pearj mentions is exactly the way to go. When one needs to use a proxy for the test, it should be set in the browser's options when all the capabilities are being created.

I'll close this issue since it is not related to Zalenium.

[2018-05-10 07:45] #564 closed

[2018-05-10 14:11] pearj commented on #567
`--net=host` is your problem. That method is no longer supported.  You need to let it use the normal docker network. Use `-p 4444:4444` instead of `--net=host`. Then the grid will be available at localhost:4444.

[2018-05-10 14:25] pearj commented on #565
It's pretty easy to build.  If you're building on a docker host, you can simply run `mvn clean package -DskipTests=true -Pbuild-docker-image`. And that should build a docker image for zalenium.

[2018-05-10 23:59] gsaimadhu commented on #567
Excellent, it worked. Thanks Pearj for quick response.

[2018-05-11 01:31] kendalsickels-wf commented on #565
I was able to verify this does append the testStatus to the end of the video file using the above build command and shoving the image into our test platform. Below is an tidbit from the logs:

[code]

[2018-05-11 07:04] diemol commented on #567
Thanks for the feedback @gsaimadhu, closing this issue.

[2018-05-11 07:04] #567 closed

[2018-05-11 07:25] gsaimadhu opened #568 "Intermittently getting the error 'cannot forward the request No System TLS'"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**
We have around 500 tests to run, starting 11 threads in parallel.

# Zalenium Image Version(s):
#docker images | grep zalenium
dosel/zalenium                                                     latest              6a8d6e5f89b4        3 days ago          792MB
#docker images | grep selenium
elgal

[2018-05-11 08:51] amalsgit commented on #568
Looks like this is the issue which I am also facing.

Zalenium Image Version(s):
Always the latest. I pull the latest before container creation as part of Jenkins script

OS:
Centos7

Docker Command to start Zalenium:

`sudo docker run -d --name zalenium -p 4444:4444 \\
        -v /var/run/docker.sock:/var/run/docker.sock \\
        -v /tmp/videos:/home/seluser/videos \\
        -v /home/centos/wo

[2018-05-11 10:14] pearj commented on #568
Duplicate of #491 closing

[2018-05-11 10:14] #568 closed

[2018-05-11 10:31] diemol commented on #565
👍 just checked the code, and looks good! thanks @kendalsickels-wf!

[2018-05-11 10:58] pearj commented on #491
This is not really a solution, but I discovered that you can switch the http client from okhttp back to apache via a system property, if somebody wants to try setting this environment variable on their zalenium container, then it'd be interesting to know if it's more stable:

`ZALENIUM_EXTRA_JVM_PARAMS="-Dwebdriver.http.factory=apache"`

@diemol says this isn't a long term solution as apache will

[2018-05-11 11:14] pearj commented on #491
I found where the "Invalid keystore format" exception comes from: http://www.grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8-b132/sun/security/provider/JavaKeyStore.java#650

But it doesn't really help us, basically, it sounds like as it's reading the file the "magic" file headers aren't matching.

[2018-05-11 11:53] tedel88 commented on #560
Unfortunately we are not using any of that cool Hashicoorp Stuff right now ;)

I've tried quiet a while now to reproduce it with a minimal setup but zalenium works fine.

[2018-05-11 12:18] kendalsickels-wf commented on #565
https://github.com/zalando/zalenium/pull/569 PR has been opened 👍

[2018-05-11 13:07] mattiassluis commented on #532
@pearj

Server Version:
[code]

Attached the pod description for one of the selenium pods as well as the controller pod
[selenium-container-desc.txt](https://github.com/zalando/zalenium/files/1995375/selenium-container-desc.txt)
[selenium-controller-pod-specs.txt](https://github.com/zalando/zalenium/files/1995378/selenium-controller-pod-specs.txt)

[2018-05-11 21:16] pearj commented on #532
@mattiassluis can you add those files as yaml instead of text?
What type of Kubernetes cluster do you have and what version? Does the cluster have RBAC enabled?

[2018-05-11 21:27] diemol commented on #546
I'll close this issue since we didn't get more feedback from the OP.

[2018-05-11 21:27] #546 closed

[2018-05-12 10:25] pearj commented on #532
Oh right so it’s kubernetes 1.9.3. Is it vanilla kubernetes. Ie not OpenShift or some other distribution?

[2018-05-13 10:05] diemol commented on #565
Relased https://github.com/zalando/zalenium/releases/tag/3.11.0h
Thanks for contributing @kendalsickels-wf!

[2018-05-13 10:05] #565 closed

[2018-05-13 15:30] jkandasa opened #572 "When we have special character on build detail, failed to load video URL on dashboard"
Zalenium Image Version(s):  3.11.0h
Docker Version:  17.09.1-ce, build 19e2cf6
OS: Fedora 27
Docker Command to start Zalenium:
[code]

## Issue:
When we use special characters on build details, recorderd video not loaded, showing the following issue on the browser,
[code]

Build information used on the test was,
[code]

## Expected Behavior -
Videos should load on the browser at any name

## Actua

[2018-05-13 18:08] #572 closed

[2018-05-13 21:31] diemol commented on #562
Hi @ryudice,

In addition to that, you can pass a capability with a `build` name, and if so, it will be used to create the video name, check the [template](https://github.com/zalando/zalenium/blob/master/src/main/java/de/zalando/ep/zalenium/dashboard/TestInformation.java#L13).

With that, it would be quite simple to filter the files you need.

[2018-05-13 22:09] pearj commented on #562
The details of how it works is in the doco: https://opensource.zalando.com/zalenium/ click usage and then scroll down for “Test Configuration Options”

[2018-05-13 22:10] #562 closed

[2018-05-14 07:06] DenisBiondic commented on #563
*************************************** Data Processing Agreement ***************************************
08:56:10.335 [Thread-12] INFO  d.z.e.z.registry.ZaleniumRegistry - Registered a node http://172.17.0.3:40000
08:56:10.353 [Thread-12] INFO  d.z.e.z.proxy.AutoStartProxySet - Registered a container 3d57dc8a83366062dec74518c3bd663e34206d50663ac557da08d56fe2b1bc6c http://172.17.0.3:40000.
08:56:1

[2018-05-14 07:07] DenisBiondic commented on #563
saucelabs commands:

![image](https://user-images.githubusercontent.com/3341262/39982915-2d744f72-5756-11e8-8e00-8655006f0105.png)

[2018-05-14 07:08] DenisBiondic commented on #563
I also tried the debug log but it outputs too much and I didn't find a way to direct to output to a log file instead of the console. Probably have to check if possible through logback.xml. Do you need the debug logs as well?

[2018-05-14 07:27] gsaimadhu commented on #491
With this issue unresolved for so many weeks, the development team is losing confidence in automated testing because of regular false alarms from our qa side.
Till the issue is resolved at Zalenium, can Zalenium give workaround in options to enable the direct docker selenium to proceed our testing activities without this issue.

[2018-05-14 10:34] LKay commented on #452
I have the same problem. BrowserStack tunnel is opened but Zalenium fails to run any tests and returns:`ERROR: [browserstack.local] is set to true but local testing through BrowserStack is not connected.`

I noticed the same messages, when session Id is empty and some fetches with errors: `java.io.FileNotFoundException: https://www.browserstack.com/automate/sessions/.json`

Has this been solved so

[2018-05-14 14:55] borisivan commented on #491
This has prevented me from using any new Zalenium builds as well, though we still use Zalenium. I provide the arguments to the docker run to force the specific version of Zalenium as well as the elgalu container to be the version that existed before they made this change (several months old at this point), and obviously don't see the TLS problem.

But I don't get the benefit of other bug fixes or

[2018-05-14 15:01] diemol commented on #491
@gsaimadhu @borisivan

I understand what you guys mean, but that is the current status. Of course we want to fix it, and if we had found what the exact reason is and how it could be fixed, we would have done it already.

Please also understand that we have jobs and other tasks, and therefore we cannot spend all the time we want in this.

With the recent info added in the duplicated issue we will i

[2018-05-14 15:15] borisivan commented on #491
Hi @diemol --understood. It also wouldn't surprise me if this ends up being something like what @pearj mentions re: file handles or some such resource, which might be more affected with the okHTTP library instead of apache, etc, and in reality an overall docker-host-infrastructure problem as opposed to any zalenium-specific code. But alas, the effect is pretty severe.

[2018-05-14 16:43] gsaimadhu commented on #491
@diemol, i understand and appreciate you and your team initiatives and hardwork for community. My intention is not to put pressure on you. My intention is to request you an alternate way to unblock us with an option if possible to use direct docker selenium using Zalenium.

[2018-05-14 23:07] MilindThakur commented on #217
Thanks Diemol. Revisited the config again and can confirm that I can launch android emulator when added to zalenium grid (of course with no video and logs)

The compose file is:
[code]

Launching separate drivers for mobile-chrome (using appium) and web-chrome (using selenium):
[code]
Zalenium Logs:
[code]

[2018-05-15 01:22] LKay opened #575 "Browserstack Tunnel is not working"
Zalenium Image Version(s):
* 3.11.0h

Docker Version:
* 17.12.0-ce

If using docker-compose, version:
* 1.18.0

OS:
* OSX High Mountain

Docker Command to start Zalenium:

`docker-compose.yml`:

[code]

## Expected Behavior -

Testing against BrowserStack using Local Tunnel works.

## Actual Behavior -

Tests are passed to browserstack but work only without Local Tunnel.

Tunnel is started seems t

[2018-05-15 10:19] gsaimadhu commented on #491
Thanks diemol. I have run the command as specified in the above comment.

This issue is NOT observed with the setting ZALENIUM_EXTRA_JVM_PARAMS="-Dwebdriver.http.factory=apache"

For your reference, i am attaching the Zalenium logs. Please go through and let me know if any further investigation required.
[ZaleniumStartLogs.log](https://github.com/zalando/zalenium/files/2004384/ZaleniumStartLogs.lo

[2018-05-15 10:45] diemol commented on #575
Hi @LKay,

As @dennisgranath suggested in the #zalenium channel, you also need to send
'browserstack.localIdentifier': 'zalenium' as well.

Let me know if we can close this issue.

[2018-05-16 08:24] sagarpinninti opened #576 "502 Bad Gateway nginx/1.10.3 (Ubuntu) while deploying k8s cluster"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):

Docker Version:

1.12.6
If using docker-compose, version:

OS: RHEL7

Docker Command to start Zalenium:

If using Kubernetes, specify your environment, and if relevant your manifests:
k8s (1.7.10) multinode cluster installed on RHLE7.
## Expected Behavior -
Back-off

[2018-05-16 12:40] hjacobs opened #577 "Zalenium nodes not registering"
I run the curl command from the README and Docker containers start, but throw errors and Grid Console is empty.

[code]

[code]

[code]
[code]

I don't know what's going on, but my automated UI tests are not working anymore (that's why I started debugging locally, see above), the error from my automated (Python) test is:

[code]

[2018-05-16 14:13] pearj commented on #577
You can't use --net=host anymore, a recent restructure now expects every container to have a separate IP address.
This is the same as #567

[2018-05-16 14:13] #577 closed

[2018-05-16 14:32] pearj commented on #577
@diemol I added a pull request on the dosel side to fail if that option is used. But maybe it should be removed entirely.
I wonder if the docker container can figure out the network mode and prevent from starting?

[2018-05-16 14:46] diemol commented on #577
It is a common use case to run a docker-selenium or Zalenium container locally in order to test an application running on localhost (someone who wants to run tests against uncommitted code for example).
In Linux it is very simple with `net=host`, so even if we remove that option, we should still document how to do that with the recent changes.

[2018-05-16 16:12] sree98 opened #578 "Adding test name in Robot tests produces jibberish rather than the one provided on capabilities"
Zalenium Image Version(s):
Zalenium Latest
Selenium Latest

Docker Version:  18.03.1-ce,

If using docker-compose, version:  N/A

OS: Ubuntu 16.04

Docker Command to start Zalenium:  Oneliner with timezone as America/New_York and maxDockerSeleniumContainers to 6

If using Kubernetes, specify your environment, and if relevant your manifests:  N/A

## Expected Behavior -
Adding DesieredCapabilties t

[2018-05-16 17:50] hjacobs commented on #577
@pearj @diemol thanks for the quick answers, can we change the default to not use `latest` Docker images? I think my problem was that "I did not change anything" and it broke because the Docker images (`latest`) got updated and support for `--net=host` was removed without me having any chance to influence/react. I think this is not a very nice behaviour, especially for automated CI/CD pipelines wh

[2018-05-16 19:16] hjacobs commented on #577
I could get it to work again (without net=host), but it was quite painful as I had to use the `docker0` IP (172.17.0.1) in my Python webapp test (which does not run in Docker) to be able to access my Python test app from Zalenium (Docker containers).

[2018-05-16 19:28] diemol commented on #577
It is possible to start with a previous version by executing the command like this:

`curl -sSL https://raw.githubusercontent.com/dosel/t/i/p | bash -s 3.11.0e start`

(3.11.0e was the tag before the changes were made)

We were checking the needed changes, and we'll bring back support for `net=host` in the next release.

In general, with the changes Selenium is going through towards the W3C standa

[2018-05-16 19:33] hjacobs commented on #577
@diemol thanks, but this would still leave me with the risk of having a dependency to the non-versioned script `https://raw.githubusercontent.com/dosel/t/i/p`.

[2018-05-16 21:01] sree98 commented on #578
After a lot of googling and trying a bunch of combinations of things it looks like i have found the answer.
You have to first export google options and then get the capabilities and then add the different capabilities you want to that dictionary and use that to open the browser.
**Sample:**
[code]
Sorry for posting this question as an issue.

[2018-05-16 21:05] diemol commented on #577
I think that having the script in the same repo makes a lot of sense. I don't remember exactly why we left it in a different one, do you remember why @elgalu? I guess in the beginning the script was more like a nice helper and we didn't think it would be highly used.

Would be cool if someone finds the time to send a PR and move the script here, perhaps rework it?

For now, the support for `net=ho

[2018-05-16 21:07] diemol commented on #578
Hi @sree98,

Yes, exactly, that is the issue. I have never used Robot framework, but what I could see is the same, the `name` was being passed as an argument to Chrome instead of being passed as a capability.

Glad you figured it out!

Closing this issue.

[2018-05-16 21:07] #578 closed

[2018-05-16 21:09] diemol commented on #491
Thanks for the feedback @gsaimadhu!

I think that means that the issue is in the Zalenium container and not in the docker-selenium ones. We will keep checking there.

@borisivan Could you please try the same workaround to confirm?

[2018-05-16 21:10] diemol commented on #575
I'll assume that it was enough after adding the capability. If something is not working, feel free to reopen the issue.

[2018-05-16 21:10] #575 closed

[2018-05-17 03:15] amalsgit commented on #491
I was facing the same issue and the workaround did the trick. I am not facing the TLS error now. @diemol

[2018-05-17 05:52] hjacobs commented on #577
@diemol sounds good, thanks!

[2018-05-17 10:35] peerster opened #579 "Duplicate entries in dashboard"
Zalenium Image Version(s):
3.11.0g
Docker Version:
Openshift origin 3.7

Zalenium is started with json logging enabled

## Expected Behavior -
One entry per test result in dashboard

## Actual Behavior -
For tests that are flagged as "timeout", sometime the same result shows up twice in the dashboard

Example of logs showing copying the video multiple times:
![image](https://user-images.githubuser

[2018-05-17 13:36] hjacobs commented on #577
Now something is breaking again (I did not change the setup, but I see that one of the Docker images was updated) :disappointed:

[code]

[2018-05-17 13:40] hjacobs commented on #577
OK, this time it might be my app's fault --- I have to check..

[2018-05-17 13:53] diemol commented on #577
One of the docker images was updated since Firefox 60.0.1 was released today.
Please also double check that the Python bindings are 3.11.0 (current version of Zalenium)

[2018-05-18 01:17] LKay commented on #575
Sorry for late reply. Adding `'browserstack.localIdentifier': 'zalenium'` solved the issue with local tunnel, thanks. It would be nice to mention this somewhere in the docs, without need of digging it up from github issues.

[2018-05-18 01:24] LKay opened #580 "Randomly terminated selenium sessions"
Zalenium Image Version(s):
* 3.11.0h

Docker Version:
* 17.12.0-ce

If using docker-compose, version:
* 1.18.0

OS:
* OSX High Mountain

Docker Command to start Zalenium:

`docker-compose.yml`:

[code]

## Expected Behavior -

Test are stable and run consistently.

## Actual Behavior -

I get similar errors a lot:

[code]

The problem occurs almost all the time when I set parallel testing having m

[2018-05-18 04:14] ezwanharun opened #581 "Dashboard cant be view when using diff port instead of 4444"
Zalenium dashboards cant be view when I started with different port number (eg 4445) instead of 4444 as I try to start multiple container with diff port number. Does the zalenium is only hardcoded to 1 port (4444) and cant be configurable?

## Expected Behavior -
Dashboard able to be view and can see the live functionality

## Actual Behavior -
Dashboard cant be access.

[2018-05-18 06:33] peerster commented on #581
@ezwanharun It can indeed. We use for instance port 80 to access all zaleniun endpoints (dashboard, live view etc).

It comes down to how you start and run zalenium.
That's why the issue template contains stuff like what docker version and if you're using openshift etc. It's hard to help you without that information

[2018-05-18 06:44] diemol commented on #577
Hi,

We just released 3.12.0a, which brings back support for `net=host`, please have a look.

@scherniavsky, about LTS support... That sounds tricky because Selenium has many moving parts: the browser, the browser drivers, the bindings themselves. To have LTS support we would need to double check every single component, and maybe also add elgalu/selenium as well... This sounds like an endless task

[2018-05-18 09:12] diemol commented on #580
Hi @LKay,

I have seen that error before when the PHP bindings were being used, is that the case?

If not, it would be helpful if you can give us a way to reproduce the issue, so we can find a way to fix it.

[2018-05-18 09:14] diemol commented on #575
@LKay
This is part of BrowserStack's documentation, cloud services usually require to put that information in the capabilities.
https://www.browserstack.com/local-testing#multiple-connections

[2018-05-18 09:17] diemol commented on #581
Hi @ezwanharun,

@peerster is right, many people use a different port for it and so far it works well. Please post more relevant info so we can find a way to help.

[2018-05-18 09:34] LKay commented on #580
In my current case I'm using NodeJS bindings. I tried core [selenium-webdriver](https://www.npmjs.com/package/selenium-webdriver) at first and now I use [Webdriver.IO](http://webdriver.io/). I can share my config base for it if that helps: [wdio.conf.js](https://gist.github.com/LKay/05c8a93b16271d5c9ed3f5b0fe0281c3). It contains some more complex logic for tests repeating that we have to perform d

[2018-05-19 11:36] diemol commented on #438
@pearj what do think? What is the easiest approach to implement this?

I mean, is there something Kubernetes "standard" that can be used for this? Or is this something that actually needs to be done in code?

[2018-05-19 14:17] pearj commented on #438
I’m not sure I understand why any of the selenium pods actually need proxy access? As proxy access is configured via selenium capabilities, I use it on a client site that has no direct internet access and it works like a charm.
What is the use case here?

[2018-05-20 21:51] diemol commented on #580
I was checking the WebDriverIO configuration and I don't see anything strange... Would it be possible to get the full Zalenium logs? Like that we could see when the session was created and find out if the node was killed for any reason.

In addition, are you running tests in parallel? If so, how many? I ask because the other reason I've seen similar errors is when not so many resources are availab

[2018-05-21 02:05] LKay commented on #580
Yes, I'm trying to run tests in parallel but to a massive extend, though. I have set maximum of 5 concurrent sessions, which is not very big amount. Running instance of docker definitely has enough resources available to handle that much. About quantity of tests then I currently have about a 100 test cases across maybe 20 test suites.

What kind of Zelenium logs do you need and how should I provid

[2018-05-21 02:13] ezwanharun commented on #581
OS: debian 9.3
docker version : Docker version 17.09.1-ce
Zalenium image version : Think latest since I didnt see it specify any version.

Start Command :
sudo docker run --rm -di --name ${bamboo.zaleniumName} -p ${bamboo.zaleniumPort}:${bamboo.zaleniumPort} -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start --maxDockerSeleniumContain

[2018-05-21 02:49] pearj commented on #581
You have a bug in your start command:

Replace `${bamboo.zaleniumPort}:${bamboo.zaleniumPort}` with `${bamboo.zaleniumPort}:4444`

[2018-05-21 03:10] ezwanharun commented on #581
got it..thanks

[2018-05-21 03:47] pearj commented on #581
Sounds like this problem is fixed then. Closing. You can reopen if it isn’t resolved.

[2018-05-21 03:47] #581 closed

[2018-05-21 14:46] Deklin opened #584 "Zalenium 3.12.0a with elgalu/selenium:3.12.0-p0"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):

Docker Version:

If using docker-compose, version:
1.13.1
OS:
Centos 7.4
Docker Command to start Zalenium:

If using Kubernetes, specify your environment, and if relevant your manifests:
pull images as described

If I switch to zalenium 3.11.0h and elgalu selenium 3.

[2018-05-21 16:00] TomLarrow commented on #438
We need to set a corporate proxy in order to be able reach sites that have both internal and external resources, and that needs to be set on the selenium nodes.  Currently we build our own version of the selenium nodes with a 2 line dockerfile:

FROM elgalu/selenium
ENV http_proxy=<our corporate proxy> https_proxy=<our corporate proxy> NO_PROXY=<no proxy values>

We build that each day, and push i

[2018-05-22 03:10] degerlac opened #585 "Running Zalenium as a GitLab service"
I am trying to use Zalenium as a Gitlab service. Essentially I need to start it without the docker.sock volume binding is this possible? Gitlab service documentation, https://docs.gitlab.com/ee/ci/docker/using_docker_images.html Is there a way to set environment variables for volume nappings?

Configuration
Zalenium Image Version(s):  3.11.0h
Docker Version:
Version 18.03.0-ce-mac60
If using docke

[2018-05-22 04:28] oscarbuho888 opened #586 "Different resolutions for each instance."
How to run 4 instances of chrome with different resolution each. For example:

Chrome1 - 1200 x 600
Chrome2 - 800 x 600

[2018-05-22 08:27] diemol commented on #584
Hi @Deklin,

What probe were you using?

[2018-05-22 08:42] diemol commented on #585
Hi @degerlac,

Not really, Zalenium needs it to actually create the nodes on demand.  Without it, Zalenium cannot work properly in a docker environment.

Someone else tried to do the same, and then went the Kubernetes path, but I am not sure if they were able to do it in the end. https://github.com/zalando/zalenium/issues/437

I'll leave this issue open for a while in case you have more comments.

[2018-05-22 08:45] diemol commented on #586
Hi @oscarbuho888,

The most simple way would be to start Zalenium with `--desiredContainers 0` and `--maxTestSessions` to a high number that works for you. After that you just start the tests and pass the `screenResolution` capability to what you wish.

[2018-05-22 08:56] mattiassluis commented on #532
@pearj it is indeed vanilla kubernetes.

We are running 1.9.3 (as you have seen yourself), it supports RBAC

Attached the yaml output.

[selenium-container-desc.txt](https://github.com/zalando/zalenium/files/2025726/selenium-container-desc.txt)
[selenium-controller-pod-specs.txt](https://github.com/zalando/zalenium/files/2025727/selenium-controller-pod-specs.txt)

[2018-05-22 10:01] DenisBiondic commented on #563
Do you need a sample project for easier reporoduction? I can quickly create an angular / protractor project here on github with all the commands to reproduce.

[2018-05-22 10:55] Deklin commented on #584
I didnt add a probe, its being auto added when the nodes are spawned. 3.11 does it too but the probe works properly with 3.11, but fails with 3.12

[2018-05-22 15:45] iMbaundso commented on #437
Hi @geek876:

We had a quiet similiar case and solved it like this:

1) Deploying zalenium to the cluster and creating and service for it. Having done this you can simply point your tests to eg. Zalenium:4444/wd/hub within your cluster and kubernetes service discovery is doing the rest. If you need to access it from outside you would have to create an Ingress for it.

2) The happy part. If you nee

[2018-05-22 15:47] iMbaundso commented on #585
Hi all.

I think in general you should not try to create an 1:1 relation between zalenium and your tests. Zalenium should act standalone executing multiple jobs. Where are your Gitlab jobs running on (Kubernetes, docker-machine, single hosts...)?

[2018-05-22 18:44] sai-tirunagiri opened #587 "Support for IE"
Hi,

This sounds to be more on the enhancement side.

Are we thinking of adding internet explorer node.? is this possible.?

Thanks,
Sai

[2018-05-22 18:55] diemol commented on #587
Hi @sai-tirunagiri,

Right now it is not possible, maybe in the future Microsoft will provide an image for that.

Check:

https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/214
https://github.com/zalando/zalenium/issues/503
https://windowsserver.uservoice.com/forums/304624-containers/suggestions/17506354-provide-an-internet-explorer-docker-container-ena
https://github.com/Seleniu

[2018-05-22 18:55] #587 closed

[2018-05-22 19:39] oscarbuho888 commented on #586
Hi @diemol,

Thanks for your help, I actually found a way to execute it with my protractor tests. Here I leave the protractor.conf. js of my tests.

`multiCapabilities: [
        {
            'name': 'Pruebas e2e Ghost en 1200 x 600',
            'browserName': 'chrome',
            chromeOptions: {args: [ "--disable-gpu", "--window-size=1200x600" ]},
            screenResolution: '1200x600'

[2018-05-22 19:39] #586 closed

[2018-05-23 09:57] GeorgFleig commented on #584
The probe in question is automatically created by the zalenium pod:
[code]
Since selenium:3.12.0-p0 the service being probed does not bind to localhost but to the pod's IP address. Therefore the probe fails.

[2018-05-23 10:50] pearj commented on #438
@TomLarrow wow, that's pretty elaborate.

All you need to do is set a proxy desired capability on each test as it starts with the corporate proxy and the noProxy details.

See https://github.com/SeleniumHQ/selenium/wiki/DesiredCapabilities#proxy-json-object for the options.

I use zalenium with a corporate proxy and I configure all my tests to start using a proxyPacUrl, with multiple proxies confi

[2018-05-23 11:01] pearj commented on #576
That error looks unrelated to downloading videos. All that error says the selenium container hasn't started yet after waiting more than 3 minutes.  Are your tests starting at all?

[2018-05-23 11:19] sayom88 opened #588 "Disconnect Timeout error coming for the docker containers in the Zalenium Live Preview"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):

Docker Version:

If using docker-compose, version:

OS: Linux

Docker Command to start Zalenium:
docker run --rm -ti --name zalenium -p 4444:4444 -p 5555:5555 \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /tmp/videos:/home/seluser/videos \
    --privile

[2018-05-23 11:42] diemol commented on #438
I think both approaches work, @TomLarrow's simplifies what users need to setup in their tests and @pearj's is kind of the way to do it "by the book" :)

After seeing that, it makes me think that implementing things like `ZALENIUM_HTTP_PROXY` was not the best idea since it was possible to do it via Selenium itself, and in addition it is only supported in the docker of Zalenium.

Based on the previo

[2018-05-23 11:42] #438 closed

[2018-05-23 11:51] diemol commented on #588
Hi @sayom88,

This is the normal behaviour. In your case, after two tests were executed, the containers are thrown away and new ones are being created. What you see in the live preview is the process where the old ones are disconnecting and if you refresh the page, new ones should pop up.

I'll leave this issue open for a while in case there are more comments,

[2018-05-23 12:00] sayom88 commented on #588
hi @diemol ,
Thanks for your comments. Now my question is while I am starting Zalenium, is there any way via which I can tell that the nodes/containers which are being created will remain active for a stipulated time duration? I want a node to be created will remain active for a certain timeperiod. Can I do that please?

[2018-05-23 12:05] pearj commented on #584
Thanks for the heads up @GeorgFleig, I tried it locally and you're right, it doesn't bind to localhost anymore. I've updated the probe in #589.  We should be able to get a new version out soon.
I guess Selenium 3.12 changed something, as I had a look at the docker selenium start script and it hasn't changed in 8 months.

[2018-05-23 12:14] #584 closed

[2018-05-23 12:30] diemol commented on #585
@iMbaundso it kind of depends, some people create a Zalenium instance in Jenkins before starting their tests and shut it down afterwards. As always, scenarios are different.

In this case, I agree since Zalenium cannot run as a GitLab service, then doing something like what you suggest makes sense.

I'll close this issue since there is no action item for us.

[2018-05-23 12:30] #585 closed

[2018-05-23 12:31] diemol commented on #563
@DenisBiondic yes, that'd be great since I haven't had time to build one on my own. Thanks!

[2018-05-23 12:42] sagarpinninti commented on #576
The test are started now and it working perfectly ... thank you for the support and we can close the issue.

[2018-05-23 12:42] #576 closed

[2018-05-23 19:31] sai-tirunagiri opened #591 "Change live preview background image"
Hi,

Could someone please help me with some instructions on like, how to change the background image on the noVNC screens (live preview).

Thank you.

[2018-05-23 19:37] diemol commented on #588
Not really, they are up until the `--maxTestSessions` is reached. If you need them up for a while, just try to use a high number of `--maxTestSessions` and find one that works for you.

I'll close this issue since there is no action item for us.

[2018-05-23 19:37] #588 closed

[2018-05-23 19:40] diemol commented on #560
After reading the thread, I understand that the issue is present when the complex setup is used, but with a simplified setup the issue is gone. Could this be related to how tests are started and executed?

For me, it sounds like we cannot do a lot to help. Do you have any more findings @tedel88?

[2018-05-23 19:41] diemol commented on #591
Hi @sai-tirunagiri,

Which image do you mean exactly?

[2018-05-23 19:46] diemol commented on #463
@wmitsuda have you tried more to check on this? We don't have the bandwidth right now to work on this. As mentioned, if you feel like helping us with a PR, just let us know.

If you are just looking for a proof of concept of Selenium Grid in ECS, I recommend this project https://github.com/RetailMeNotSandbox/ecs-selenium, which was done specifically for ECS.

I'll close this issue since it didn't

[2018-05-23 19:56] sai-tirunagiri commented on #591
![image](https://user-images.githubusercontent.com/12015596/40447821-6ee9daf6-5ef1-11e8-8357-17a13ec08d5f.png)

The zalenium logo.

[2018-05-23 20:16] diemol commented on #591
But why do you want to remove our beautiful logo? 😢

Well, this is open source and anyone can change it of course... You need to build your own docker-selenium image and replace the Zalenium wallpaper so it gets used in the entry.sh -> https://github.com/elgalu/docker-selenium/blob/master/bin/entry.sh

Afterwards, specify the image you have created when running Zalenium via the `--seleniumImageNam

[2018-05-23 20:46] sai-tirunagiri commented on #591
@diemol , :) It's beautiful logo indeed.! But, wanted to perform some experiments on this.

I will go ahead and try this. Thank you very much.!

[2018-05-23 20:46] #591 closed

[2018-05-23 20:59] diemol commented on #591
Sounds good, post a picture of your experiments :)
And star the projects to support us!

[2018-05-23 23:31] shiva4983 commented on #438
Hi @TomLarrow , Thanks for the explanation its very helpful. I wonder how to pass the proxy credentials.

I tried passing in the proxy url. but its not working. I am getting Authentication Required window.

Any advice here is much appreciated.

FROM elgalu/selenium
ENV http_proxy="http://usrname:password@proxyip:8080" https_proxy="http://usrname:password@proxyip:8080" NO_PROXY="172.16/12, 10.0.0.0

[2018-05-24 06:51] sayom88 commented on #588
Thanks for the updates. Yes you can close it now.

[2018-05-24 06:59] tedel88 commented on #560
Hi @diemol,

yes maybe it is related to that. I will take a closer look if i have time.
I will open a new issue or reopen this one when i have a reproducible setup.

[2018-05-24 06:59] #560 closed

[2018-05-24 14:25] degerlac commented on #585
Thanks for the feedback.

[2018-05-24 20:23] WarleyGabriel opened #593 "Session was terminated due to FORWARDING_TO_NODE_FAILED"
I'm not sure if this is related to zalenium but seems to happen only with it.

[code]

We get this error randomly.

Any ideas?

Zalenium Image Version(s): 3.12.0
Docker Version:  18.05.0-ce, build f150324
OS: Ubuntu 16.04.4 LTS
Docker Command to start Zalenium:
``
 docker run -d -ti --name zalenium -p 4444:4444 \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -v /tmp/videos:/home/seluser/videos

[2018-05-24 20:42] shiva4983 opened #594 "Node container terminate and restart continuously"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
3.12.0
Docker Version:
17.09.1-ce

OS:
Linux
Docker Command to start Zalenium:
C:\Users\svelusw>docker run --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /c/Users/svelusw/tmp/videos:/home/seluser/videos -e "zalenium_http_proxy=Pr

[2018-05-25 11:40] pearj commented on #438
@shiva4983 I solved this by the cntlm proxy in a container with the username and password already baked in. Then selenium could use the proxy without a password.  Selenium doesn't have a supported way of passing in proxy credentials I don't believe.

[2018-05-25 15:11] diemol commented on #593
Hi @WarleyGabriel,

It is hard to say, can we get more information? Providing the Zalenium logs would be useful.

[2018-05-25 15:12] diemol commented on #580
Sorry for the late reply, the normal Zalenium log, all the output you see after `docker run...` is executed.

[2018-05-25 20:02] WarleyGabriel commented on #593
Hi @diemol

Is this log helpful?

[code]
Thanks!

[2018-05-26 02:02] pearj commented on #593
Hi @WarleyGabriel,

I see in your start command you’re using: selenium-grid:latest

Only images based off `elgalu/selenium` are supported.

[2018-05-26 13:36] diemol commented on #499
@yokodev you are right, the tag was working for our tests but of course for the quick start guide it did not work.

I just fixed that and it will be merger between today and tomorrow.

[2018-05-26 22:42] diemol commented on #491
Thank you @amalsgit @gsaimadhu for confirming that using Apache makes the issue go away. Nevertheless, this is just a workaround since in the long term the Grid will use only OkHttp.

Therefore, I have been working on this one most of the day and I have not been able to figure out the root cause. The provided logs show that this is happening after a session has been created and using nodes that ha

[2018-05-27 09:44] pearj commented on #491
@diemol for retry you’d probably want to try an exponential backoff type scenario with a random wait, since it might be related to file handles you need to spread out the times that they are retrying.

But I think we could get a long way by reimplementing the okhttp client in the registry, but caching the ssl bits across all requests, as they are the ones that failed. From my quick research they a

[2018-05-27 11:03] diemol commented on #491
@pearj for the first approach I want to implement a very simple retry (3 times) with a random delay between them and see what feedback we get. If that actually solves the problem, then we can evolve it to something more sophisticated I would say.

The good thing is that I was able to reproduce it using brute force, by this I mean that I executed 100 times a small test suite with two threads and th

[2018-05-27 11:06] diemol commented on #491
About reimplementing the OkHttp client, I don't know, I would not like to divert too much from the upstream implementation unless it is really needed. If there is really something that needs to be handled, ideally we should implement it, try it, and then send a PR upstream.

[2018-05-27 12:34] pearj commented on #491
@diemol yeah fair enough. I think the main thing we need to check is that SSL to different hosts still works after changing the OkHttp client, although I'm not immediately sure how to run a selenium node under SSL.

[2018-05-27 12:42] pearj commented on #491
Hmm, having a look at caching the trustmanager and the ssl connection factory. It would be a bit fiddly, or we'd have to copy/paste init code out of okhttp itself. Can't see the selenium guys accepting something like that...

Maybe we need more information about this problem, ie if @amalsgit @gsaimadhu have unusually low file limits set for docker.

@diemol you said that you'd seen this error befo

[2018-05-27 12:49] pearj commented on #491
Hmm, I think one way to reuse the http client is to use an existing http client to build another one. That might be the way to do it.

https://github.com/square/okhttp/blob/db18f0e404ab35c7b23e8ecc27913d717e96eb84/okhttp/src/main/java/okhttp3/OkHttpClient.java#L234

[2018-05-27 13:00] pearj commented on #491
Ahh, you can grab the factories out of an existing client.

I guess that'd be another way to do it. You'd have a build an initial client, and then grab the `sslSocketFactory` and `certificateChainCleaner` and cache it.

@diemol are the selenium guys likely to accept something we don't know how to reproduce, ie, we say we're fixing this "No System TLS" problem, so we refactor OkHttpClient usage a b

[2018-05-27 15:09] shiva4983 commented on #438
Hi @pearj  Thanks for the information. Can you please elaborate more on how to make selenium container to use the cntlm proxy container?

[2018-05-27 18:56] shiva4983 commented on #594
an Update, it is happening only when I pass the proxy value. I think the issue is with elgalu/selenium.

[2018-05-27 19:09] diemol commented on #491
@pearj I was able to reproduce just by running lots of tests, after executing ~500 tests I get the issue once or twice.

The implemented retry is very naive, just catches the AssertionError, logs it and tries again up to 3 times, after that, it gets thrown.

So I executed the ~500 tests a couple of times more, with a local version of Zalenium with the retry, and I can see how the issue pops up but

[2018-05-27 19:13] diemol commented on #594
Hi @shiva4983,

That is clearly the issue, when using `"zalenium_http_proxy=Proxy"`, then the created containers will look for a proxy called "Proxy" and it probably won't find it. You need to pass something like `"zalenium_http_proxy=http://myproxy.example.com:8080"`, basically the full proxy url.

[2018-05-27 19:28] shiva4983 commented on #594
Hi @diemol , thanks for the quick reply. May be I have confused you by putting "Proxy" but what I meant by Proxy is my full proxy address ex: "http://ProxyUsername:ProxyPassword@ProxyIP:Port". Even though I am facing the issue.

[2018-05-27 19:50] WarleyGabriel commented on #593
Hi all,

@diemol Yes, this image is based on `elgalu/selenium`, this is DockerFile her.

[code]

I get that error after more or less seven minutes of suite execution, usually.
During the test suite the session is created only once, on the first test.
I think the hardware configurations meet, because with the version: 3.11.0e is working.
I can run in `elgalu/selenium` image, if necessary.
Thanks!

[2018-05-27 19:51] diemol commented on #594
I am not sure, that should work right away. Perhaps the password has some characters that need to be escaped or something like that? (I got that from googling 5 minutes, not sure if that is the case).

I see that you are also raising the issue in `elgalu/selenium`, but either here or there, what I suggest is that you try first and debug with a simple image if setting the proxy works, since it is q

[2018-05-27 19:51] #594 closed

[2018-05-27 19:58] shiva4983 commented on #594
Sure @diemol I will post join you guys in Slack.

[2018-05-27 20:11] diemol commented on #522
I'll close this issue since we can track progress in #525

[2018-05-27 20:11] #522 closed

[2018-05-27 20:14] diemol commented on #491
Just created #597 which seems to solve the issue with a very simple retry. If things go well, we'll merge and release soon so you guys can check it.

[2018-05-27 20:36] diemol commented on #535
Hi @FantomX1,  are you still having issues with the deployment? If so, perhaps you can join us at https://seleniumhq.herokuapp.com/, channel #zalenium, so things can move a bit faster for you.

[2018-05-27 22:19] pearj commented on #491
@diemol interesting, how many concurrent threads did you have running? I presume this was docker and not minikube?

Also, just read up a bit and noticed you said you could reproduce before, missed that message, whoops!

[2018-05-28 06:37] FantomX1 commented on #535
@diemol
Thank you, will give it a check in nearest time hopefully

[2018-05-28 07:56] diemol commented on #491
@pearj I only had two threads with 3 tests each one, basically I ran the tests we execute when we want to release `elgalu/selenium`.

The retry is being logged like this:
`Successfully created HttpClient for url http://172.17.0.6:40002/wd/hub, after attempt #2`.

I can try to reproduce only with the containers in the next days. Could you have a look at #597 please?

[2018-05-28 10:11] rmullaguri2308 opened #598 "Test name in dashboard is same for all scenarios"
Zalenium Image Version(s):

Docker Version:

If using docker-compose, version:

OS:

Docker Command to start Zalenium:

If using Kubernetes, specify your environment, and if relevant your manifests:

I am using cucumber-spring in java
## Expected Behavior -
I am expecting to see my scenario names on dash board.
Right now it displays the same test name instead I need scenario name dynamically so i

[2018-05-28 11:45] diemol commented on #598
Hi @rmullaguri2308,

As you mentioned, the test name is set via capabilities and this is connected to the WebDriver session, therefore the name will be that always in the dashboard.

Alternatives for that:
* Give us a hand on #490 so videos can be recorded on demand, in this case per scenario.
* Reference the scenarios in the video, see how to do it here: https://opensource.zalando.com/zalenium/#u

[2018-05-28 11:45] #598 closed

[2018-05-28 13:57] joaocfernandes opened #599 "keepOnlyFailedTests only logs failed tests"
## Zalenium Image Version(s):
3.12.0b
dosel/zalenium   c32f44676e9f        5 days ago          793MB

## Docker Version:
Docker version 17.12.1-ce, build 7390fc6

## Docker Compose:
docker-compose version 1.19.0, build 9e633ef

## OS:
Ubuntu 4.13.0-1018-azure

## Docker Command to start Zalenium:
docker-compose up -d

## Part of docker-compose.yaml config:

[code]

## Expected Behavior -
According

[2018-05-29 00:04] vkris6 commented on #560
Hi @tedel88 ,

I was seeing the exact same issue and i switch to zalenium 3.8.1c, but still saw the same issue. So does not look like zalenium issue as i had never encountered this before while using 3.8.1c.  As @diemol pointed out Selenium switched to OkHttp for all HTTP communication. The version used can be changed back to the Apache HttpClient by setting the `webdriver.http.factory` system pro

[2018-05-29 06:19] tedel88 commented on #560
Thanks @vkris6,

will try that as soon as possible :)

[2018-05-29 07:39] iMbaundso commented on #579
Hi all.

We've seen something similar in our Dashboard. From time to time we'll find a test result twice in the board (both marked as Timeout). Even if they are both marked as Timeout I can see that there is a video testname_SUCCESS.mp4 and testname_TIMEOUT.mp4 in those entries.
I've attached the important parts from the log. It looks like zalenium need's a hell lot of time for copying videos, log

[2018-05-29 11:44] iMbaundso commented on #579
Hi @pearj. They are not that long (around 1-3min).

If you look take a look at the logfile I've attached you see it started at 15:31:04 and ended at 15:32:21. However the grid was not able to do alle the log/vdieo/cleanup work until 15:33:51. Consequently the node was marked as stale and again being  log/vdieo/cleanup processed under TIMEOUT flag.

Of course we could think about increasing the tim

[2018-05-29 13:41] MarianoSalerno commented on #463
@diemol I'm having the same problem as @wmitsuda with docker version 17.05.0-ce and latest zalenium.

When I start zalenium using docker run directly it just works but when it starts using the task definition then it crashes with the same error message.

In my stacktrace it crashes in the DockerContainerClient class on line 519, which is the following:

`ContainerInfo containerInfo = dockerClient.

[2018-05-29 16:15] kkargatane commented on #577
Hi! I'm still seeing this issue on version 3.12.0b when running in --net=host mode.

This is the command I'm running:
[code]

This is the log output:
[code]

[2018-05-30 14:34] MarianoSalerno commented on #463
The root of the problem is that zalenium searchs for its container by name, and we can't control the name the container will get in AWS (its a combination of the cluster, service, task definition, revision, etc).

To solve this I could submit a PR that does one of:

- When the actual search by name returns null look for a container which name contains the name that was defined in one of the env va

[2018-05-31 06:37] ezwanharun opened #600 "Connection reset and connection refused"
I have execute my 40 automation test via parallel test which consist of 10 nodes. I do encounter an issue where my test cases didnt run / failed in the middle of test due to above title.

Zalenium Image Version(s): latest (3.12.0b)
Docker Version:  17.09.1-ce
OS: debian 9.3

Docker Command to start Zalenium:
sudo docker run --rm -di --name ${bamboo.zaleniumName} -p ${bamboo.zaleniumPort}:4444 -v /

[2018-05-31 07:09] espekkaya opened #601 "persistent shared volumes"
Zalenium Image Version(s):
latest

Docker Version:
18.03.1-ce, build 9ee9f40

OS:
Ubuntu

Docker Command to start Zalenium:
docker run --rm -ti -d --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos -v /home/sysadmin/zalenium/:/data --privileged   dosel/zalenium start --videoRecordingEnabled false

Hello,
I'm newbie for docker and need to y

[2018-05-31 07:18] diemol commented on #491
Hi all,

This has been fixed in the latest release, the workaround should not be needed anymore. Please try the https://github.com/zalando/zalenium/releases/tag/3.12.0c release and let us know how it went.

[2018-05-31 07:18] #491 closed

[2018-05-31 14:48] espekkaya commented on #601
Here is solution : (it's written on zalenium website. I have missed)

For example, mounting: -v /your/local/folder:/tmp/node/home/seluser/folder will map to /home/seluser/folder on the node.

This can be used to provide further customization to your nodes, such as adding client certificates for your browser, or mimicking prior multi-purpose folder, both shown below.

[2018-05-31 14:48] #601 closed

[2018-05-31 15:13] diemol commented on #600
Hi @ezwanharun,

Could you please provide the logs from Zalenium?

[2018-05-31 16:09] diemol commented on #463
Hi @MarianoSalerno!

Thanks for looking into it. If you are eager to try it, then I think that the first option is more simple and less changes are needed.

I guess you already know how to build your own docker image for Zalenium, so if you want to, you can give it a try and test it AWS ECS. One extra thing that would be really cool is to add some basic docs to show people how to use it.

I'll reo

[2018-05-31 19:34] diemol commented on #525
Closing after the chat in the #zalenium channel at https://seleniumhq.herokuapp.com/

Feel free to open a new issue in case something else pops up.

[2018-05-31 19:34] #525 closed

[2018-06-01 05:02] LKay commented on #580
The logs are huge due to log level, but let me paste here just the errors I noticed:
[code]

[2018-06-01 08:36] ezwanharun commented on #600
Hi @diemol

`
61f-b37a-aa87f5ba19d0 (int. key, remote not contacted yet.) to http://172.17.0.4:40005/wd/hub at 4:31:29 PM","level":"INFO","level_value":20000,"application":"zalenium"}
{"@timestamp":"2018-06-01T16:32:48.935+08:00","@version":"1","message":"[d273b351f76d3edf384fc66219f2b2ddc86d35786971a8ab52204f4fd3db4976] has been idle [90372] which is more than [90000]","logger_name":"de.zalando.e

[2018-06-01 08:37] ezwanharun commented on #600
I saw there is some log mentioned that proxy was stuck or stale

[2018-06-01 08:59] bramvdklinkenberg opened #603 "Readiness probe failed: HTTP probe failed with statuscode: 502"
Hi,

I am trying to deploy the zalenium helm chart in my newly deployed aks kuberbetes (1.9.6) cluster in Azure. But I don't get it to work. The pod is giving the log below:

`[bram@xforce zalenium]$ kubectl logs -f zalenium-zalenium-hub-6bbd86ff78-m25t2
Kubernetes service account found.
Copying files for Dashboard...
cp: cannot create regular file '/home/seluser/videos/index.html': Permission den

[2018-06-01 09:02] bramvdklinkenberg commented on #603
I guess it has to with rbac because of this part "Error initialising Kubernetes support. io.fabric8.kubernetes.client.KubernetesClientException: Operation: [get] for kind: [Pod] with name: [zalenium-zalenium-hub-6bbd86ff78-m25t2] in namespace: [default] failed. at "

I created a clusterrole and clusterrolebinding for the service account zalenium-zalenium that is automatically created by the helm c

[2018-06-02 03:34] pearj commented on #603
This problem:
```cp: cannot create regular file '/home/seluser/videos/index.html': Permission denied cp: cannot create directory '/home/seluser/videos/css': Permission denied cp: cannot create directory '/home/seluser/videos/js': ```
Is because you need to mount a volume at `/home/seluser/videos`.

Regarding the role and rolebinding, take a look at:

https://github.com/zalando/zalenium/blob/master

[2018-06-02 20:41] diemol commented on #580
It seems you were having this same issue #491

And this was fixed in a release done 3 days ago https://github.com/zalando/zalenium/releases/tag/3.12.0c

So please test again with that newer version. I am going to close the issue since it was the same one as the mentioned above, but if you find a new problem, please don't doubt to create a new issue.

[2018-06-02 21:32] diemol commented on #528
Well, sadly I have not had the time to work more on the information endpoint and we haven't got any PR to improve it.

Nevertheless, I just realised that there is already a way to do this. The information endpoint is located at: http://localhost:4444/dashboard/information, and you'll see a JSON like this:
[code]

From where you can extract the `fileName`.

After that, If I wanted to download the f

[2018-06-02 21:32] #528 closed

[2018-06-02 22:33] diemol commented on #599
Hi @joaocfernandes,

Sorry for the delayed reply.

To be honest, when we built the feature it was meant to keep information related to the failed tests, so people could add them to their test reports. I understand that one can go more into detail and say that the rest of the tests should be shown without video, but the feature is only about keeping information from failed tests.

We also thought t

[2018-06-02 22:33] #599 closed

[2018-06-02 22:34] diemol commented on #430
@adrichem I hope you didn't change your mind :) Will you send us a PR?

[2018-06-03 00:12] joaocfernandes commented on #599
Hi @diemol ,

Thanks for your response. I understand your point. I have created a PR #605  with a small change to the flag description.

Best Regards,

[2018-06-04 05:49] LKay commented on #580
I tested that with the most recent version of the image `3.12.0c` and the above error is not showing anymore in the logs but session are still being randomly terminated yet because of different reason:
```Session [f89a5cd1c476b3c2f645885a85a02bb2] was terminated due to ORPHAN`. Notice change from `FORWARDING_TO_NODE_FAILED` to `ORPHAN`. The test runner goes through few tests then hangs for a while

[2018-06-04 06:43] diemol commented on #593
Just one more question, is this happening during test execution or only when the session is being created?

[2018-06-04 11:54] bramvdklinkenberg commented on #603
locally with minikube I get it to work when I create a clusterrolebinding of the zalenium-zalenium serviceaccount with the clusterrole cluster-admin.

[2018-06-04 13:03] bramvdklinkenberg commented on #576
@sagarpinninti could you check if you had the same issue as I am having right now, https://github.com/zalando/zalenium/issues/603? If so, how did you fix the rbac issue?

[2018-06-04 13:56] WarleyGabriel commented on #593
Hi, no problem.
This is happening during test execution, after more or less seven minutes the start.
Thanks!

[2018-06-04 14:16] javacoldbrew opened #606 "How to start up Zalenium with a different version of docker-selenium"
I understand that I can start a different version of Zalenium by running:
`docker run --rm -ti --name zalenium -p 4454:4444 -v /var/run/docker.sock:/var/run/docker.sock --privileged dosel/zalenium:3.8.1a start`

But how would I be able to choose which docker-selenium (elgalu/selenium) that Zalenium uses?

[2018-06-04 14:43] javacoldbrew opened #607 "Changing Selenium Log level"
<img width="708" alt="zaleniumseleniumloglevel" src="https://user-images.githubusercontent.com/25971275/40923408-ca0a0d44-67e2-11e8-8aac-b44c1686758b.PNG">

How would I be able to change the Selenium Log level on the Dashboard page?

I am using WebdriverIO and I am able to change the log level in `wdio.conf.js`

[code]

But this only changes the log level in the terminal.

[2018-06-04 15:14] iMbaundso commented on #606
Hi @javacoldbrew.

In the docs (https://opensource.zalando.com/zalenium/) you'll find a parameter --seleniumImageName which you could set to eg. "elgalu/selenium:3.12.0-p1"

[2018-06-04 17:20] javacoldbrew commented on #606
@iMbaundso Thank you so much!

[2018-06-04 17:31] javacoldbrew commented on #607
@diemol Thank you for informing me. Are there plans for a feature like this to be added?

[2018-06-04 20:03] diemol commented on #607
I don't think so, it does not seem to add so much value to the end result I would say.

Nevertheless, we are always open to PRs :)

I will close this issue since there is no task for us.

[2018-06-04 20:03] #607 closed

[2018-06-05 10:36] bramvdklinkenberg commented on #603
I deployed the application the exact same way on an ACS cluster (Azure) and it works.

[2018-06-05 11:01] adrichem commented on #430
Working on it. It got somewhat low in my stack of priorities :)

[2018-06-05 11:29] bramvdklinkenberg commented on #576
@sagarpinninti thanks for the info! was that on a self setup k8s cluster with rbac enabled?
I am trying to deploy on an AKS cluster (Azure) but the cluster-admin clusterrole is not there (accessible).
Deployed it on a ACS (also Kubernetes) cluster and there I get it to work though. But both clusters don't even have rbac enabled...
Locally I got it to run with minikube as well. So something happeni

[2018-06-05 11:42] sagarpinninti commented on #576
Yes its on the self setup k8s with rbac enabled. Sorry i am not using AKS to do a  quick check.

[2018-06-05 17:30] diemol commented on #603
Do you know what the difference is between ACS and AKS?

Besides that, I am not sure how to help, and it actually might be the first one trying to deploy Zalenium en AKS :) So I hope you get some success there and perhaps you can help us to improve the docs!

[2018-06-05 18:07] MarianoSalerno commented on #463
@diemol It's done (#609), please review it when you have time. I'll write the docs when I finish setting up everything here, with this change I only know that zalenium will start but perhaps there are more pitfalls to be found

[2018-06-06 05:58] bramvdklinkenberg commented on #603
The differences shouldn't be much. AKS is a Kubernetes PaaS solution on Azure and ACS is also a Kubernetes service but more IaaS. Both don't have RBAC enabled. Only difference k8s wise is that ACS is running 1.7.7 and AKS is running 1.9.6.
Going to test if zalenium works in AKS with version 1.7.7 works or not.

[2018-06-06 07:29] bramvdklinkenberg commented on #603
It works with AKS and k8s version 1.7.7.... but it also works with minikube and k8s version 1.10.0...
bit lost at the moment why it doesn't work with aks and k8s v1.9.6 and higher.
going to dive into it.

[2018-06-06 09:22] pearj commented on #603
Maybe you’re not allowed to create cluster role bindings in aks? Only role bindings?
Zalenium doesn’t specifically need a cluster role binding. You could grant the admin role for the namespace to the service account.

[2018-06-06 10:08] diemol commented on #463
Hi @MarianoSalerno,

Thanks for submitting the PR! I made some comments to it, please have a look.

[2018-06-06 11:46] bramvdklinkenberg commented on #603
I can create clusterrolebindings, but that shouldn't be the issue since rbac is not enabled on AKS (or ACS).
I can just do a helm install of the chart without having to do anything with clusterrolebindings.
But only on AKS with k8s v1.9.6 it doesn't work.

[2018-06-06 12:43] MarianoSalerno commented on #463
@diemol Thanks to you for reviewing it! Sorry but I can't see any comments in the conversation or files changed tabs, am I looking for them in the wrong sections?

[2018-06-06 13:33] bramvdklinkenberg opened #610 "cpu & memory request + limits"
In the values.yaml hub.cpuRequest, hub.cpuLimit and hun.memRequest are defined twice.
These values are for the browser pods right?

And the hub.resources.limits are for the intial zalenium pod right?

Is there a reason why the browser pod cpu and memory values are mentioned twice in the values.yaml?

[2018-06-06 13:39] pearj commented on #603
@bramvdklinkenberg Looks like your error is:
` Caused by: javax.net.ssl.SSLPeerUnverifiedException: Hostname kubernetes.default.svc not verified: certificate: sha256/OyzkRILuc6LAX4YnMAIGrRKLmVnDgLRvCasxGXDhSoc= DN: CN=client, O=system:masters subjectAltNames: [10.0.0.1] at okhttp3.internal.connection.RealConnection.connectTls(RealConnection.java:308) at `
Which is kinda weird, because the kubernet

[2018-06-06 13:44] pearj commented on #603
It actually kinda looks like certificate that the kubernetes api server is giving you is actually wrong. Maybe file a bug with microsoft?

The subject alt name is: `10.0.0.1`, isntead of `kubernetes.default.svc`

Maybe it's worth setting `KUBERNETES_MASTER=https://10.0.0.1`, as `kubernetes.default.svc` appears to have a broken certificate

[2018-06-06 13:48] pearj commented on #603
Here's the issue: https://github.com/Azure/AKS/issues/399

[2018-06-06 13:53] bramvdklinkenberg commented on #603
@pearj thanks! I will also create a support request in the Azure portal and refer to the github issue(s).

[2018-06-06 13:55] pearj commented on #603
Looks like the next release of kubernetes-client contains a [patch](https://github.com/fabric8io/kubernetes-client/pull/1086) that will use the `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` environment variables instead of defaulting to `kubernetes.default.svc`.

However, in the meantime I'm pretty sure if you set `KUBERNETES_MASTER=https://10.0.0.1:443` as an environment variable on the

[2018-06-06 14:02] pearj commented on #610
Ahh you mean https://github.com/zalando/zalenium/blob/master/docs/k8s/helm/local/zalenium/values.yaml#L59-L60 and  https://github.com/zalando/zalenium/blob/master/docs/k8s/helm/local/zalenium/values.yaml#L71-L72
It looks like a mistake to me, I presume that last entry takes priority. Feel free to submit a PR to correct it!

[2018-06-06 14:11] pearj commented on #600
@ezwanharun do you use any long sleeps in your test? Stale tests are ones which haven't sent any selenium commands in 90 seconds.  After that, zalenium terminates the test, that's what it looks like has happened here.

[2018-06-06 14:15] pearj commented on #579
@iMbaundso sounds like your server ran out of resources, which is why stop-video took so long? That'd be my guess. Video recording is very CPU intensive, so if you have too many containers for the hardware you have, then all sorts of weird things can happen.

[2018-06-06 14:32] pearj commented on #438
@shiva4983 This is the openshift deployment config I used to run the cntlm container I used:
[code]
And the configmap which is a default `cntlm.conf` file. This was so that I didn't have to write my own custom cntlm container
[code]

[2018-06-06 18:29] ximbal commented on #560
I am having this issue.

Running latest Zalenium version (3.12.0c) on a Ubuntu machine with 32 Gb in Ram and 8 prc.

with the following params:

`docker run --rm -ti --name elastic-selenium-grid -p 4444:4444 -e SAUCE_USERNAME -e SAUCE_ACCESS_KEY -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start --screenWidth 1280 --screenHeight 1024

[2018-06-06 18:34] ximbal opened #611 "dosel/zalenium:3.0.12c - unexpected end of stream on Connection"
Zalenium Image Version(s):
`3.0.12c `
Docker Version:
`Docker version 18.03.1-ce, build 9ee9f40`

OS:
` 4.4.0-127-generic #153-Ubuntu SMP Sat May 19 10:58:46 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

Docker Command to start Zalenium:

`docker run --rm -ti --name xcloud-elastic-selenium-grid -p 4444:4444 -e SAUCE_USERNAME -e SAUCE_ACCESS_KEY -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/vide

[2018-06-06 22:29] yuandanxu commented on #560
@diemol , I encountered this issue too after update to latest Zalenium. I have 5 zalenium nodes and in front of zalenium, I set up a ggr. I have 300 test cases, and 3 of them are failed due to this issue. Any suggestions?

[2018-06-07 08:51] ssrikantasahoo opened #612 "always show Europe/Berlin timezone"
hi
--timezone "Asia/Kolkata" command not working still its showing Europe/Berlin time
please help me?

[2018-06-07 09:08] diemol commented on #612
Hi @ssrikantasahoo,

E.g.
[code]

[2018-06-07 11:55] WarleyGabriel commented on #593
Ok, done.
I report any news.
Thanks!

[2018-06-07 12:22] bramvdklinkenberg commented on #603
I added the KUBERNETS_MASTER env to the chart and redeployed the chart. it works now!

[code]

[2018-06-07 12:44] ximbal commented on #611
Thank you for the reference, I will test it out and report back, and THANKS for making a great solution!

[2018-06-07 14:06] diemol commented on #612
Closing this one as it was treated in the #zalenium channel in Slack.

[2018-06-07 14:06] #612 closed

[2018-06-07 16:09] ximbal commented on #611
OK, tested it with the suggested parameter, my docker command is like this:
`$ docker run --rm -ti --name xcloud-elastic-selenium-grid -p 4444:4444 -e ZALENIUM_EXTRA_JVM_PARAMS="-Dwebdriver.http.factory=apache" -e SAUCE_USERNAME -e SAUCE_ACCESS_KEY -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start --screenWidth 1280 --screenHeight 10

[2018-06-07 18:58] yuandanxu commented on #593
I will have a try too, thanks a lot Diemol.

[2018-06-07 19:47] yuandanxu commented on #593
@diemol I just pulled latest selenium and have a test. I encountered following issue after add this parameter:
21:28:41.359 [qtp1829217853-26] INFO  o.o.g.w.s.handler.RequestHandler - Error forwarding the new session Request timed out waiting for a node to become available.
java.util.concurrent.TimeoutException: Request timed out waiting for a node to become available.
        at org.openqa.grid.w

[2018-06-07 19:58] diemol commented on #593
@yuandanxu that seems unrelated, that error means that a test request was in the queue for a long time and therefore it was cancelled.

Could you please try again?

[2018-06-07 21:36] yuandanxu commented on #593
@diemol yes, this issue still exists after remove the parameter. This issue doesn't exist before I pulled latest selenium. No tests can be started now. I will use previous version to have a test again.

[2018-06-11 11:21] clyton commented on #230
@diemol can you please fix this issue. I am getting the same problem as listed above. I am following your example. But I have also added the zalenium_http_proxy variables :

  export SAUCE_USERNAME=<your Sauce Labs username>
    export SAUCE_ACCESS_KEY=<your Sauce Labs access key>
    docker run --rm -ti --name zalenium -p 4444:4444 \
      -e SAUCE_USERNAME -e SAUCE_ACCESS_KEY \
      -v /tmp/vid

[2018-06-11 11:55] pearj commented on #593
I used the latest `elgalu/selenium` today as well and it worked fine too.

[2018-06-11 12:15] diemol commented on #603
That's great @bramvdklinkenberg!

Thanks @pearj for all the troubleshooting :)

Closing this issue.

[2018-06-11 12:15] #603 closed

[2018-06-11 12:19] pearj commented on #532
@mattiassluis  Finally looked at those logs, I don't understand why it's trying to access localhost when the pod spec shows 172.18.22.69:4445 as the zalenium hub, which is correct.

If it's still a problem, can you post the zalenium logs too, I don't see them in the attachments so far. I only see the pod logs.

[2018-06-11 12:30] bramvdklinkenberg commented on #603
Latest comment in issue Azure AKS 399:
"We identified the bug. This impacts AKS clusters with newer infrastructure feature. We will update here once the rollout is completed"

[2018-06-11 14:56] clyton opened #615 "Feature Request : Read SAUCE_LABS_URL from environment variable"
Hello,

In my company we use sauce labs to execute our tests. We are unable to use zalenium's SauceLabsRemoteProxy class to connect to our sauce servers because SAUCE_LABS_URL field is hard coded.

https://github.com/zalando/zalenium/blob/master/src/main/java/de/zalando/ep/zalenium/proxy/SauceLabsRemoteProxy.java

In my company we have different servers urls in the format : 'server_name.cloud.comp

[2018-06-11 15:37] micheletest commented on #615
This would be great to do for Browserstack also, the URL that my company is supposed to use is slightly different than the BROWSER_STACK_URL in zalenium.

[2018-06-11 17:37] WarleyGabriel commented on #593
Hi @diemol,

I used the latest version today.

`
elgalu/selenium     latest              6a177381ea4e        4 days ago          1.37GB
`
`
dosel/zalenium      latest              894ba0c2f69f        11 days ago         793MB
`

Docker Command to start Zalenium:

`docker run -d -ti --name zalenium -p 4444:4444 -e ZALENIUM_EXTRA_JVM_PARAMS="-Dwebdriver.http.factory=apache" -v /var/run/docker.sock:/

[2018-06-11 19:26] micheletest opened #616 "Kubernetes internal kube-dns not working with zalenium latest"
Zalenium Image Version(s):
3.12.0c (not working)
3.11.0h (working)

If using Kubernetes, specify your environment, and if relevant your manifests:
1.8.3
## Details -

I have zalenium deployed to the same Kubernetes namespace as my test runner machines. With version 3.11.0h, I was able to use kube-dns which resolved my service name `zalenium`. When I tried to upgrade to 3.12.0c, this stopped workin

[2018-06-12 11:50] metareven opened #617 "Feature: Request Creating browser nodes on other hosts"
Use case:
When running tests in parallel, one machine is unable to handle the load of having up to several hundred or more browser nodes running tests and thus the work needs to be distributed over multiple hosts.

Feature request:
The ability to either instantiate Zalenium with a list of docker sockets forwarded over SSH or something similar that Zalenium will use to create docker-containers, or

[2018-06-12 14:19] seeramzan commented on #410
Dear @diemol  I am also getting same error, on Window dockers. could you please help me to solve it.

[code]

[2018-06-12 14:24] seeramzan commented on #410
It works with below command

` docker run --rm -ti --name zalenium -p 4444:4444    -v /var/run/docker.sock:/var/run/docker.sock    -v /tmp/videos:/home/seluser/videos  --privileged dosel/zalenium start`

[2018-06-12 23:09] MarianoSalerno commented on #528
@diemol I would like to have an endpoint for the video and another for the logs (while I'm at it I could implement another one that returns all the data that the information endpoint returns but for only one test, or whichever ones you think would be useful to have), could you tell me what changes are needed? If it isn't that hard I'll try to make a PR.

Besides that I'm not sure which field of th

[2018-06-13 04:17] pearj commented on #615
@clyton feel free to submit a PR for this, as from what you say it sounds pretty straightforward.

[2018-06-13 10:07] metareven commented on #617
Ah cool. I looked at the documentation, but it does not reflect that the nodes are actually spun up on kubernetes and thus on different nodes. I just assumed that you could deploy the Zalenium hub itself which starts up containers on the same server on Kubernetes. Could you update the documentation to make that clearer?

[2018-06-13 10:56] diemol commented on #617
Hi @metareven,

Well, in general that is the nature of Kubernetes. But I get your point.

Would you like to give us a hand and improve the documentation?

[2018-06-13 19:08] micheletest opened #620 "Browserstack credentials aren't being set"
Zalenium Image Version(s):
3.11.0h

I am trying to send tests to zalenium, deployed on Kubernetes, to be forwarded to Browserstack. I have `browserStackEnabled` and set up the env with `BROWSER_STACK_USER` and `BROWSER_STACK_KEY`.  I can log into the zalenium pod and see that these are set properly and match my credentials on Browserstack.

on the zalenium deployment
[code]
Unfortunately, I get an

[2018-06-13 19:50] micheletest commented on #616
@pearj thanks for the response. I think I may have confused the issue by saying it's related to dns, I'm not sure about that. I did more testing today and the same command that works for 3.12.0a does not work for 3.12.0b. Starting on 3.12.0b I get a connection refused error.

`py.test -rws -k chrome_iphone --base-url https://better.com --capability browserName chrome --c
apability resolution 1440x

[2018-06-13 20:37] XAMelleOH commented on #600
Use `--no-sandbox` and `--disable-dev-shm-usage` chrome params

[2018-06-14 07:04] metareven commented on #617
Sure! I am just struggling to get Zalenium to work properly with minikube. Can give you some feedback once I get it up and running

[2018-06-15 10:53] xprommer opened #622 "zalenium cannot get access to the host via mac.host.local"
Zalenium Image Version(s):   3.12.0d

Docker Version:  17.06.1-ce

OS: Mac OS X 10.10.5

Docker Command to start Zalenium:
[code]

## Expected Behavior -
according to zalenium's docs `mac.host.local` should be accessible from zalenium

## Actual Behavior -
I'm running a node server on 8080 port on host machine, and zalenium cannot resolve `mac.host.local`:
[code]
but when I'm trying via IP it work

[2018-06-15 14:36] pearj commented on #622
Hi @xprommer I can't find any references to ".local" in https://opensource.zalando.com/zalenium/ or https://github.com/zalando/zalenium/blob/master/README.md what makes you think that it is supported?

I don't think it'd be that easy to get going, as we'd need to bundle avahi-daemon (which provides mDNS) in elgalu/docker-selenium.  It's something that we'd want to turned off by default, as you wou

[2018-06-15 16:01] xprommer commented on #622
Hi @pearj you can find this on https://opensource.zalando.com/zalenium/ in `Special Cases and Customisations ` section if you open `Accessing the host` item.  Regarding `--net=host` it doesn't work on mac, that's why zalenium team introduced `mac.host.local` hostname and unfortunately this doesn't work as well. So in order to make it work I use `--add-host` option with my host and ip

[2018-06-16 03:28] pearj commented on #622
Fair enough, @diemol should know when that option worked last.

[2018-06-16 03:41] pearj commented on #620
@micheletest my guess is that you're using the wrong credentials. You don't use your browserstack username and password here, you use the automation username and access key.

You can find it here: https://automate.browserstack.com/

If you want to get the local tunnel going have a read of #575

[2018-06-16 03:47] pearj commented on #616
What about the zalenium container logs? It's usually fairly noisy, so I'd be surprised if there wasn't a reason in there.

[2018-06-17 08:55] diemol commented on #463
Solved thanks to @MarianoSalerno and released in https://github.com/zalando/zalenium/releases/tag/3.12.0d

[2018-06-17 08:55] #463 closed

[2018-06-18 06:46] hariharanravichandran opened #623 "Not able to delete downloaded files from containers"
EveryTime We take a pull of latest Zalenium images.

Command we use to start Zalenium:
docker run --rm -d --name zalenium -p 4444:4444 -p 5555:5555
-v /usr/bin/docker:/usr/bin/docker
-v /var/run/docker.sock:/var/run/docker.sock
-v /tmp:/tmp/node/home/seluser/Downloads
-v /tmp:/home/seluser/Downloads
--label zalenium_main
--privileged dosel/zalenium:$zalenium start --seleniumImageName elgalu/seleni

[2018-06-18 11:14] pearj commented on #623
@hariharanravichandran how are you downloading the files? Normally you wouldn't download a file through selenium directly as it will just end up on a selenium node somewhere, which is not useful. And there is no way via the selenium API to manage files. So, I'm not sure how you were deleting files before? If you set `--maxTestSessions 1` then it will delete the selenium pod after every test, which

[2018-06-19 05:38] matthew-horrocks opened #624 "Once started Zalenium goes into a loop of tearing down a container, then starting a new one, without ever reaching the number of `--desiredContainers`."
Zalenium Image Version(s):
[code]

Docker Version:
`Docker version 17.12.1-ce, build 7390fc6qq`

If using docker-compose, version:
[code]

OS:
[code]

Docker Command to start Zalenium:
`sudo docker-compose up --force-recreate`

[code]

## Expected Behavior -
Zalenium starts all requested containers.

## Actual Behavior -
Once started Zalenium starts a number of containers, then goes into a loop of

[2018-06-19 05:43] matthew-horrocks commented on #624
startup log;
https://gist.github.com/matthew-horrocks/b9409a3b98d5df5efb79a4b89b00b245

[2018-06-19 05:47] matthew-horrocks commented on #624
debug log;
https://drive.google.com/file/d/1ur5tlq-urW6JHehNWSPWC57s5bTnuI-m/view?usp=sharing

[2018-06-19 09:28] pearj commented on #624
How much memory does your machine have? 32 containers seems like quite a lot given you’re not using kubernetes. If you make the desiredContainers 10 does it work?

I suspect if you want the scale you’re after you’re going to need to switch to kubernetes. When I run zalenium in kubernetes I assign 1Gb per selenium node and 1/2 a cpu which for you would be 32 GB ram and 16 cores. Which is a pretty l

[2018-06-19 09:55] matthew-horrocks commented on #624
It's an Azure instance, just running Zalenium... Standard DS5 v2 (16 vcpus, 56 GB memory)

It seems to be a recent update to Zalenium that's caused this error (I had to go back to docker-selenium for a while). I can try rolling back to a previous version and report back.

I do need to look into Kubernetes in Azure.

[2018-06-19 11:05] pearj commented on #624
@matthew-horrocks what version of zalenium were you running beforehand?

@bramvdklinkenberg is running Zalenium on the Azure Kubernetes Service (AKS) after a little bit of effort, see #603 for some of the detail.

[2018-06-19 15:14] TomLarrow opened #625 "Kubernetes Readiness probe fails if proxy is set"
Because of issue #438 we have to modify the elgalu/selenium image with this several line dockerfile:

FROM elgalu/selenium
ENV http_proxy=http://our.proxy.server.information https_proxy=http://our.proxy.server.information
ENV no_proxy="zalenium hub route, other internal addresses"

While this has worked for quite some time, it seems to now be causing the Kubernetes readiness probe to fail.

Here i

[2018-06-19 17:07] mickfeech commented on #625
It would seem to me that the dynamic nodes that spin up should inherit the proxy settings from the hub's deployment.  Similar to what I had said was needed in #438

[2018-06-19 17:44] MarianoSalerno commented on #463
@brian-villanueva With this fix you only need to replicate what docker does (with the docker run command that's in the docuemntation) in the task definition (volumes, port and the desired parameters with which you want to start zalenium), I can share the relevant parts of the json definition here but there's not much difference with what's documented, for now we don't have autoscaling or any addit

[2018-06-20 05:46] aalbul opened #626 "Hand baked IE slaves support"
Hi, is it possible to add few hand-baked windows slaves to hub? Will it even work? I mean, if this is just a selenium hub with some modifications for scalability, it should not be a problem?

I understand that maybe it is not really working well with overall idea of Zalenium, but i have a requirements to do testing on IE and unfortunately cloud solutions as a fallback are not an option because of

[2018-06-20 13:00] diemol commented on #626
Hi @aalbul,

Zalenium is a standard Selenium Grid with extended features, therefore you could register a Windows node as you would do it to a regular hub.

Please give it a try and let us know how it went. If any issue pops up, don't doubt to create a new issue.

[2018-06-20 13:00] #626 closed

[2018-06-21 07:35] jbengit opened #627 "Unique docker container name generation from release 3.11.0e"
Zalenium Image Version(s):

## Expected Behavior -
Hi,
During our Automation process, we need to change the DNS server per test / running container / browser. To be able to do this, we retrieved the selenium port of the specific test in run-time, and then guessed the running docker container associated with the test.
From the 3.11.0e release, the container name is now randomly generated. Is there

[2018-06-22 15:08] xriu commented on #463
@brian-villanueva I can share a sample config task_definition file

[code]

In case that you don't need a custom selenium image, just remove "seleniumImageName" flag and by default will pull "elgalu/docker-selenium:latest", json it's built with Terraform framework and other resources like ECS cluster with EC2 instances under lifecycle spot (spot-instances), AutoScaling group, LoadBalancer pointing

[2018-06-22 21:42] pearj commented on #625
It’s an easy fix. Just need to put `http_proxy=“”` in front of the curl command.

[2018-06-22 22:11] pearj commented on #625
@mickfeech it only was implemented for docker mode and not kubernetes, that’s why it doesn’t work. See https://github.com/zalando/zalenium/commit/76c66dd9986767a5119558bf00267cf5e936773f
I’m still of the opinion that the correct (and more powerful) way to set a proxy is via the selenium api. But I can see why people want this as it makes it transparent to the person running tests.
We should probab

[2018-06-23 07:06] clyton commented on #615
@pearj I have forked your code and done the changes. But can't seem to figure how to build and test my code. Can you guide me on this?

[2018-06-25 09:53] WFTesterMikeB commented on #603
Hi there - Apologies to hijack this thread, but heard you have been working on getting Zalanium working with Kuberentes on Azure...

We have a selenium grid working on Kubernetes, but wanted to get Zalaneium working - are you able to share how this should work? (in light of the bug mentioned above).

This is the sequence of commands we currently use to bring up Kuberenetes having created the resou

[2018-06-25 10:14] bramvdklinkenberg commented on #603
@WFTesterMikeB , the issue I had is solved. That was en AKS/Kubernetes issue.
I deployed it using [helm](https://github.com/zalando/zalenium/tree/master/docs/k8s/helm).

With the --set command or the values.yaml you can set specific configuration for your zalenium deployment.

[2018-06-27 05:40] diemol commented on #430
This was released a moment ago but I will keep it open for some days since the documentation is missing.

[2018-06-27 11:54] youssefbouzaine commented on #624
I have the same issue

[2018-06-27 14:34] dusansusic opened #631 "Dashboard is not showing - k8s"
Zalenium Image Version(s):
3.12e
Docker Version:
17.3.2
OS:
ubuntu 16.04

I found an issue here: https://github.com/zalando/zalenium/issues/353 and it aims that's solved but it's not.

When i deployed zalenium to the k8s, dashboard si not available till I log in into container:
`kubectl exec -it zalenium-799b7bff48-45ktv bash -n infra`
and execute:
`sudo cp * videos/`
it will work.

I am using k8s

[2018-06-27 17:09] matthew-horrocks commented on #624
Hi, sorry, I've been away and haven't had time to look at this. I'll roll back the version of zalenium tomorrow and find out when the problem started.

[2018-06-27 20:41] MilindThakur opened #632 "DockerContainerClient cannot find the containers during registration when using net=host option"
Seem the issue is same as #577. The other issue has been closed, but the last post on the thread shows error with build 3.12.0b (and the --net=host capability was re-added in 3.12.0a)

Staring the zalenium container with '--net=host' option fails to register the node container. Zalenium tries continuously but fails and marks the node down.

This was working a while ago, around build 3.11.0e.

I ha

[2018-06-28 12:43] matthew-horrocks commented on #624
What's the best way to roll back to a previous Zalenium version? Change the `image: dosel/zalenium` to `image: dosel/zalenium:3.11.0a`?

How do I find out what `elgalu/selenium` image to use?

[2018-06-28 17:09] micheletest commented on #616
Just tried this again with 3.12.0d and the problem still occurs for me with that version. As far as logs, I don't see any entries in any zalenium logs. The connection refused maybe is coming before it even gets to zalenium.

I'm still running version 3.11.0h because that version works for me. That part is the strangest because all I do is bump up the version, no other config changes and I can get

[2018-06-28 20:56] micheletest commented on #620
I'm using the correct credentials. The issue here is that using python, the user and key capabilities cannot be passed to Browserstack. According to their support:

`It seems it is not possible to trigger Remote URL with username and key using the capabilities. You need to pass them in the URL itself.`

I can confirm that the library I use - pytest-selenium - does pass the user and key via the URL

[2018-06-29 07:35] dusansusic commented on #631
Anyone else who experience this issue with dashboard?

[2018-06-29 11:58] pearj commented on #631
Port `4444` is the port that zalenium uses inside the container. Your nodeport is completely different, generally nodeports aren't useful for the internet anyhow. As most people would be using some sort of ingress.

On startup, it automatically tries to copy the dashboard files to the /home/seluser/videos mount.  Maybe look for copy errors on zalenium pod start, maybe you have some sort of permiss

[2018-06-29 12:09] pearj commented on #620
@micheletest you shouldn't need to put the user and key as capabilities on the test, they're supposed to be environment variables on your zalenium container like you mentioned in the original description.  Not sure why it isn't working for you, as it seems like you don't have the tunnel enabled. Because for the tunnel to work you do need to set a capability for the tunnel id.

[2018-07-01 11:52] hariharanravichandran commented on #623
Yes.. We are downloading a file at the end of test and validating the same. When we try to delete the file, we are getting operation not permitted..

[2018-07-01 12:39] seeramzan opened #633 "Zalanium not creating nodes more than 2"
**Please make sure that you provide enough information for us to help you with this issue. Thank you!**

Zalenium Image Version(s):
<3.7.0>
Docker Version:
<18.03.1>
If using docker-compose, version:
N/A
OS:
< Windows 10>
Docker Command to start Zalenium:
docker run --rm -ti --name zalenium -p 4444:4444 \ -v /var/run/docker.sock:/var/run/docker.sock \ -v /tmp/videos:/home/seluser/videos \ --privil

[2018-07-03 08:15] matthew-horrocks commented on #624
nudge @pearj I have free time for this over the next couple of days.

[2018-07-03 09:06] dusansusic commented on #631
@pearj  Thanks for reply.

Well, ignore the parts with ports, my bad.

Volume is provisioned as EBS on AWS, I am not mounting it at all, k8s do that.
Container path is `/home/seluser/videos` and mount point on node is `/tmp/videos`.
I have permission issues:
[code]
What I need to do to fix this? ^

also, I have RBAC enabled cluster and I created roles:
[code]

then, I got this in logs:
[code]

Why

[2018-07-03 09:41] dusansusic commented on #631
Created pull request https://github.com/zalando/zalenium/pull/635 for changing this.

[2018-07-03 13:50] pearj commented on #631
How did you configure your kubernetes cluster? It sounds broken to me, something seems broken with your ebs-provisioner.  I've run an OpenShift cluster in AWS backed by EBS with each pod running without root privileges, and I've never needed to chown the volume before use.

[2018-07-03 13:56] dusansusic commented on #631
provisioned with kops on aws, 3 masters + 3 nodes.

[2018-07-03 13:58] pearj commented on #631
It needs to delete pods because once it has finished with a selenium container it deletes it unless you've configured it with maxTestSessions.

How home the ebs provisioner is mounting the volume at the node at `/tmp/videos` that seems strange to me. At least in my openshift all the volume mounts for a pod end up at something like `/var/lib/minishift/openshift.local.volumes/pods/f34ef828-7ec4-11e8

[2018-07-03 14:08] pearj commented on #631
I just left another comment on #635, I think you can just fix your problem with an [init container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/). You could even use the same zalenium image since it needs to exist anyway, but just put the `sudo chown` line as the `command: `

[2018-07-03 15:55] micheletest commented on #620
@pearj I am setting the env variables on the container. Specifically:  `BROWSER_STACK_USER` and `BROWSER_STACK_KEY`. I can log into the zalenium deployment and verify they are set and correct. I'm using the Automate user and password, which I actually use elsewhere, so I know that they work in other contexts, just not via zalenium.

I don't think I need a tunnel, I'm hitting a public website so it

[2018-07-03 16:03] micheletest commented on #616
Thanks @pearj I'll check out your service config and see if I need to add anything to mine.

[2018-07-03 21:57] dusansusic commented on #631
Okay. Then, call it OpenShift example, not k8s. They're everything but not same product. Vanila k8s obviously has different behaviour.

[2018-07-04 02:13] pearj commented on #631
Can you show me the zalenium PVC and related PV kubernetes objects? Also the zalenium pod object.

[2018-07-04 05:46] dusansusic commented on #631
Sure, of course. Here are some info:
[code]

PVC:
[code]

PV:
[code]

deployment:
[code]

$ `kubectl get pv,pvc -n infra | grep zalenium`
[code]
ClusterRole and ClusterRoleBinding:
[code]

$ `kubectl get po -n infra  | grep zalenium`
[code]

$ `kubectl describe pod zalenium-799b7bff48-9x8ps -n infra`
[code]

$ `kubectl describe pod zalenium-40000-j9g57 -n infra`
[code]

[2018-07-04 11:51] pearj commented on #631
If you're interested in enabling the EBS auto provisioning, you need to setup a storage class and potentially a few other things.

But this is a starting point:
https://kubernetes.io/docs/concepts/storage/storage-classes/#aws

Some other resources:
https://blog.thecodeteam.com/2017/06/05/use-dynamic-volume-provisioning-kubernetes/

Apparently, you need `DefaultStorageClass` enabled as an admission

[2018-07-05 14:37] sunipa11 opened #640 "How to use kuberentes for Zalenium, any documentation? how to connect both?"
Hi,

How to connect kuberentes with Zalenium?

I able to create kuberentes pods and able to run selenium scripts using kuberentes selenium grid URL but it is not configured using zalenium so I am not able to see video and can't expect that it will auto scale on it's own, can somebody please help us here and guide me?

Regards

[2018-07-05 16:13] diemol commented on #528
@MarianoSalerno sorry for the late reply, as I mentioned in the previous comment, there is a rough endpoint for the dashboard information, and new endpoint or "subendpoint" of the dashboard could be created following the same principle for videos/logs/etc...

Would be great if a PR comes to improve that.

The id is the seleniumSessionId or the whole file name that is generated when the video file

[2018-07-05 16:31] diemol commented on #640
Hi @sunipa11,

If your issue is not covered by the documentation found here: https://opensource.zalando.com/zalenium/#kubernetes

It is not clear what you describe there, so I think it is better if you join us at https://seleniumhq.herokuapp.com/ and find us in the #zalenium channel.

[2018-07-05 16:31] #640 closed

[2018-07-05 19:00] clyton commented on #615
Since this feature has been added in merge #642 I am closing this issue.

[2018-07-05 19:00] #615 closed

[2018-07-06 09:41] dusansusic commented on #631
hm, to be honest I don't get it. When I say it's automatically provisioned by k8s, then it's provisioed by k8s. My cluster is provisioned by kops on AWS and when I am requesting resources, then nodes/masters are able to do that because of IAM roles.

I removed hostPath from Persistent Volume, PV is provisied as 80Gi EBS partition on AWS.

[code]

and:
$ `kubectl describe pv pvc-59fd6c7b-80fb-11e8-

[2018-07-06 11:14] pearj commented on #631
That new pv is using auto provisioning now which is good. Not sure why it doesn’t mount the volume with open permissions. Are running zalenium in priveleged mode by any chance?

Anyway you can always using an init container to fix the permissions.

[2018-07-06 11:26] baflQA opened #644 "Dump logs kept in the memory to the local file during the Runtime"
Zalenium Image Version(s):
3.12.0e
Env: K8S on AWS, deployed with the helm chart from the Zalenium repository.

## Expected Behavior -
Zalenium saves the logs displayed in the Dashboard to the local file so that they are not stored in the memory during the runtime.

## Actual Behavior -
While running a long suite of tests, a lot of RAM is being consumed by the Hub pod. The picture below shows the

[2018-07-06 11:43] matthew-horrocks commented on #631
I am having a similar problem.

The videos directory is mounted and files are copied. Is the group of the ```videos``` and ```logs``` directories correct?

[code]

[code]
[code]

[2018-07-06 12:20] dusansusic commented on #631
@pearj I think you're wrong, this with init container will not work because in the moment of executing init container nothing from zalenium container will exist. We need a line in script which will adjuct ownership. Sorry :)

[2018-07-06 13:15] matthew-horrocks commented on #631
@dusansusic 1.10.3 in Azure (AKS)

[2018-07-06 13:30] natkrish commented on #620
@I am having the same issue when trying to run on browserstack. Can you let me know whats the capability to set to identify zalenium?
Copying files for Dashboard...
Starting Nginx reverse proxy...
Starting Selenium Hub...
........15:27:33.212 [main] INFO  o.o.grid.selenium.GridLauncherV3 - Selenium build info: version: '3.12.0', revision: 'unknown'
15:27:33.219 [main] INFO  o.o.grid.selenium.GridL

[2018-07-06 13:51] pearj commented on #631
@dusansusic when you mount an empty volume to /home/seluser/videos nothing will exist in that directory anyway. So I’m not sure what you’re getting at. You would probably need to use the zalenium container as the init container so that when the chown command is run the right uid is used for seluser. Your fix in #635 relied on nothing from the zalenium container except the seluser and group existin

[2018-07-06 13:57] pearj commented on #631
@matthew-horrocks the fact that files exist in the videos directory means that zalenium was able to copy the files over, so I think you are getting further than @dusansusic.

Also, it looks likes you’ve named your mounts backwards for what it’s worth, according to the df command you posted. Shared is mounted at videos and videos is mounted at /tmp/mounted.

[2018-07-06 13:59] dusansusic commented on #631
Then I am making something on top (or below this). Problem exist, that's a fact and you cannot decline it.
If I change a deployment, then I can build my own container with this fix and then I don't have any reason to write this. The point is that k8s is mounting it on this way and that's not my fault. I reported that with hope we can merge the solution.
If you don't want to help, that's fine also.

[2018-07-06 14:12] pearj commented on #631
I’m not saying that there isn’t a problem for you. All I’m saying is that your problem can be solved by an Init Container without the need changing the behaviour for everyone else.

I presume you have not yet tried the Init Container?
All you need to do is mount the same volume in the Init Container and the main container and any changes made in the Init Container will be available in the main con

[2018-07-06 14:12] diemol commented on #615
Thanks for your contribution @clyton! This has been just released.

[2018-07-06 14:22] matthew-horrocks commented on #631
yeah, I noticed the mounts, too.

I've redeployed the containers a few time since and the mounts have been correctly setup... I've not changed anything 😆

[2018-07-06 14:44] pearj commented on #631
Thinking about it. I think I know the cause of your problem. Because zalenium by default runs as root and then switches to seluser (in OpenShift it never runs as root) then your implementation of kubernetes must restrict the permissions to the root user by default because it thinks that’s the user for the container.
So, I’d be open to a fix in zalenium.sh if it does a few extra checks before launc